Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

test(backend): match sql stream paging stub signature
  backend/tests/test_api.py
Due: ty-backend

test(cli): cover unsafe remote helper urls
  ugoite-cli/tests/test_cli_req_ops_006_http_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

test(e2e): log in before signed-in nav smoke check
  e2e/smoke.test.ts
Due: none

test(backend): restore req-fe-065 trace string
  backend/tests/test_api.py
Due: ty-backend

fix(backend): skip runtime sync in container startup
  backend/Dockerfile
Due: ty-backend

chore(cli): refresh main merge resolution
  docs/guide/auth-overview.md
  docs/guide/cli.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/config.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

chore(auth): refresh main merge resolution
  docs/guide/auth-overview.md
  docs/guide/cli.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/config.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

style(backend): format REQ-FE-065 trace comment
  backend/tests/test_api.py
Due: ty-backend

fix(cli): restore explicit auth shell guidance
  ugoite-cli/src/commands/auth.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: cover dev auth proxy invalid-url path
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_http_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: stabilize core coverage workflow
  .github/workflows/rust-ci.yml
  backend/tests/test_api.py
Due: ty-backend

fix: keep release compose storage writable
  README.md
  docker-compose.release.yaml
  docs/guide/container-quickstart.md
  docs/guide/troubleshooting-compose-startup.md
  docs/tests/test_guides.py
  scripts/verify-release-container-quickstart.sh
Due: none

test: close auth coverage gaps
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
Due: rustfmt, cargo-clippy, ty-cli

test: align REQ-FE-065 backend traceability
  backend/tests/test_api.py
Due: ty-backend

test: shorten REQ-FE-065 trace strings
  backend/tests/test_api.py
  docs/spec/requirements/frontend.yaml
Due: ty-backend

docs: prep release quickstart spaces dir
  docs/guide/container-quickstart.md
  docs/guide/troubleshooting-compose-startup.md
  scripts/verify-release-container-quickstart.sh
Due: none

test: share CLI env lock across unit tests
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/http.rs
  ugoite-cli/src/lib.rs
  ugoite-cli/src/test_support.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: add space mode recovery hints
  ugoite-cli/src/commands/space.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

docs: add browser-first walkthrough
  README.md
  docs/guide/auth-overview.md
  docs/guide/browser-first-entry.md
  docs/guide/container-quickstart.md
  docs/guide/local-dev-auth-login.md
  docs/spec/index.md
  docs/tests/test_guides.py
  docsite/src/lib/navigation.test.ts
  docsite/src/lib/navigation.ts
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
Due: none

docs: add deprecated CLI command migration notes
  docs/guide/cli.md
Due: none

docs: surface compose secret prerequisites earlier
  README.md
  docs/guide/docker-compose.md
  docs/tests/test_guides.py
Due: none

docs: qualify materialized view wording
  docs/spec/data-model/sql-sessions.md
  docs/spec/index.md
Due: none

docs: clarify derived index vs indexer terminology
  docs/spec/architecture/overview.md
  docs/spec/index.md
  docs/spec/requirements/index.yaml
Due: none

docs: add service account operations guide
  docs/guide/auth-overview.md
  docs/guide/service-accounts.md
  docs/tests/test_guides.py
Due: none

docs: add admin-space operations guide
  docs/guide/admin-space-operations.md
  docs/guide/local-dev-auth-login.md
  docs/tests/test_guides.py
Due: none

docs: clarify local-first browser positioning
  README.md
  docs/tests/test_guides.py
Due: none

docs: clarify browser walkthrough surfaces
  docs/guide/browser-first-entry.md
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
Due: none

docs: refine browser walkthrough guidance
  docs/guide/browser-first-entry.md
Due: none

docs: add browser automation next steps
  docs/guide/browser-first-entry.md
Due: none

fix: clarify frontend dev backend guidance
  frontend/README.md
  frontend/app.config.ts
  frontend/src/app.config.test.ts
Due: biome-ci

docs: clarify docsite local-first landing copy
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  docsite/src/pages/index.astro
Due: none

test: align release quickstart verification fragments
  docs/tests/test_guides.py
Due: none

test: refresh walkthrough onboarding expectations
  e2e/docsite-onboarding.test.ts
Due: none

docs: explain service account id handoff
  docs/guide/service-accounts.md
  docs/tests/test_guides.py
Due: none

fix: align readme caveat test with CI lint
  docs/tests/test_guides.py
Due: none

test: cover app config proxy branches
  frontend/src/app.config.test.ts
Due: biome-ci

fix: restore sql metadata anchor link
  docs/spec/requirements/security.yaml
Due: none

test: guard docsite browser walkthrough next step
  docs/spec/requirements/e2e.yaml
  docsite/src/lib/onboarding.test.ts
Due: none

docs: fix docsite API readiness health check
  docs/spec/requirements/ops.yaml
  docsite/src/lib/app-api-storage-healthcheck.test.ts
  docsite/src/pages/app/api-storage/index.astro
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
