Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix(mcp): validate resource space ids
  backend/src/app/mcp/server.py
  backend/tests/test_api.py
  docs/spec/api/mcp.md
  docs/spec/requirements/api.yaml
  docs/tests/test_mcp_docs.py
Due: ty-backend

fix(mcp): sanitize invalid resource id errors
  backend/src/app/mcp/server.py
  backend/tests/test_api.py
  docs/tests/test_mcp_docs.py
Due: ty-backend

fix(mcp): satisfy linted error handling
  backend/src/app/mcp/server.py
Due: ty-backend

style(backend): format mcp path validation regression
  backend/tests/test_api.py
Due: ty-backend

fix(mcp): simplify fenced markdown parsing
  backend/src/app/mcp/sanitization.py
Due: ty-backend

test(backend): cover mcp sanitization edge cases
  backend/tests/test_mcp_sanitization.py
  docs/spec/requirements/api.yaml
Due: ty-backend

fix(cli): unify core space path arguments
  README.md
  docs/guide/cli.md
  docs/tests/test_guides.py
  ugoite-cli/src/commands/asset.rs
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/form.rs
  ugoite-cli/src/commands/index.rs
  ugoite-cli/src/commands/search.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/commands/sql.rs
  ugoite-cli/src/config.rs
  ugoite-cli/src/main.rs
  ugoite-cli/tests/integration_test.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  ugoite-cli/tests/test_endpoint_config.rs
  ugoite-cli/tests/test_space.rs
Due: rustfmt, cargo-clippy, ty-cli

test(cli): align quickstart verification with positional space paths
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  scripts/verify-release-cli-quickstart.sh
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(storage): tighten test-connection endpoint validation
  backend/tests/test_api.py
  docs/spec/api/rest.md
  ugoite-core/tests/test_bindings.py
  ugoite-core/ugoite_core/storage_validation.py
Due: ty-backend, ty-core

fix(auth): refresh bootstrap auth manager config
  ugoite-core/tests/test_auth.py
  ugoite-core/ugoite_core/auth.py
Due: ty-core

fix(backend): keep security header middleware lint-clean
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
Due: ty-backend

feat(auth): require passkey-bound local dev login
  README.md
  backend/src/app/api/endpoints/auth.py
  backend/src/app/main.py
  backend/tests/test_dev_auth.py
  docs/guide/cli.md
  docs/guide/env-matrix.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  docs/spec/security/overview.md
  docs/tests/test_guides.py
  frontend/src/lib/api.test.ts
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-api.ts
  frontend/src/routes/api/[...path].ts
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/test/mocks/handlers.ts
  scripts/dev-auth-env.sh
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  ugoite-cli/tests/test_cli_req_ops_006_http_helpers.rs
  ugoite-core/tests/test_auth.py
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

fix(cli): cover normalized space root handling
  ugoite-cli/src/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(auth): keep generated bootstrap tokens stable
  ugoite-core/tests/test_auth.py
  ugoite-core/ugoite_core/auth.py
Due: ty-core

fix(security): preserve docs when adding API CSP
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
  docs/spec/requirements/security.yaml
Due: ty-backend

fix(auth): avoid totp replay fingerprint collisions
  backend/tests/test_dev_auth.py
  ugoite-core/ugoite_core/auth.py
Due: ty-backend, ty-core

test(security): stabilize cors rejection assertions
  backend/tests/test_api.py
Due: ty-backend

fix(backend): satisfy security header lint
  backend/src/app/core/middleware.py
Due: ty-backend

fix(backend): wrap cors preflight assertions
  backend/tests/test_api.py
Due: ty-backend

fix(backend): wrap cors validation lines
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
Due: ty-backend

fix(storage): satisfy storage validation checks
  docs/spec/requirements/storage.yaml
  ugoite-core/tests/test_bindings.py
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/storage_validation.py
Due: ty-core

fix(auth): stabilize bootstrap token cache
  docs/spec/requirements/security.yaml
  ugoite-core/tests/test_auth.py
  ugoite-core/ugoite_core/auth.py
Due: ty-core

fix(auth): address PR 997 review and CI
  backend/tests/test_dev_auth.py
  ugoite-cli/tests/test_cli_req_ops_006_http_helpers.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli

fix(backend): wrap REQ-OPS-015 test docstring
  backend/tests/test_dev_auth.py
Due: ty-backend

fix(auth): serialize auth manager cache refresh
  ugoite-core/ugoite_core/auth.py
Due: ty-core

test(auth): restore passkey replay coverage
  backend/tests/test_dev_auth.py
  docs/spec/requirements/ops.yaml
Due: ty-backend

docs: add newcomer concepts guide
  README.md
  docs/guide/concepts.md
  docs/spec/index.md
  docsite/src/lib/navigation.ts
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  docsite/src/pages/getting-started/index.astro
  docsite/src/pages/index.astro
Due: none

docs: lighten README onboarding
  README.md
Due: none

feat(docsite): simplify newcomer nav
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/navigation.test.ts
  docsite/src/lib/navigation.ts
  docsite/src/pages/getting-started/index.astro
  docsite/src/pages/index.astro
  e2e/docsite-onboarding.test.ts
Due: none

docs: expand auth overview guide
  docs/guide/auth-overview.md
Due: none

fix(cli): remove unsupported query flags
  ugoite-cli/src/main.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

feat(cli): surface endpoint mode state
  docs/guide/cli.md
  ugoite-cli/src/commands/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

feat: explain storage migration trade-offs
  docs/guide/storage-migration.md
  e2e/space-settings-storage-guidance.test.ts
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
Due: biome-ci

fix: stop advertising removed links surfaces
  docs/spec/features/links.yaml
  docs/spec/ui/README.md
  docs/spec/ui/pages/space-link-detail.yaml
  docs/spec/ui/pages/space-links.yaml
  frontend/src/lib/link-api.test.ts
  frontend/src/lib/link-api.ts
  frontend/src/lib/link-store.test.ts
  frontend/src/lib/link-store.ts
  frontend/src/routes/spaces/[space_id]/links.tsx
  frontend/src/routes/spaces/[space_id]/links/[link_id].tsx
  ugoite-cli/src/main.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli, biome-ci

fix(tests): format passkey replay auth test
  backend/tests/test_dev_auth.py
Due: ty-backend

fix(docsite): format newcomer navigation test
  docsite/src/lib/navigation.test.ts
Due: none

fix(frontend): format storage guidance copy
  frontend/src/components/SpaceSettings.tsx
Due: biome-ci

test(cli): cover endpoint mode guidance
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(tests): satisfy passkey replay ruff rules
  backend/tests/test_dev_auth.py
Due: ty-backend

test(e2e): cover concepts-first onboarding nav
  e2e/docsite-onboarding.test.ts
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
