Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

fix(frontend): render entry history timestamps
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/restore.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/restore.tsx
  frontend/src/test/mocks/handlers.ts
Due: biome-ci

fix(frontend): make saved SQL starters runnable
  e2e/lib/client.ts
  e2e/saved-sql-route.test.ts
  frontend/src/components/SqlQueryEditor.test.tsx
  frontend/src/lib/sql.test.ts
  frontend/src/lib/sql.ts
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.test.tsx
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.test.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].test.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
Due: biome-ci

fix(frontend): send canonical markdown from FormTable
  frontend/src/components/FormTable.test.tsx
  frontend/src/components/FormTable.tsx
Due: biome-ci

fix(frontend): route FormTable Add Row through editor
  docs/spec/requirements/frontend.yaml
  frontend/src/components/FormTable.test.tsx
  frontend/src/components/FormTable.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
Due: biome-ci

fix(frontend): page asset workspace entries
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
  docs/spec/features/entries.yaml
  docs/spec/ui/pages/space-assets.yaml
  frontend/src/lib/entry-api.ts
  frontend/src/routes/spaces/[space_id]/assets.test.tsx
  frontend/src/routes/spaces/[space_id]/assets.tsx
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(frontend): hide creation for metadata forms
  frontend/src/components/FormTable.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
Due: biome-ci

fix(frontend): keep root route public
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  shared/i18n/ui.json
Due: biome-ci

test(e2e): resolve Space routes by UUID
  e2e/entries.test.ts
  e2e/forms.test.ts
  e2e/lib/client.ts
  e2e/navigation.test.ts
  e2e/saved-sql-route.test.ts
  e2e/search-ui.test.ts
  e2e/smoke.test.ts
  e2e/space-settings-storage-guidance.test.ts
  e2e/ui-pages-screenshots.test.ts
  e2e/ui-themes.test.ts
Due: none

fix(frontend): block invalid required entry saves
  frontend/src/components/AssetField.tsx
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  shared/i18n/ui.json
Due: biome-ci

feat(server): add deployment-aware security headers
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  frontend/scripts/generate-static-index.ts
  mise.toml
Due: rustfmt, cargo-clippy, biome-ci

fix: preserve Entry attribution across lifecycle
  crates/ugoite-cli/src/commands/entry.rs
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-core/src/query.rs
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-domain/src/metadata.rs
  crates/ugoite-domain/tests/test_iceberg_native_domain.rs
  crates/ugoite-iceberg/benches/revision_log.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/health.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/requirements/form.yaml
  frontend/src/lib/metadata-columns.ts
  frontend/src/lib/types.ts
Due: rustfmt, cargo-clippy, biome-ci

feat: add owner-approved account recovery
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-domain/src/identity.rs
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/owner_recovery.rs
  docs/architecture/security/authentication-authorization.md
  docs/guide/operate/auth/auth-overview.md
  docs/guide/troubleshoot/log-redaction.md
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/quality/error-handling.md
  docs/spec/requirements/security.yaml
  docs/spec/security/authentication-overview.yaml
  docs/spec/security/overview.md
  docs/spec/stories/experimental.yaml
  docs/spec/versions/v0.1.md
  docs/version/v0.1/user-management.yaml
  frontend/src/lib/generated/openapi-types.ts
  frontend/src/lib/ugoite-client/protocol.test.ts
  frontend/src/lib/ugoite-client/protocol.ts
Due: rustfmt, cargo-clippy, biome-ci

test(server): avoid blocking mutex across awaits
  crates/ugoite-server/tests/api_contract.rs
Due: rustfmt, cargo-clippy

test(server): isolate environment-dependent contract tests
  crates/ugoite-server/Cargo.toml
  crates/ugoite-server/tests/api_contract.rs
Due: rustfmt, cargo-clippy

fix: preserve attribution in direct revision conversion
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-wasm/src/lib.rs
Due: rustfmt, cargo-clippy

fix: make owner recovery fence and audit delivery durable
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-identity/src/oauth.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/architecture/security/authentication-authorization.md
  docs/spec/api/openapi.yaml
  docs/spec/features/auth.yaml
  docs/spec/quality/error-handling.md
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  docs/version/v0.1.yaml
  docs/version/v0.1/user-management.yaml
Due: rustfmt, cargo-clippy

fix: close owner recovery review findings
  Cargo.lock
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/Cargo.toml
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/owner_recovery.rs
  docs/spec/api/openapi.yaml
  frontend/src/lib/generated/openapi-types.ts
Due: rustfmt, cargo-clippy, biome-ci

fix: fail closed on unsupported space authorization writes
  crates/ugoite-iceberg/src/authorization.rs
Due: rustfmt, cargo-clippy

fix: close recovery fencing and audit replay gaps
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/owner_recovery.rs
  docs/spec/api/openapi.yaml
Due: rustfmt, cargo-clippy

fix: close recovery fencing and replay gaps
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close owner recovery mutation races
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/owner_recovery.rs
Due: rustfmt, cargo-clippy

fix: close remaining recovery consistency gaps
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/owner_recovery.rs
  docs/spec/requirements/security.yaml
Due: rustfmt, cargo-clippy

fix: preserve recovery outcomes and audit attribution
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/owner_recovery.rs
Due: rustfmt, cargo-clippy

fix: coordinate recovery fence failure outcomes
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close recovery reservation and API fences
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close recovery replay and attribution gaps
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/owner_recovery.rs
Due: rustfmt, cargo-clippy

fix: close owner session race and cross-process audit coverage
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close remaining owner recovery review gaps
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close invitation and reset completion races
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: make recovery responses durable across fence retries
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: keep one-time recovery delivery fail-closed
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: preserve recovery response on ambiguous delivery claim
  crates/ugoite-identity/src/node_identity.rs
Due: rustfmt, cargo-clippy

fix: resume owner recovery challenges safely
  crates/ugoite-identity/src/node_identity.rs
Due: rustfmt, cargo-clippy

fix owner recovery delivery claim races
  crates/ugoite-identity/src/control_store.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix owner recovery reconciliation and legacy challenge contract
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
Due: rustfmt, cargo-clippy

fix recovery response supersession and challenge fencing
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
Due: rustfmt, cargo-clippy

migrate legacy recovery approvals to durable fences
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

harden owner recovery idempotency and response fencing
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/owner_recovery.rs
  docs/spec/api/openapi.yaml
Due: rustfmt, cargo-clippy

fix recovery retry terminalization and lifecycle fencing
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  docs/architecture/security/authentication-authorization.md
  docs/guide/operate/auth/auth-overview.md
  docs/spec/api/rest.md
  docs/spec/security/authentication-overview.yaml
  docs/spec/security/overview.md
Due: rustfmt, cargo-clippy

docs: publish owner recovery error codes
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
Due: none
