Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

docsite: add in-site search page
  docsite/src/lib/navigation.ts
  docsite/src/pages/search.astro
Due: none

ops: update issue 320 closure artifact
  backend/issue_closures/issue-320.txt
Due: ty-backend

chore: add issue 285 closure artifact
  backend/issue_closures/issue-285.txt
Due: ty-backend

chore: add issue 287 closure artifact
  backend/issue_closures/issue-287.txt
Due: ty-backend

chore: add issue 288 closure artifact
  backend/issue_closures/issue-288.txt
Due: ty-backend

chore: add issue 289 closure artifact
  backend/issue_closures/issue-289.txt
Due: ty-backend

chore: add issue 290 closure artifact
  backend/issue_closures/issue-290.txt
Due: ty-backend

chore: add issue 291 closure artifact
  backend/issue_closures/issue-291.txt
Due: ty-backend

chore: add issue 292 closure artifact
  backend/issue_closures/issue-292.txt
Due: ty-backend

chore: add issue 293 closure artifact
  backend/issue_closures/issue-293.txt
Due: ty-backend

chore: add issue 294 closure artifact
  backend/issue_closures/issue-294.txt
Due: ty-backend

chore: add issue 298 closure artifact
  backend/issue_closures/issue-298.txt
Due: ty-backend

chore: add issue 338 closure artifact
  backend/issue_closures/issue-338.txt
Due: ty-backend

chore: add issue 339 closure artifact
  backend/issue_closures/issue-339.txt
Due: ty-backend

chore: add issue 340 closure artifact
  backend/issue_closures/issue-340.txt
Due: ty-backend

chore: add issue 348 closure artifact
  backend/issue_closures/issue-348.txt
Due: ty-backend

Remove unnecessary closure artifact files for issues 300, 303, 305, 306, 308, 309, 310, 311, 312, 313, 318, 320, 326, 328, 329, 419, 420, 421, 422, and 423
  backend/issue_closures/issue-300.txt
  backend/issue_closures/issue-303.txt
  backend/issue_closures/issue-305.txt
  backend/issue_closures/issue-306.txt
  backend/issue_closures/issue-308.txt
  backend/issue_closures/issue-309.txt
  backend/issue_closures/issue-310.txt
  backend/issue_closures/issue-311.txt
  backend/issue_closures/issue-312.txt
  backend/issue_closures/issue-313.txt
  backend/issue_closures/issue-318.txt
  backend/issue_closures/issue-320.txt
  backend/issue_closures/issue-326.txt
  backend/issue_closures/issue-328.txt
  backend/issue_closures/issue-329.txt
  backend/issue_closures/issue-419.txt
  backend/issue_closures/issue-420.txt
  backend/issue_closures/issue-421.txt
  backend/issue_closures/issue-422.txt
  backend/issue_closures/issue-423.txt
Due: ty-backend

feat(devcontainer): install Copilot CLI feature
  .devcontainer/devcontainer.json
Due: none

feat(devcontainer): mount gh config and setup git auth
  .devcontainer/devcontainer.json
Due: none

ci: add devcontainer build and smoke workflow
  .github/workflows/devcontainer-ci.yml
Due: none

ci: enforce 100% rust coverage for core
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
Due: none

feat(docsite): add in-site search experience
  docsite/src/layouts/BaseLayout.astro
  docsite/src/pages/search-index.json.ts
  docsite/src/styles.css
Due: none

docs: fix root test command in README
  README.md
Due: none

docs: align dev task scope in README
  README.md
Due: none

docs: refresh README milestone status
  README.md
Due: none

devex(docsite): pin dev host to IPv4 localhost
  docsite/package.json
Due: none

test(docs): add README command drift guard
  docs/tests/test_guides.py
Due: none

devex: migrate mise monorepo config
  mise.toml
Due: none

fix(docsite): deduplicate overlapping docs slugs
  docsite/src/pages/docs/[...slug].astro
Due: none

feat(cli): support config path environment overrides
  ugoite-cli/README.md
  ugoite-cli/src/ugoite/endpoint_config.py
  ugoite-cli/tests/test_endpoint_config.py
Due: ty-cli

fix(cli): send structured logs to stderr
  ugoite-cli/src/ugoite/logging_utils.py
Due: ty-cli

fix(backend): add max query length guard for search
  backend/src/app/api/endpoints/search.py
  backend/tests/test_api.py
Due: ty-backend

fix(backend): cap query filter payload size
  backend/src/app/api/endpoints/search.py
  backend/tests/test_api.py
Due: ty-backend

fix(backend): unify delete asset 404 detail contract
  backend/src/app/api/endpoints/asset.py
  backend/tests/test_api.py
Due: ty-backend

feat(backend): add baseline payload length constraints
  backend/src/app/models/payloads.py
  backend/tests/test_api.py
Due: ty-backend

fix(backend): preserve endpoint id validation semantics
  backend/src/app/models/payloads.py
Due: ty-backend

fix(cli): satisfy line length in config path resolution
  ugoite-cli/src/ugoite/endpoint_config.py
Due: ty-cli

fix(devex): restore monorepo task root compatibility
  mise.toml
Due: none

ci: use practical rust coverage floor
  .github/workflows/python-ci.yml
Due: none

ci: use python shim in devcontainer smoke
  .github/workflows/devcontainer-ci.yml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
