Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

fix: harden sample job status retries
  ugoite-core/src/sample_data.rs
  ugoite-core/tests/test_sample_data.rs
Due: rustfmt, cargo-clippy, ty-core

fix: bind source compose frontend to loopback
  docs/guide/docker-compose.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
Due: none

test: decouple loopback docs check from auth token defaults
  docs/tests/test_guides.py
Due: none

fix: unblock quickstart and sample job ci
  docs/tests/test_guides.py
  scripts/verify-release-container-quickstart.sh
  ugoite-core/src/sample_data.rs
  ugoite-core/tests/test_sample_data.rs
Due: rustfmt, cargo-clippy, ty-core

fix(cli): secure remote endpoint configuration
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  ugoite-cli/src/commands/config.rs
  ugoite-cli/src/config.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  ugoite-cli/tests/test_endpoint_config.rs
Due: rustfmt, cargo-clippy, ty-cli

test: align endpoint transport coverage
  ugoite-cli/src/commands/config.rs
  ugoite-cli/src/config.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  ugoite-cli/tests/test_endpoint_config.rs
Due: rustfmt, cargo-clippy, ty-cli

test: fix req sec 011 traceability
  docs/spec/requirements/security.yaml
Due: none

fix: restore release quickstart auth probe
  docs/tests/test_guides.py
  scripts/verify-release-container-quickstart.sh
Due: none

style: format endpoint config test
  ugoite-cli/tests/test_endpoint_config.rs
Due: rustfmt, cargo-clippy, ty-cli

test: avoid page navigation download in api proxy e2e
  docs/spec/architecture/frontend-backend-interface.md
  docs/spec/requirements/security.yaml
  e2e/api-proxy-security.test.ts
  frontend/src/routes/api/[...path].test.ts
  frontend/src/routes/api/[...path].ts
Due: biome-ci

fix: accept proxied mock auth quickstart token
  scripts/verify-release-container-quickstart.sh
Due: none

chore(deps-dev): bump vite from 8.0.5 to 8.0.6 in /frontend
  frontend/bun.lock
  frontend/package.json
Due: biome-ci

fix: refresh frontend bun lockfile
  frontend/bun.lock
Due: biome-ci

fix: harden container runtime defaults
  backend/Dockerfile
  charts/ugoite/README.md
  charts/ugoite/templates/backend-deployment.yaml
  charts/ugoite/templates/frontend-deployment.yaml
  charts/ugoite/values.yaml
  docs/guide/helm-chart.md
  docs/spec/architecture/stack.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_helm_chart.py
Due: ty-backend

feat: add shell-aware auth exports
  docs/guide/auth-overview.md
  docs/guide/cli.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: clarify storage URI metadata semantics
  docs/guide/storage-migration.md
  docs/spec/api/rest.md
  docs/spec/requirements/frontend.yaml
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/lib/storage-topology.test.ts
  frontend/src/lib/storage-topology.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  shared/i18n/ui.json
Due: biome-ci

fix: reuse cached dev auth context in CLI
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_http_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: sanitize asset upload filenames
  backend/tests/test_api.py
  docs/spec/requirements/asset.yaml
  docs/spec/security/overview.md
  ugoite-cli/tests/test_assets.rs
  ugoite-core/src/asset.rs
  ugoite-core/tests/test_asset.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core

fix: scope SQL sessions to readable forms
  backend/src/app/api/endpoints/sql_sessions.py
  backend/tests/test_api.py
  backend/tests/test_sql.py
  docs/spec/data-model/sql-sessions.md
  docs/spec/features/sql.yaml
  docs/spec/requirements/api.yaml
  ugoite-core/src/index.rs
  ugoite-core/src/python_bindings.rs
  ugoite-core/src/sql_session.rs
  ugoite-core/tests/test_sql_sessions.rs
  ugoite-core/tests/test_sql_sessions_authz.py
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/_ugoite_core.pyi
  ugoite-core/ugoite_core/sql_sessions.py
Due: rustfmt, cargo-clippy, ty-backend, ty-core

fix: scope SQL session auxiliary tables
  backend/tests/test_sql.py
  docs/spec/requirements/api.yaml
  ugoite-core/src/index.rs
  ugoite-core/tests/test_sql_sessions.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-core

fix: bound row reference picker search
  backend/src/app/api/endpoints/entry.py
  backend/tests/test_api.py
  docs/spec/api/rest.md
  docs/spec/data-model/overview.md
  docs/spec/requirements/frontend.yaml
  e2e/entries.test.ts
  frontend/src/app.css
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/client.test.ts
  frontend/src/lib/search-api.ts
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  shared/i18n/ui.json
  ugoite-core/src/entry.rs
  ugoite-core/src/python_bindings.rs
  ugoite-core/ugoite_core/__init__.py
Due: rustfmt, cargo-clippy, ty-backend, ty-core, biome-ci

fix: align row reference picker refresh with main
  backend/src/app/api/endpoints/entry.py
  backend/tests/test_api.py
  docs/spec/api/rest.md
Due: ty-backend

fix(backend): repair non-root workspace ownership
  backend/Dockerfile
  docs/tests/test_helm_chart.py
Due: ty-backend

fix(entries): finish row reference picker checks
  backend/src/app/api/endpoints/entry.py
  backend/tests/test_api.py
  frontend/src/lib/client.test.ts
Due: ty-backend, biome-ci

fix(frontend): clarify storage URI metadata guidance
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
Due: biome-ci

fix(cli): clarify mock oauth proxy token guidance
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/http.rs
Due: rustfmt, cargo-clippy, ty-cli

test(cli): cover shell-aware auth branches
  ugoite-cli/src/commands/auth.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(sql): repair sql session acl CI checks
  backend/src/app/api/endpoints/sql_sessions.py
  backend/tests/test_sql.py
  ugoite-core/src/python_bindings.rs
  ugoite-core/tests/test_sql_sessions_authz.py
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/sql_sessions.py
Due: rustfmt, cargo-clippy, ty-backend, ty-core

test(backend): restore req-fe-065 mapping
  backend/tests/test_api.py
Due: ty-backend

test(docs): wrap helm hardening fragment
  docs/tests/test_helm_chart.py
Due: none

test(cli): format http auth assertion
  ugoite-cli/src/http.rs
Due: rustfmt, cargo-clippy, ty-cli

test(sql): wrap acl markdown fixtures
  backend/tests/test_sql.py
Due: ty-backend

fix(frontend): cover auth session nav
  frontend/src/components/Nav.test.tsx
  frontend/src/components/Nav.tsx
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-cookie.test.ts
Due: biome-ci

test(backend): wrap row reference picker docstring
  backend/tests/test_api.py
Due: ty-backend

test(cli): cover unsafe remote helper urls
  ugoite-cli/tests/test_cli_req_ops_006_http_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli
