Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix recovery fence retry and legacy approval safety
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/owner_recovery.rs
Due: rustfmt, cargo-clippy

fix owner recovery fence retry convergence
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close owner recovery replay races
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: preserve committed recovery replay identity
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: satisfy CI lint for recovery changes
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: quote recovery feature registry paths
  docs/spec/features/auth.yaml
Due: none

fix: align owner recovery contract and supersession
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/owner_recovery.rs
  docs/architecture/security/authentication-authorization.md
  docs/guide/operate/auth/auth-overview.md
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/quality/error-handling.md
  docs/spec/requirements/security.yaml
  docs/spec/security/authentication-overview.yaml
  docs/spec/security/overview.md
  frontend/src/lib/ugoite-client/protocol.test.ts
Due: rustfmt, cargo-clippy, biome-ci

fix: reconcile recovery reservations and trace audit tests
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/owner_recovery.rs
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
Due: rustfmt, cargo-clippy

fix: require RFC4122 UUIDv4 recovery keys
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

feat(cli): support remote asset uploads
  Cargo.lock
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/commands/asset.rs
  crates/ugoite-cli/src/http.rs
  crates/ugoite-cli/tests/test_assets.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/architecture/release/release-scope.md
  docs/guide/automate/cli.md
  docs/spec/api/openapi.yaml
  docs/spec/features/assets.yaml
Due: rustfmt, cargo-clippy

test(server): close CORS contract coverage
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
Due: rustfmt, cargo-clippy

docs(spec): quote CORS requirement description
  docs/spec/requirements/security.yaml
Due: none

ci: verify published release quickstarts
  .github/workflows/release-publish.yml
  docs/architecture/release/release-rearchitecture.md
  docs/architecture/release/release-scope.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/versions/index.md
  docs/spec/versions/v0.1.md
  docs/version/v0.1/release-preparation.yaml
  scripts/install-ugoite-cli.sh
  scripts/verify-release-cli-quickstart.sh
  scripts/verify-release-container-quickstart.sh
Due: none

ci: reuse caches for e2e and release builds
  .github/workflows/ci.yml
  .github/workflows/release-publish.yml
  docs/spec/testing/ci-cd.md
Due: none

test: automate node backup restore drill
  Cargo.lock
  crates/ugoite-identity/Cargo.toml
  crates/ugoite-identity/src/node_identity.rs
Due: rustfmt, cargo-clippy

feat(frontend): add audit log viewers
  frontend/src/app.css
  frontend/src/components/AuditLogViewer.test.tsx
  frontend/src/components/AuditLogViewer.tsx
  frontend/src/lib/audit-api.test.ts
  frontend/src/lib/audit-api.ts
  frontend/src/lib/auth-api.ts
  frontend/src/lib/settings-sections.ts
  frontend/src/lib/space-api.ts
  frontend/src/lib/types.ts
  frontend/src/lib/ugoite-client/index.ts
  frontend/src/routes/settings/security.test.tsx
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/spaces/[space_id]/settings.route.test.tsx
  frontend/src/routes/spaces/[space_id]/settings.sections.test.ts
  frontend/src/routes/spaces/[space_id]/settings.tsx
  shared/i18n/ui.json
Due: biome-ci

feat(security): add human approval objects for dangerous operations
  Cargo.lock
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-cli/src/commands/asset.rs
  crates/ugoite-cli/src/commands/entry.rs
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/Cargo.toml
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/architecture/security/authentication-authorization.md
  docs/guide/operate/auth/auth-overview.md
  docs/guide/operate/auth/service-accounts.md
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/data-model/directory-structure.md
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  frontend/src/lib/generated/openapi-types.ts
  frontend/src/lib/ugoite-client/protocol.ts
  frontend/src/routes/api/[...path].test.ts
  frontend/src/routes/api/[...path].ts
Due: rustfmt, cargo-clippy, biome-ci

fix(frontend): align audit viewer contract
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
  frontend/src/components/AuditLogViewer.test.tsx
  frontend/src/components/AuditLogViewer.tsx
  frontend/src/lib/audit-api.ts
  frontend/src/lib/generated/openapi-types.ts
  frontend/src/lib/types.ts
  frontend/src/lib/ugoite-client/protocol.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(security): linearize approval-bound mutations
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
Due: rustfmt, cargo-clippy

fix(security): close approval outcome and revocation gaps
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/api/openapi.yaml
Due: rustfmt, cargo-clippy

feat(server): sign eligible API responses
  Cargo.lock
  crates/ugoite-domain/src/id.rs
  crates/ugoite-iceberg/src/integrity.rs
  crates/ugoite-iceberg/tests/test_integrity.rs
  crates/ugoite-server/Cargo.toml
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/data-model/directory-layout.yaml
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/requirements/integrity.yaml
  docs/spec/security/overview.md
Due: rustfmt, cargo-clippy

ci: enforce frontend and docsite coverage gates
  .github/workflows/ci.yml
  deno.json
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  docsite/README.md
  docsite/deno.json
  docsite/src/ssot.test.ts
  docsite/vitest.config.ts
  frontend/README.md
  frontend/src/lib/ugoite-client/protocol-failure.test.ts
  frontend/src/lib/ugoite-client/protocol.test.ts
  frontend/vitest.config.ts
  mise.toml
  tools/coverage_gates_test.ts
Due: biome-ci

fix(security): bind approval to the executing route
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(server): keep policy JSON errors in API contract
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(security): classify approval CAS outcomes by transition
  crates/ugoite-iceberg/src/authorization.rs
Due: rustfmt, cargo-clippy

test: keep coverage contract lint-safe
  tools/coverage_gates_test.ts
Due: none

fix(ci): allow intentional approval helper arity
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

docs: synchronize roadmap and requirement status checks
  docs/version/unknown/roadmap.yaml
  docsite/src/spec-integrity.test.ts
Due: none

feat(release): publish channel-scoped release notes
  .github/workflows/release-publish.yml
  deno.lock
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/versions/changelog-alpha.md
  docs/spec/versions/changelog-beta.md
  docs/spec/versions/changelog-stable.md
  docs/spec/versions/changelog.md
  docs/version/changelog/alpha.yaml
  docs/version/changelog/beta.yaml
  docs/version/changelog/stable.yaml
  docs/version/v0.1.yaml
  docs/version/v0.1/release-preparation.yaml
  tools/deno.json
  tools/release-notes.ts
  tools/release-notes_test.ts
Due: none

ci: parallelize canonical build and E2E setup
  .github/workflows/ci.yml
  deno.json
  e2e/deno.json
  e2e/entries.test.ts
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
  e2e/smoke.test.ts
  mise.toml
Due: none

ci: serialize shared wasm setup before parallel tests
  mise.toml
Due: none

feat(frontend): add native asset previews
  crates/ugoite-server/src/lib.rs
  docs/spec/security/overview.md
  e2e/entries.test.ts
  frontend/src/app.css
  frontend/src/components/AssetField.test.tsx
  frontend/src/components/AssetField.tsx
  frontend/src/components/AssetPreview.test.tsx
  frontend/src/components/AssetPreview.tsx
  frontend/src/lib/asset-field-state.ts
  frontend/src/lib/asset-preview.test.ts
  frontend/src/lib/asset-preview.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

ci: bound parallel test resource usage
  .github/workflows/ci.yml
Due: none

fix(release): restore deterministic pre-v1 promotion
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/release-publish.yml
  CONTRIBUTING.md
  Cargo.toml
  README.md
  charts/ugoite/Chart.yaml
  charts/ugoite/values.yaml
  docs/spec/testing/ci-cd.md
  tools/release.ts
  tools/release_contract_test.ts
  version.txt
Due: none

feat: expose local sample seeding task
  docs/guide/develop/index.md
  docs/spec/requirements/ops.yaml
  mise.toml
  scripts/dev-seed.sh
  tools/workspace_test.ts
Due: none

fix: satisfy iceberg lint for MCP search pagination
  crates/ugoite-iceberg/src/index.rs
Due: rustfmt, cargo-clippy

fix: satisfy server clippy checks
  crates/ugoite-server/src/mcp.rs
Due: rustfmt, cargo-clippy

style: format derived relation docs
  docs/architecture/principles/north-star.md
  docs/architecture/release/release-scope.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
