Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix ci: add button types and valid bash placeholder
  docs/guide/cli.md
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: biome-ci

feat(auth): move core auth base to rust and add overview export
  ugoite-cli/src/ugoite/cli.py
  ugoite-cli/tests/test_cli_endpoint_routing.py
  ugoite-core/src/auth.rs
  ugoite-core/src/lib.rs
  ugoite-core/tests/test_auth_overview_consistency.py
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/_ugoite_core.pyi
  ugoite-core/ugoite_core/auth.py
Due: rustfmt, cargo-clippy, ty-cli, ty-core

docs(auth): add yaml contract and docsite authentication visualization
  docs/guide/auth-overview.md
  docs/spec/requirements/security.yaml
  docs/spec/security/authentication-overview.yaml
  docs/spec/security/overview.md
  docs/tasks/tasks.md
  docsite/src/pages/app/api-storage/authentication.astro
  docsite/src/pages/app/api-storage/index.astro
Due: none

fix(auth): address PR review on bootstrap fallback and contract checks
  docs/spec/security/authentication-overview.yaml
  ugoite-core/src/auth.rs
  ugoite-core/tests/test_auth_overview_consistency.py
  ugoite-core/ugoite_core/auth.py
Due: rustfmt, cargo-clippy, ty-core

backend: redact hmac key from spaces responses
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
Due: ty-backend

backend: narrow mcp signing bypass to sse responses
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
Due: ty-backend

backend: make default-space bootstrap opt-in
  backend/src/app/main.py
  backend/tests/test_api.py
Due: ty-backend

ugoite-cli: support configurable http timeout
  ugoite-cli/src/ugoite/endpoint_config.py
Due: ty-cli

ugoite-cli: preserve structured http error fields
  ugoite-cli/src/ugoite/endpoint_config.py
  ugoite-cli/tests/test_endpoint_config.py
Due: ty-cli

ugoite-cli: add retry backoff for idempotent http requests
  ugoite-cli/src/ugoite/endpoint_config.py
  ugoite-cli/tests/test_endpoint_config.py
Due: ty-cli

ugoite-cli: satisfy ruff in retry backoff test
  ugoite-cli/tests/test_endpoint_config.py
Due: ty-cli

fix(backend): fail explicitly when per-space metadata read errors
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
Due: ty-backend

fix(backend): sanitize 5xx HTTP error details
  backend/src/app/main.py
  backend/tests/test_error_sanitization.py
Due: ty-backend

feat(frontend): propagate request id through api proxy
  frontend/src/routes/api/[...path].ts
Due: biome-ci

feat(frontend): add timeout and abort handling to api proxy
  frontend/src/routes/api/[...path].ts
Due: biome-ci

chore: close issue #422
  backend/issue_closures/issue-422.txt
Due: ty-backend

chore: close issue #421
  backend/issue_closures/issue-421.txt
Due: ty-backend

chore: close issue #420
  backend/issue_closures/issue-420.txt
Due: ty-backend

chore: close issue #419
  backend/issue_closures/issue-419.txt
Due: ty-backend

chore: close issue #309
  backend/issue_closures/issue-309.txt
Due: ty-backend

chore: close issue #423
  backend/issue_closures/issue-423.txt
Due: ty-backend

chore: close issue #329
  backend/issue_closures/issue-329.txt
Due: ty-backend

chore: close issue #328
  backend/issue_closures/issue-328.txt
Due: ty-backend

chore: close issue #326
  backend/issue_closures/issue-326.txt
Due: ty-backend

chore: close issue #320
  backend/issue_closures/issue-320.txt
Due: ty-backend

chore: close issue #318
  backend/issue_closures/issue-318.txt
Due: ty-backend

chore: close issue #313
  backend/issue_closures/issue-313.txt
Due: ty-backend

chore: close issue #312
  backend/issue_closures/issue-312.txt
Due: ty-backend

chore: close issue #311
  backend/issue_closures/issue-311.txt
Due: ty-backend

chore: close issue #310
  backend/issue_closures/issue-310.txt
Due: ty-backend

chore: close issue #308
  backend/issue_closures/issue-308.txt
Due: ty-backend

chore: close issue #306
  backend/issue_closures/issue-306.txt
Due: ty-backend

chore: close issue #305
  backend/issue_closures/issue-305.txt
Due: ty-backend

chore: close issue #303
  backend/issue_closures/issue-303.txt
Due: ty-backend

chore: close issue #300
  backend/issue_closures/issue-300.txt
Due: ty-backend

Revert "chore: close issue #300"
  backend/issue_closures/issue-300.txt
Due: ty-backend

devcontainer: add copilot cli feature
  .devcontainer/devcontainer.json
Due: none

devcontainer: mount gh config and setup git auth
  .devcontainer/devcontainer.json
Due: none

ci: add devcontainer smoke workflow
  .github/workflows/devcontainer-ci.yml
Due: none

ci: enforce 100 percent rust coverage
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
