Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix: hide reserved metadata forms from entry creation
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/metadata-forms.ts
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
Due: biome-ci

feat: add create-space empty state action
  docs/spec/requirements/frontend.yaml
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

fix: avoid CLI backend runtime panic
  docs/spec/requirements/storage.yaml
  ugoite-cli/src/commands/asset.rs
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/form.rs
  ugoite-cli/src/commands/index.rs
  ugoite-cli/src/commands/search.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/commands/sql.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: exclude release automation from all-tests status
  .github/workflows/all-tests-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

docs: clarify OpenDAL storage runtime status
  docs/spec/architecture/decisions.md
  docs/spec/architecture/frontend-backend-interface.md
  docs/spec/requirements/storage.yaml
  docs/spec/testing/strategy.md
  docs/tests/test_storage_docs.py
Due: none

fix: gate release ci on dedicated token
  .github/release-please-config.json
  .github/workflows/release-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix: enforce restore form write authz
  backend/src/app/api/endpoints/entry.py
  backend/tests/test_api.py
  docs/spec/api/rest.md
  docs/spec/architecture/frontend-backend-interface.md
  docs/spec/data-model/overview.md
  docs/spec/requirements/security.yaml
  docs/tests/test_authz_docs.py
Due: ty-backend

docs: fix cli language classification
  .github/workflows/sbom-ci.yml
  docs/spec/index.md
  docs/spec/requirements/ops.yaml
  docs/spec/security/overview.md
  docs/tests/test_cli_language_docs.py
Due: none

fix: hide assets form in form grid
  docs/spec/requirements/frontend.yaml
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
Due: biome-ci

fix: route cli create-space to post spaces
  docs/spec/requirements/api.yaml
  ugoite-cli/src/commands/space.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: localize entry workflow guidance
  docs/spec/requirements/frontend.yaml
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  shared/i18n/ui.json
Due: biome-ci

fix: show optional entry fields in web form
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: localize editor guidance examples
  docs/spec/requirements/frontend.yaml
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.test.tsx
  shared/i18n/ui.json
Due: biome-ci

fix: sanitize entry field input ids
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

test: cover fallback field ids
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
Due: biome-ci

docs: align storage runtime wording
  AGENTS.md
  README.md
  backend/tests/test_api_memory.py
  docs/spec/architecture/frontend-backend-interface.md
  docs/spec/requirements/storage.yaml
  docs/tests/test_storage_docs.py
Due: ty-backend

fix: enforce restore revision authz
  backend/src/app/api/endpoints/entry.py
  backend/tests/test_api.py
  docs/spec/requirements/entry.yaml
  docs/tests/test_authz_docs.py
  ugoite-core/src/entry.rs
  ugoite-core/src/python_bindings.rs
  ugoite-core/tests/test_entry.rs
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/authz.py
Due: rustfmt, cargo-clippy, ty-backend, ty-core

test: harden cli language docs checks
  docs/tests/test_cli_language_docs.py
Due: none

test: harden cli routing server reads
  ugoite-cli/tests/test_cli_endpoint_routing.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: normalize query timestamps in frontend lists
  docs/spec/requirements/frontend.yaml
  frontend/src/lib/client.test.ts
  frontend/src/lib/date-format.ts
  frontend/src/lib/entry-api.ts
  frontend/src/lib/sql-api.test.ts
  frontend/src/lib/sql-api.ts
  frontend/src/lib/sql-session-api.test.ts
  frontend/src/lib/sql-session-api.ts
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
Due: biome-ci

fix: simplify CLI space args in remote modes
  docs/guide/cli.md
  docs/spec/requirements/storage.yaml
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/form.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/main.rs
  ugoite-cli/tests/integration_test.rs
  ugoite-cli/tests/test_assets.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
  ugoite-cli/tests/test_cli_form.rs
  ugoite-cli/tests/test_endpoint_config.rs
  ugoite-cli/tests/test_entries.rs
  ugoite-cli/tests/test_forms.rs
  ugoite-cli/tests/test_indexer.rs
  ugoite-cli/tests/test_integrity.rs
  ugoite-cli/tests/test_saved_sql.rs
  ugoite-cli/tests/test_space.rs
  ugoite-cli/tests/test_sql_rules.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: satisfy frontend CI for timestamp lists
  frontend/src/components/EntryList.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/lib/sql-api.ts
  frontend/src/lib/sql-session-api.ts
Due: biome-ci

test: cover timestamp normalization helpers
  docs/spec/requirements/frontend.yaml
  frontend/src/components/EntryList.tsx
  frontend/src/lib/date-format.test.ts
  frontend/src/lib/sql-api.ts
  frontend/src/lib/sql-session-api.ts
Due: biome-ci

fix: align create-entry guidance with input mode
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  shared/i18n/ui.json
Due: biome-ci

fix: satisfy frontend CI for mode guidance
  frontend/src/components/EntryList.tsx
  frontend/src/components/create-dialogs.test.tsx
Due: biome-ci

fix: preserve entry list coverage path
  frontend/src/components/EntryList.tsx
Due: biome-ci

fix: align entry guidance example with form fields
  docs/spec/requirements/frontend.yaml
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

test: relax entry guidance example assertion
  frontend/src/components/EntryDetailPane.test.tsx
Due: biome-ci

test: cover missing fields map guidance
  frontend/src/components/EntryDetailPane.test.tsx
Due: biome-ci

test: scope entry guidance assertions
  frontend/src/components/EntryDetailPane.test.tsx
Due: biome-ci

fix: improve narrow create-form column layout
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

feat: add manual local dev auth modes
  README.md
  docs/guide/env-matrix.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  scripts/dev-auth-env.sh
Due: none

fix: remove persistent spaces auth card
  docs/spec/requirements/frontend.yaml
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

fix: clear frontend lint failure on entry guidance PR
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryList.tsx
Due: biome-ci

fix: restore frontend coverage for entry list
  frontend/src/components/EntryList.tsx
Due: biome-ci

fix: extend compose e2e startup timeouts
  e2e/scripts/run-e2e-compose.sh
Due: none

fix: deduplicate create-form input classes
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: clarify and secure dev auth modes
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  scripts/dev-auth-env.sh
Due: none

fix: stabilize e2e navigation traversal
  e2e/navigation.test.ts
Due: none

fix: route response signing storage through core
  backend/src/app/core/security.py
  backend/tests/test_api.py
  docs/spec/requirements/integrity.yaml
  docs/spec/requirements/storage.yaml
  ugoite-core/src/integrity.rs
  ugoite-core/src/python_bindings.rs
  ugoite-core/tests/test_integrity.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-core

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
