Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

revert(frontend): remove ineffective entry retry
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

fix(frontend): wait for entry route metadata before loading detail
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/index.tsx
Due: biome-ci

fix(frontend): keep dialog actions at intrinsic height
  frontend/src/app.css
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix(frontend): prevent dialog form overflow
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix(frontend): restore account and dark-mode behavior
  crates/ugoite-api-client/src/lib.rs
  frontend/src/app.css
  frontend/src/components/AccountMenu.tsx
  frontend/src/components/CanvasPlaceholder.tsx
  frontend/src/components/EntryList.tsx
  frontend/src/components/FormTable.tsx
  frontend/src/components/GlobalShell.test.tsx
  frontend/src/components/GlobalShell.tsx
  frontend/src/components/ListPanel.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/lib/color-mode.ts
  frontend/src/lib/preferences-api.test.ts
  frontend/src/lib/preferences-local.test.ts
  frontend/src/lib/preferences-local.ts
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/preferences-store.ts
  frontend/src/lib/types.ts
  frontend/src/lib/ugoite-client/protocol.ts
  frontend/src/lib/ui-theme.ts
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/themes/color-registry.ts
  frontend/src/themes/registry.test.ts
  frontend/src/themes/registry.ts
Due: rustfmt, cargo-clippy, biome-ci

docs: retire unused theme and accent settings
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/pages/space-dashboard.yaml
  docs/spec/ui/pages/space-query-create.yaml
  docs/spec/ui/pages/space-query-variables.yaml
  docs/spec/ui/pages/space-search.yaml
  docs/spec/ui/pages/space-settings.yaml
  frontend/src/themes/tokens.ts
  frontend/src/themes/usage.test.ts
Due: biome-ci

fix(frontend): stabilize form workspace controls
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/components/space-shell.yaml
  docs/spec/ui/pages/space-settings.yaml
  frontend/src/app.css
  frontend/src/components/GlobalShell.test.tsx
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/color-mode.ts
  frontend/src/lib/preferences-local.test.ts
  frontend/src/lib/preferences-local.ts
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/preferences-store.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/entries.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: biome-ci

fix(frontend): preserve form metadata and timestamps
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/lib/entries-route-context.ts
  frontend/src/routes/spaces/[space_id]/forms.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
Due: biome-ci

fix(core): avoid metadata writes on asset reads
  crates/ugoite-core/src/form.rs
  crates/ugoite-core/tests/test_asset.rs
Due: rustfmt, cargo-clippy

fix(frontend): show walkthrough after empty entry load
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
Due: biome-ci

fix(frontend): clarify form field type guidance
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  shared/i18n/ui.json
Due: biome-ci

fix(frontend): make v5 settings controls actionable
  frontend/src/components/GlobalShell.test.tsx
  frontend/src/components/GlobalShell.tsx
  frontend/src/lib/preferences-api.test.ts
  frontend/src/routes/[...404].tsx
  frontend/src/routes/about.tsx
  frontend/src/routes/public-pages.test.tsx
  frontend/src/routes/settings/security.test.tsx
  frontend/src/routes/settings/security.tsx
  frontend/src/test/mocks/handlers.ts
Due: biome-ci

fix(frontend): clarify complex field formats
  frontend/src/components/create-dialogs.test.tsx
  shared/i18n/ui.json
Due: biome-ci

fix(frontend): state walkthrough outcome
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

docs(cli): document current command workflows
  docs/guide/cli.md
Due: none

docs(cli): clarify current deletion and asset limits
  docs/guide/cli.md
Due: none

docs(cli): make first-entry workflow executable
  docs/guide/cli.md
Due: none

fix(frontend): preserve v5 shell behavior
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/lib/color-mode.test.ts
  frontend/src/lib/color-mode.ts
  frontend/src/routes/spaces/join.test.tsx
  frontend/src/routes/spaces/join.tsx
Due: biome-ci

fix: complete v5 credential and entry workflows
  crates/ugoite-identity/src/node_identity.rs
  frontend/src/app.css
  frontend/src/routes/settings/security.test.tsx
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix(frontend): surface form loading failures
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
Due: biome-ci

fix(frontend): preserve v5 entry route behavior
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/routes/spaces/[space_id]/entries.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  shared/i18n/ui.json
Due: biome-ci

feat(frontend): reuse entry editor for creation
  docs/spec/ui/pages/space-entry-new.yaml
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
Due: biome-ci

fix: render revision content and retain settings navigation
  crates/ugoite-core/src/service.rs
  frontend/src/lib/entry-api.ts
  frontend/src/lib/types.ts
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/[revision_id].tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix space navigation and local form schema evolution
  crates/ugoite-core/src/form.rs
  crates/ugoite-core/tests/test_form.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
  docs/spec/architecture/overview.md
  frontend/src/app.css
  frontend/src/components/SpaceShell.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix time entries and advanced search editing
  crates/ugoite-core/tests/test_entry.rs
  crates/ugoite-core/tests/test_saved_sql.rs
  crates/ugoite-iceberg/src/lib.rs
  frontend/src/app.css
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
Due: rustfmt, cargo-clippy, biome-ci

serialize local catalog initialization and pointer updates
  crates/ugoite-core/src/iceberg_store.rs
Due: rustfmt, cargo-clippy

fix(frontend): surface form record loading failures
  frontend/src/components/FormTable.tsx
Due: biome-ci

fix(frontend): recover from metadata load failures
  frontend/src/routes/spaces/[space_id]/entries.tsx
  frontend/src/routes/spaces/[space_id]/forms.tsx
Due: biome-ci

Fix entry created date normalization
  frontend/src/lib/client.test.ts
  frontend/src/lib/entry-api.ts
  frontend/src/lib/types.ts
Due: biome-ci

fix app-wide resource and evolved schema errors
  crates/ugoite-cli/tests/test_forms.rs
  crates/ugoite-core/src/entry.rs
  crates/ugoite-core/tests/test_entry.rs
  frontend/src/app.tsx
  frontend/src/components/AccessPolicyEditor.tsx
  frontend/src/components/AppErrorBoundary.test.tsx
  frontend/src/components/AppErrorBoundary.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/FormTable.test.tsx
  frontend/src/components/FormTable.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/entry-store.ts
  frontend/src/lib/recoverable-resource.test.ts
  frontend/src/lib/recoverable-resource.ts
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/spaces/[space_id]/assets/[asset_id].tsx
  frontend/src/routes/spaces/[space_id]/assets/index.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/[revision_id].tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/restore.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
  frontend/src/routes/spaces/[space_id]/forms.tsx
  frontend/src/routes/spaces/[space_id]/forms/types.tsx
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
  frontend/src/routes/spaces/[space_id]/sql/index.tsx
  frontend/src/routes/spaces/[space_id]/test-connection.tsx
  frontend/src/routes/spaces/index.tsx
  frontend/src/routes/spaces/join.tsx
Due: rustfmt, cargo-clippy, biome-ci

chore: isolate local runtime data under data
  .gitignore
  docker-compose.release.yaml
  docker-compose.yaml
  docs/guide/container-quickstart.md
  docs/guide/docker-compose.md
  scripts/dev-seed.sh
  scripts/verify-release-cli-quickstart.sh
  scripts/verify-release-container-quickstart.sh
  scripts/verify-release-local-image.sh
  tools/dev.ts
  tools/workspace_test.ts
Due: none

fix: align dependency update with current APIs
  CONTRIBUTING.md
  Cargo.lock
  Dockerfile
  crates/ugoite-cli/src/config.rs
  crates/ugoite-core/Cargo.toml
  crates/ugoite-core/src/authorization.rs
  crates/ugoite-core/src/iceberg_store.rs
  crates/ugoite-core/tests/common/mod.rs
  crates/ugoite-core/tests/test_asset.rs
  crates/ugoite-core/tests/test_space.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-identity/src/control_store.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/architecture/stack.md
  mise.toml
  tools/workspace_test.ts
Due: rustfmt, cargo-clippy

feat: add OpenDAL SpaceCatalog foundation
  Cargo.lock
  Cargo.toml
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/config.rs
  crates/ugoite-core/Cargo.toml
  crates/ugoite-core/src/authorization.rs
  crates/ugoite-core/src/entry.rs
  crates/ugoite-core/src/form.rs
  crates/ugoite-core/src/iceberg_store.rs
  crates/ugoite-core/tests/common/mod.rs
  crates/ugoite-core/tests/test_asset.rs
  crates/ugoite-core/tests/test_space.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-identity/Cargo.toml
  crates/ugoite-identity/src/control_store.rs
  crates/ugoite-storage/Cargo.toml
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: satisfy core catalog lint
  crates/ugoite-core/src/iceberg_store.rs
Due: rustfmt, cargo-clippy

fix: publish each Iceberg mutation through a fresh catalog attempt
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

test: verify asset reads preserve catalog head
  crates/ugoite-iceberg/tests/test_asset.rs
Due: rustfmt, cargo-clippy

refactor: delete unused legacy conversion helpers
  crates/ugoite-iceberg/src/entry.rs
Due: rustfmt, cargo-clippy

fix: batch sample writes without replaying catalog history
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/sample_data.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/test_entry.rs
Due: rustfmt, cargo-clippy

fix: bound explicit entry batches
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/sample_data.rs
  crates/ugoite-iceberg/tests/test_entry.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
