Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix(release): delay stable tag until candidate publication
  tools/release.ts
  tools/release_contract_test.ts
Due: none

feat(release): implement candidate promotion contract
  .github/workflows/release-candidate.yml
  .github/workflows/release-publish.yml
  .release-please-manifest.json
  CONTRIBUTING.md
  README.md
  deno.json
  docs/architecture/release/index.md
  docs/architecture/release/release-contract.md
  docs/architecture/release/release-scope.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/versions/changelog-alpha.md
  docs/spec/versions/changelog-beta.md
  docs/spec/versions/changelog.md
  docs/version/v0.1/release-preparation.yaml
  mise.toml
  tools/artifacts.ts
  tools/coverage_gates_test.ts
  tools/release.ts
  tools/release_contract_test.ts
Due: none

fix(release): isolate candidate publication identities
  .github/workflows/release-candidate.yml
  .github/workflows/release-publish.yml
  docs/architecture/release/release-contract.md
  docs/spec/testing/ci-cd.md
  tools/release.ts
  tools/release_contract_test.ts
Due: none

ci: resolve merge group pull request body
  .github/workflows/pr-require-close-issue.yml
  tools/knowledge_compatibility_test.ts
Due: none

fix(release): stage stable publication safely
  .github/workflows/release-candidate.yml
  .github/workflows/release-publish.yml
  tools/release.ts
  tools/release_contract_test.ts
Due: none

fix(ci): disable cache in release quickstart
  .github/workflows/release-publish.yml
Due: none

fix(ci): pin promotion helper checkout
  .github/workflows/release-publish.yml
  tools/release_contract_test.ts
Due: none

fix(ci): pin promotion checkout to main
  .github/workflows/release-publish.yml
Due: none

fix(docs): avoid release requirement ID collision
  docs/spec/requirements/ops.yaml
  tools/release_contract_test.ts
Due: none

ci: centralize knowledge compatibility review validation
  .github/workflows/pr-require-close-issue.yml
  tools/create_pr.ts
  tools/knowledge_compatibility.mjs
  tools/knowledge_compatibility_test.ts
Due: none

fix(mcp): preserve request ids for run metadata errors
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/mcp.rs
Due: rustfmt, cargo-clippy

docs: specify compatibility review note requirements
  docs/spec/versions/v0.1-knowledge-compatibility.md
  tools/knowledge_compatibility_test.ts
Due: none

fix(konase): reject stale browser work results
  docs/architecture/boundaries/konase.md
  frontend/src/components/konase/KonasePanel.test.tsx
  frontend/src/components/konase/KonasePanel.tsx
Due: biome-ci

test(server): keep MCP helper lint clean
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(cli): preserve Konase undo transport state
  Cargo.lock
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/commands/konase.rs
  crates/ugoite-cli/src/main.rs
Due: rustfmt, cargo-clippy

ci: load trusted compatibility policy from base
  .github/workflows/pr-require-close-issue.yml
  tools/create_pr.ts
  tools/knowledge_compatibility.ts
  tools/knowledge_compatibility_test.ts
Due: none

docs: reconcile workspace crate count
  docs/spec/versions/v0.1.md
  docs/version/changelog/alpha.yaml
  docs/version/changelog/beta.yaml
  docs/version/changelog/stable.yaml
  docs/version/v0.1/mvp.yaml
Due: none

test: assert compatibility validator wiring
  tools/knowledge_compatibility_test.ts
Due: none

docs: list the current workspace crates
  docs/architecture/release/release-rearchitecture.md
Due: none

docs(api): describe storage connection contract
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/api/openapi.yaml
Due: rustfmt, cargo-clippy

fix(konase): bound normalized StartJob context
  crates/ugoite-konase/src/context.rs
  crates/ugoite-konase/src/engine.rs
  crates/ugoite-konase/src/lib.rs
  docs/architecture/boundaries/konase.md
Due: rustfmt, cargo-clippy

test: smoke test trusted compatibility Node adapter
  .github/workflows/ci.yml
  .github/workflows/pr-require-close-issue.yml
  tools/knowledge_compatibility_node_fixture.ts
  tools/knowledge_compatibility_test.ts
Due: none

chore(konase): advance protocol version for outcome state
  crates/ugoite-konase/src/lib.rs
  crates/ugoite-wasm/src/lib.rs
  docs/architecture/boundaries/konase.md
Due: rustfmt, cargo-clippy

fix(konase): surface observed knowledge outcome
  crates/ugoite-cli/src/commands/konase.rs
  crates/ugoite-konase-rig/src/lib.rs
  crates/ugoite-konase/README.md
  crates/ugoite-konase/src/agent_runtime.rs
  crates/ugoite-konase/src/context.rs
  crates/ugoite-konase/src/engine.rs
  crates/ugoite-konase/src/lib.rs
  docs/architecture/boundaries/konase.md
  frontend/src/components/konase/KonasePanel.test.tsx
  frontend/src/components/konase/KonasePanel.tsx
  frontend/src/lib/konase/host.test.ts
  frontend/src/lib/konase/host.ts
  frontend/src/lib/konase/mcp.test.ts
  frontend/src/lib/konase/mcp.ts
  frontend/src/lib/konase/model.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(konase): execute Rig tool batches sequentially
  crates/ugoite-konase-rig/src/lib.rs
  docs/architecture/boundaries/konase.md
Due: rustfmt, cargo-clippy

fix(konase): surface bounded model host failures
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/commands/konase.rs
  crates/ugoite-konase/src/engine.rs
  docs/architecture/boundaries/konase.md
  docs/guide/automate/cli.md
Due: rustfmt, cargo-clippy

test(konase): pin Rig adapter invariant handling
  crates/ugoite-konase-rig/src/lib.rs
Due: rustfmt, cargo-clippy

feat(konase): interrupt native CLI model waits
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/commands/konase.rs
  docs/guide/automate/cli.md
Due: rustfmt, cargo-clippy

test(cli): cover Konase MCP endpoint fallback
  Cargo.lock
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/tests/test_konase_mcp_contract.rs
  crates/ugoite-server/Cargo.toml
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(frontend): restore entries index route
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
Due: biome-ci

fix(frontend): restore the Entries index route
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
Due: biome-ci

test(e2e): align entries smoke route expectation
  e2e/smoke.test.ts
Due: none

docs: align Entries route specification
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/pages/space-entries-object.yaml
  frontend/src/spec/ui-pages.test.ts
Due: biome-ci

style(e2e): format smoke test
  e2e/smoke.test.ts
Due: none

fix(e2e): use immutable Space ids for invitations
  e2e/space-membership.test.ts
Due: none

test(e2e): assert Forms shell navigation
  e2e/smoke.test.ts
Due: none

test(e2e): align plain Entries smoke coverage
  e2e/smoke.test.ts
Due: none

test(e2e): match visible Forms navigation
  e2e/smoke.test.ts
Due: none

test(e2e): verify Entry detail survives browser reload
  e2e/entries.test.ts
Due: none

fix(sql): allow count in direct authorized queries
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/test_index.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
