Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

docs: retire legacy SQL feature documents
  docs/mitase/policies/policies.yaml
  docs/spec/features/sql.md
  docs/spec/features/sql.yaml
  mitase.yaml
Due: none

docs: drop retired story source from v0.2 milestone
  docs/version/v0.2.yaml
Due: none

docs: relocate UI page registry to frontend-owned spec
  docs/mitase/features/frontend.yaml
  docs/mitase/policies/policies.yaml
  docs/version/v0.1/markdown-as-table.yaml
  e2e/ui-pages-screenshots.test.ts
  frontend/src/spec/components/space-shell.yaml
  frontend/src/spec/pages/space-assets.yaml
  frontend/src/spec/pages/space-dashboard.yaml
  frontend/src/spec/pages/space-entries-object.yaml
  frontend/src/spec/pages/space-entry-detail.yaml
  frontend/src/spec/pages/space-entry-history.yaml
  frontend/src/spec/pages/space-entry-new.yaml
  frontend/src/spec/pages/space-entry-restore.yaml
  frontend/src/spec/pages/space-entry-revision.yaml
  frontend/src/spec/pages/space-form-grid.yaml
  frontend/src/spec/pages/space-form-types.yaml
  frontend/src/spec/pages/space-home.yaml
  frontend/src/spec/pages/space-query-create.yaml
  frontend/src/spec/pages/space-query-variables.yaml
  frontend/src/spec/pages/space-search.yaml
  frontend/src/spec/pages/space-settings.yaml
  frontend/src/spec/pages/space-sql-detail.yaml
  frontend/src/spec/pages/space-sql.yaml
  frontend/src/spec/pages/space-test-connection.yaml
  frontend/src/spec/ui-pages.test.ts
  mitase.yaml
Due: biome-ci

docs: repoint repository references from docs/spec to canonical locations
  .codex/skills/ugoite-orient/SKILL.md
  .github/copilot-instructions.md
  README.md
  docs/architecture/index.md
  docs/mitase/policies/policies.yaml
  docs/version/v0.2.yaml
  docsite/astro.config.mjs
  e2e/docsite-mobile-nav.test.ts
  e2e/docsite-theme-controls.test.ts
Due: none

e2e: follow docsite sidebar from Specification to Contracts
  e2e/docsite-mobile-nav.test.ts
Due: none

e2e: reopen sidebar groups that start expanded
  e2e/docsite-mobile-nav.test.ts
Due: none

docs: remove docs/spec tree
  crates/xtask/src/main.rs
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/policies/index.md
  docs/spec/requirements/index.md
  docs/spec/stories/index.md
  docs/spec/ui/index.md
  docsite/src/spec-integrity.test.ts
  mitase.yaml
Due: rustfmt, cargo-clippy

docs: fix dangling spec links found by docsite crawl
  docs/guide/develop/index.md
  docs/index.md
Due: none

docs: clear stale migration prose from canonical graph
  docs/mitase/features/ops.yaml
  docs/mitase/features/search.yaml
Due: none

docs: canonicalize frontend timestamp normalization as REQ-FE-069
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  frontend/src/lib/client.test.ts
  frontend/src/lib/date-format.test.ts
  frontend/src/lib/sql-api.test.ts
  frontend/src/lib/sql-session-api.test.ts
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  mitase.yaml
Due: biome-ci

docs: canonicalize Form-driven entry creation as REQ-FE-068
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  frontend/src/components/ListPanel.test.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/lib/entry-input.test.ts
  mitase.yaml
Due: biome-ci

ci: add Deno PR body gate script
  mitase.yaml
  tools/pr_body_gate.ts
  tools/pr_body_gate_test.ts
Due: none

feat(space): establish Space 0.1 compatibility contract
  .gitignore
  Cargo.lock
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/config.rs
  crates/ugoite-core/src/error.rs
  crates/ugoite-domain/src/space.rs
  crates/ugoite-domain/tests/test_space_version.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-iceberg/tests/test_space_version_compat.rs
  crates/xtask/src/main.rs
  docs/architecture/contracts/space-compatibility.md
  docs/architecture/data-model/directory-structure.md
  docs/architecture/data-model/file-schemas.yaml
  fixtures/spaces/0.1/README.md
  fixtures/spaces/0.1/expected.json
  fixtures/spaces/0.1/spaces/019c1234-5678-7abc-8def-0123456789ab/meta.json
  fixtures/spaces/0.1/spaces/019c1234-5678-7abc-8def-0123456789ab/settings.json
  frontend/src/lib/types.ts
  mise.toml
Due: rustfmt, cargo-clippy, biome-ci

ci: switch the PR body gate to the Deno script
  .github/workflows/pr-require-close-issue.yml
  tools/knowledge_compatibility_node_fixture.ts
  tools/knowledge_compatibility_test.ts
Due: none

fix(release): resolve npm artifact destination from repository root
  tools/release.ts
Due: none

fix(release): run release-grade checks on node 24
  .github/workflows/release-candidate.yml
Due: none

ci: keep release gate Deno-first
  .github/workflows/release-candidate.yml
Due: none

ci(release): use macos-15-intel for x86 cli
  .github/workflows/release-candidate.yml
Due: none

fix(e2e): restore release-grade UI contracts
  e2e/dashboard-first-form.test.ts
  e2e/public-pages.test.ts
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

fix(e2e): align remaining release-grade form contracts
  e2e/dashboard-first-form.test.ts
  e2e/entries.test.ts
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

test(e2e): stabilize release-grade create flows
  e2e/dashboard-first-form.test.ts
  e2e/entries.test.ts
Due: none

fix(release): use localhost in container quickstart
  scripts/verify-release-container-quickstart.sh
Due: none

fix(release): pass provenance to quickstart e2e
  scripts/verify-release-container-quickstart.sh
Due: none

fix(release): clean up container quickstart data
  scripts/verify-release-container-quickstart.sh
Due: none
