Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

docs: align asset authority index
  docs/spec/features/index.md
Due: none

docs: retire legacy E2E requirement registry
  docs/spec/index.md
  docs/spec/requirements/e2e.yaml
  docs/spec/requirements/index.md
Due: none

spec: migrate frontend error and locale requirements
  docs/mitase/features/api.yaml
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

spec: migrate frontend search and form grid requirements
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

test: strengthen frontend filtering and CSV evidence
  docs/mitase/requirements/frontend.yaml
  frontend/src/components/FormTable.test.tsx
Due: biome-ci

spec: migrate frontend editor persistence requirements
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  frontend/src/components/EntryDetailPane.test.tsx
Due: biome-ci

spec: migrate frontend SQL surfaces to Mitase
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

test: strengthen frontend SQL Mitase evidence
  docs/mitase/requirements/frontend.yaml
  frontend/src/lib/sql.test.ts
Due: biome-ci

spec: migrate saved SQL UI routes to Mitase
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  frontend/src/routes/spaces/[space_id]/sql/index.test.tsx
  mitase.yaml
Due: biome-ci

test: strengthen saved SQL route Mitase evidence
  docs/mitase/requirements/frontend.yaml
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].test.tsx
  frontend/src/routes/spaces/[space_id]/sql/index.test.tsx
Due: biome-ci

spec: canonicalize saved SQL creation flow
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

spec: canonicalize public landing localization
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  frontend/src/routes/public-pages.test.tsx
  mitase.yaml
Due: biome-ci

test: prove public locale request isolation
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  frontend/src/lib/preferences-store.test.ts
Due: biome-ci

spec: canonicalize row-reference picker evidence
  docs/mitase/features/frontend.yaml
  docs/mitase/features/search.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

test: verify E2E artifact provenance
  .github/workflows/release-candidate.yml
  .gitignore
  Dockerfile
  crates/ugoite-server/src/lib.rs
  docker-compose.e2e.yml
  e2e/global-setup.ts
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
  frontend/deno.json
  frontend/scripts/generate-build-info.ts
  mise.toml
Due: rustfmt, cargo-clippy, biome-ci

spec: canonicalize auth-aware navigation evidence
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

spec: bind SpaceShell navigation ownership
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

fix: classify deleted saved SQL as not found
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

spec: canonicalize unified Form and Entry workspace
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

fix: classify invalid preference patches as client errors
  crates/ugoite-iceberg/src/preferences.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

spec: canonicalize frontend surface appearance
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

spec: canonicalize Space loading and storage topology
  docs/mitase/features/frontend.yaml
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/frontend.yaml
  docs/mitase/requirements/storage.yaml
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  mitase.yaml
Due: biome-ci

spec: canonicalize frontend create-dialog authoring
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
Due: none

spec: close row-reference verification follow-ups
  docs/mitase/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
Due: biome-ci

feat: separate Space names from slugs
  crates/ugoite-cli/src/commands/space.rs
  crates/ugoite-cli/tests/test_cli_endpoint_routing.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/architecture/api/rest.md
  docs/architecture/data-model/directory-structure.md
  docs/architecture/data-model/file-schemas.yaml
  e2e/dashboard-first-form.test.ts
  e2e/entries.test.ts
  e2e/owner-space-recovery.test.ts
  e2e/space-membership.test.ts
  frontend/src/lib/client.test.ts
  frontend/src/lib/space-api.ts
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
  frontend/src/test/mocks/handlers.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

spec: canonicalize frontend navigation recovery
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
Due: none

spec: canonicalize frontend optimistic mutations
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
Due: none

spec: canonicalize UI specification registry
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

spec: inventory complete UI registry inputs
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

spec: bind nested entry route registry input
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
Due: none

spec: canonicalize derived relation maintenance
  docs/mitase/features/search.yaml
  docs/mitase/requirements/search.yaml
Due: none

spec: narrow derived relation evidence
  docs/mitase/features/search.yaml
  docs/mitase/requirements/search.yaml
Due: none

spec: canonicalize structured query requirements
  docs/mitase/features/api.yaml
  docs/mitase/features/search.yaml
  docs/mitase/requirements/api.yaml
  docs/mitase/requirements/search.yaml
Due: none

spec: canonicalize typed property conversion
  docs/mitase/features/forms.yaml
  docs/mitase/requirements/forms.yaml
Due: none

spec: canonicalize authorized keyword search evidence
  docs/mitase/features/search.yaml
  docs/mitase/requirements/assets.yaml
  docs/mitase/requirements/search.yaml
  docs/mitase/requirements/security.yaml
Due: none

spec: canonicalize Space API lifecycle evidence
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/api.yaml
  docs/mitase/features/e2e.yaml
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/api.yaml
  docs/mitase/requirements/storage.yaml
Due: rustfmt, cargo-clippy

test: strengthen Space API lifecycle evidence
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/api.yaml
Due: rustfmt, cargo-clippy

spec: canonicalize derived index and query requirements
  crates/ugoite-iceberg/tests/test_search.rs
  docs/mitase/features/search.yaml
  docs/mitase/requirements/search.yaml
  docs/mitase/requirements/security.yaml
Due: rustfmt, cargo-clippy

docs: align Search fallback evidence responsibility
  docs/mitase/requirements/search.yaml
Due: none

docs: retire legacy Indexer requirement registry
  docs/mitase/features/ops.yaml
  docs/mitase/requirements/ops.yaml
  docs/spec/index.md
  docs/spec/requirements/index.md
  docs/spec/requirements/index.yaml
  docs/spec/stories/core.yaml
  mitase.yaml
Due: none
