Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix: harden authorized query boundary
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
Due: rustfmt, cargo-clippy

Add read-only Space health evidence
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-iceberg/src/health.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/health.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/architecture/space-catalog.md
  frontend/src/lib/generated/openapi-types.ts
Due: rustfmt, cargo-clippy, biome-ci

Replace custom SQL executor with DataFusion
  Cargo.lock
  README.md
  crates/ugoite-cli/src/main.rs
  crates/ugoite-cli/tests/test_indexer.rs
  crates/ugoite-cli/tests/test_saved_sql.rs
  crates/ugoite-core/src/query.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/sql.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/test_index.rs
  crates/ugoite-iceberg/tests/test_materialized_view.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  docs/guide/cli.md
  docs/spec/data-model/sql-sessions.md
  docs/spec/features/sql.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/index.yaml
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
Due: rustfmt, cargo-clippy, biome-ci

feat: deepen catalog health evidence
  crates/ugoite-iceberg/src/health.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/health.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/api/rest.md
  docs/spec/architecture/space-catalog.md
Due: rustfmt, cargo-clippy

fix: harden authorized DataFusion SQL
  crates/ugoite-core/src/query.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  docs/guide/cli.md
  docs/spec/features/sql.md
Due: rustfmt, cargo-clippy

fix: complete DataFusion SQL execution boundaries
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  crates/ugoite-server/src/lib.rs
  frontend/src/lib/sql-session-api.ts
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix: preserve exact catalog health evidence
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-storage/src/lib.rs
  frontend/src/lib/ugoite-client/protocol.ts
Due: rustfmt, cargo-clippy, biome-ci

fix: pin SQL sessions to checkpoints
  crates/ugoite-cli/tests/test_space.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/materialized_view.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/test_materialized_view.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-server/src/lib.rs
  docs/spec/data-model/directory-layout.yaml
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/data-model/sql-sessions.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/storage.yaml
Due: rustfmt, cargo-clippy

fix: group SQL session page inputs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/sql_session.rs
Due: rustfmt, cargo-clippy

fix: use SQL session client boundary
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
Due: biome-ci

style: format SQL query variables route
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
Due: biome-ci

fix: normalize authorized query scan relations
  crates/ugoite-iceberg/src/query_context.rs
Due: rustfmt, cargo-clippy

fix: enforce revision checks after view expansion
  crates/ugoite-iceberg/src/query_context.rs
Due: rustfmt, cargo-clippy

fix: validate authorized revision invariants before queries
  crates/ugoite-iceberg/src/query_context.rs
Due: rustfmt, cargo-clippy

fix: bind revision checks to authorized scan providers
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/tests/test_index.rs
Due: rustfmt, cargo-clippy

fix: parse saved SQL before relation resolution
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
Due: rustfmt, cargo-clippy

feat: pin SQL sessions to checkpoints
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  crates/ugoite-server/src/lib.rs
  docs/spec/data-model/sql-sessions.md
  docs/spec/features/sql.md
Due: rustfmt, cargo-clippy

fix: freeze SQL session query policy
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  crates/ugoite-server/src/lib.rs
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/sql-sessions.md
  docs/spec/features/sql.md
Due: rustfmt, cargo-clippy

fix: bound SQL session authorization scope
  crates/ugoite-core/src/query.rs
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/sql-sessions.md
  docs/spec/features/sql.md
Due: rustfmt, cargo-clippy

fix: rebuild SQL session policy at use
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/sql-sessions.md
Due: rustfmt, cargo-clippy

fix(frontend): normalize entry query timestamps
  frontend/src/lib/client.test.ts
  frontend/src/lib/date-format.ts
  frontend/src/lib/entry-api.ts
  frontend/src/lib/search-api.ts
Due: biome-ci

fix(frontend): preserve trailing spaces in entry fields
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

fix frontend search SQL session queries
  docs/spec/ui/pages/space-search.yaml
  e2e/search-ui.test.ts
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
Due: biome-ci

fix(frontend): preserve entry field line endings
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/lib/markdown.test.ts
  frontend/src/lib/markdown.ts
Due: biome-ci

fix(frontend): keep account settings in Space context
  frontend/src/components/AccountMenu.tsx
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/components/SpaceShell.tsx
Due: biome-ci

fix search relation mapping and typed SQL parameters
  crates/ugoite-domain/src/form.rs
  crates/ugoite-domain/src/search.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/test_search.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  frontend/src/lib/search-api.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/test/mocks/handlers.ts
Due: rustfmt, cargo-clippy, biome-ci

fix(deps): keep Arrow JSON dependencies aligned
  Cargo.lock
  crates/ugoite-iceberg/Cargo.toml
Due: none

fix: explain unsupported Form field type changes
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-core/src/error.rs
  crates/ugoite-domain/src/form.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
  docs/spec/api/rest.md
  docs/spec/data-model/overview.md
  frontend/src/components/create-dialogs.test.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix: enforce form type change policy at domain boundary
  crates/ugoite-domain/src/form.rs
  crates/ugoite-domain/tests/test_iceberg_native_domain.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

style: apply rustfmt to form compatibility
  crates/ugoite-domain/src/form.rs
Due: rustfmt, cargo-clippy

docs: order beginner navigation
  docs/architecture/boundaries/frontend-client-boundary.md
  docs/architecture/boundaries/portable-api-client.md
  docs/architecture/boundaries/runtime-adapters.md
  docs/architecture/principles/control-surfaces.md
  docs/architecture/principles/north-star.md
  docs/architecture/release/release-rearchitecture.md
  docs/architecture/release/release-scope.md
  docs/architecture/security/authentication-authorization.md
  docs/guide/automate/cli.md
  docs/guide/deploy/docker-compose.md
  docs/guide/deploy/env-matrix.md
  docs/guide/deploy/helm-chart.md
  docs/guide/develop/local-dev-auth-login.md
  docs/guide/operate/auth/auth-overview.md
  docs/guide/operate/auth/service-accounts.md
  docs/guide/operate/index.md
  docs/guide/operate/server/backend-healthcheck.md
  docs/guide/operate/server/node-administration.md
  docs/guide/operate/server/operations.md
  docs/guide/operate/storage/space-settings-storage.md
  docs/guide/operate/storage/storage-cleanup.md
  docs/guide/operate/storage/storage-migration.md
  docs/guide/start/browser-first-entry.md
  docs/guide/start/concepts.md
  docs/guide/start/container-quickstart.md
  docs/guide/troubleshoot/log-redaction.md
  docs/guide/troubleshoot/troubleshooting-compose-startup.md
  docs/guide/troubleshoot/troubleshooting-unauthorized-spaces.md
  e2e/docsite-mobile-nav.test.ts
Due: none

Fix stable SQL identities for search
  crates/ugoite-cli/src/main.rs
  crates/ugoite-cli/tests/test_indexer.rs
  crates/ugoite-core/src/query.rs
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-domain/src/form.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/test_form.rs
  crates/ugoite-iceberg/tests/test_index.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  crates/ugoite-iceberg/tests/workspace.rs
  frontend/src/lib/sql.test.ts
  frontend/src/lib/sql.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
Due: rustfmt, cargo-clippy, biome-ci

docs: clarify node recovery boundaries
  README.md
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/api_contract.rs
  docs/architecture/principles/north-star.md
  docs/guide/deploy/docker-compose.md
  docs/guide/deploy/env-matrix.md
  docs/guide/deploy/helm-chart.md
  docs/guide/deploy/index.md
  docs/guide/operate/index.md
  docs/guide/operate/server/index.md
  docs/guide/operate/server/node-administration.md
  docs/guide/operate/server/operations.md
  docs/guide/operate/storage/space-settings-storage.md
  docs/guide/operate/storage/storage-cleanup.md
  docs/guide/operate/storage/storage-migration.md
  docs/guide/start/container-quickstart.md
  docs/guide/troubleshoot/index.md
  docs/spec/api/mcp.md
  docs/spec/architecture/decisions.md
  docs/spec/data-model/directory-structure.md
  docs/spec/product/success-metrics.md
  docs/spec/security/authentication-overview.yaml
Due: rustfmt, cargo-clippy

fix: address form-owned reference review blockers
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/test_asset.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_form.rs
  crates/ugoite-iceberg/tests/test_service.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
  docs/spec/data-model/overview.md
  docs/spec/features/assets.yaml
  docs/spec/features/sql.md
Due: rustfmt, cargo-clippy

fix search SQL row and checkpoint contracts
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/src/sql_session.rs
  frontend/src/lib/sql-session-api.test.ts
  frontend/src/lib/sql-session-api.ts
  frontend/src/lib/sql.test.ts
  frontend/src/lib/sql.ts
  frontend/src/lib/types.ts
  frontend/src/lib/ugoite-client/index.ts
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  shared/sql/ugoite-sql-rules.json
Due: rustfmt, cargo-clippy, biome-ci

fix: make Space invitation acceptance idempotent
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  docs/guide/operate/auth/auth-overview.md
  e2e/space-membership.test.ts
  frontend/src/routes/spaces/join.test.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix: make invitation finalization resumable
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  docs/guide/operate/auth/auth-overview.md
  docs/spec/api/rest.md
  e2e/space-membership.test.ts
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-api.ts
Due: rustfmt, cargo-clippy, biome-ci

fix: require authentication to resume invitations
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/api/rest.md
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-api.ts
Due: rustfmt, cargo-clippy, biome-ci

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
