Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

fix(release): isolate CLI quickstart config
  scripts/verify-release-cli-quickstart.sh
Due: none

fix(release): verify CLI space identifiers
  scripts/verify-release-cli-quickstart.sh
Due: none

ci(release): reuse source ci-required qualification
  .github/workflows/release-candidate.yml
  docs/architecture/release/release-contract.md
  docs/architecture/testing/ci-cd.md
  tools/artifacts.ts
  tools/release.ts
  tools/release_contract_test.ts
Due: none

test(release): expose source qualification output
  .github/workflows/release-candidate.yml
  tools/release_contract_test.ts
Due: none

fix(release): consume all source check results
  .github/workflows/release-candidate.yml
Due: none

fix(release): validate latest source qualification
  .github/workflows/release-candidate.yml
  tools/artifacts.ts
  tools/release.ts
  tools/release_contract_test.ts
Due: none

release: verify and promote exact candidate bytes
  .github/workflows/release-publish.yml
  docs/architecture/release/release-contract.md
  docs/architecture/testing/ci-cd.md
  docs/mitase/requirements/ops.yaml
  docs/spec/requirements/ops.yaml
  mise.toml
  scripts/verify-release-distribution.sh
  tools/release-notes_test.ts
  tools/release.ts
  tools/release_contract_test.ts
Due: none

release: verify exact candidate before promotion
  .github/workflows/release-publish.yml
  docs/architecture/release/changelog.md
  docs/architecture/release/release-contract.md
  docs/architecture/release/release-scope.md
  docs/architecture/release/v0.1.md
  docs/architecture/testing/ci-cd.md
  docs/mitase/requirements/ops.yaml
  docs/spec/requirements/ops.yaml
  docs/version/v0.1/release-preparation.yaml
  mise.toml
  scripts/verify-release-distribution.sh
  tools/release-notes_test.ts
  tools/release.ts
  tools/release_contract_test.ts
Due: none

test: bind candidate verification to the run id
  tools/release_contract_test.ts
Due: none

test: include verifier output in run mismatch assertion
  tools/release_contract_test.ts
Due: none

fix(release): require candidate run binding for publication
  tools/release.ts
  tools/release_contract_test.ts
Due: none

docs(release): keep Mitase snapshot unchanged
  docs/mitase/requirements/ops.yaml
Due: none

refactor(release): keep publish identity resolution Deno-first
  .github/workflows/release-publish.yml
  tools/release_contract_test.ts
Due: none

docs(release): align distribution verification contract
  README.md
  docs/mitase/features/ops.yaml
  mitase.yaml
  scripts/verify-release-distribution.sh
Due: none

fix(release): grant Deno publish validation permissions
  .github/workflows/release-publish.yml
  tools/release_contract_test.ts
Due: none

feat(space): establish Space 0.1 compatibility authority
  .gitignore
  Cargo.lock
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/config.rs
  crates/ugoite-core/src/error.rs
  crates/ugoite-domain/src/space.rs
  crates/ugoite-domain/tests/test_space_version.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-iceberg/tests/test_space_version_compat.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/architecture/contracts/space-catalog.md
  docs/architecture/contracts/space-compatibility.md
  docs/architecture/data-model/directory-layout.yaml
  docs/architecture/data-model/directory-structure.md
  docs/architecture/data-model/file-schemas.yaml
  docs/architecture/data-model/overview.md
  docs/architecture/index.md
  docs/architecture/release/v0.1-knowledge-compatibility.md
  fixtures/spaces/0.1/README.md
  fixtures/spaces/0.1/expected.json
  fixtures/spaces/0.1/spaces/019c1234-5678-7abc-8def-0123456789ab/meta.json
  fixtures/spaces/0.1/spaces/019c1234-5678-7abc-8def-0123456789ab/settings.json
  frontend/src/lib/types.ts
Due: rustfmt, cargo-clippy, biome-ci

docs: preserve compatibility fixture gate wording
  docs/architecture/release/v0.1-knowledge-compatibility.md
Due: none

fix(release): pass publish verification credentials
  .github/workflows/release-publish.yml
  scripts/verify-release-distribution.sh
  tools/release_contract_test.ts
Due: none

fix(space): preserve mutation admission errors
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/space.rs
Due: rustfmt, cargo-clippy

fix(space): classify metadata probe timeouts
  crates/ugoite-iceberg/src/iceberg_store.rs
Due: rustfmt, cargo-clippy

release: separate verification receipts from candidate identity
  .github/workflows/release-candidate.yml
  .github/workflows/release-publish.yml
  README.md
  docs/architecture/release/release-contract.md
  docs/architecture/release/release-scope.md
  docs/architecture/testing/ci-cd.md
  docs/mitase/features/ops.yaml
  docs/mitase/requirements/ops.yaml
  docs/spec/requirements/ops.yaml
  mise.toml
  mitase.yaml
  scripts/verify-release-distribution.sh
  tools/artifacts.ts
  tools/release.ts
  tools/release_contract_test.ts
  tools/release_verify.ts
  tools/release_verify_test.ts
Due: none

test(release): record verifier fixture coverage
  docs/architecture/release/release-contract.md
  docs/mitase/features/ops.yaml
  docs/mitase/requirements/ops.yaml
  docs/spec/requirements/ops.yaml
  mitase.yaml
Due: none

fix(validation): shared admission for space patch, search, read-only SQL
  crates/ugoite-core/src/error.rs
  crates/ugoite-core/src/query.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

feat(acceptance): read-only cross-surface capability projection
  docs/architecture/testing/cross-surface-acceptance.md
  tools/capability_report.ts
  tools/capability_report_test.ts
Due: none

fix(release): register verifier fixtures with Mitase
  docs/mitase/requirements/ops.yaml
  mitase.yaml
Due: none

fix(docs): add Starlight frontmatter to acceptance doc
  docs/architecture/testing/cross-surface-acceptance.md
Due: none

feat(space): operator-local idempotent create-or-return
  crates/ugoite-cli/src/commands/space.rs
  crates/ugoite-iceberg/src/service.rs
Due: rustfmt, cargo-clippy

style(release): format merged release contract
  docs/architecture/release/release-contract.md
Due: none

test(cli): update space create retry expectation to idempotent contract
  crates/ugoite-cli/tests/test_space.rs
Due: rustfmt, cargo-clippy

feat(acceptance): Golden Knowledge Journey with Frontend evidence
  docs/mitase/features/journey.yaml
  docs/mitase/requirements/journey.yaml
  e2e/deno.json
  e2e/knowledge-journey.test.ts
  mitase.yaml
  tools/capability_report.ts
  tools/capability_report_test.ts
Due: none

fix(release): separate registry artifacts from release assets
  docs/architecture/release/release-contract.md
  scripts/verify-release-distribution.sh
  tools/release.ts
  tools/release_contract_test.ts
  tools/release_verify.ts
  tools/release_verify_test.ts
Due: none

test(release): keep published manifest schema aligned
  tools/release.ts
  tools/release_contract_test.ts
Due: none

style(release): format registry projection docs
  docs/architecture/release/release-contract.md
Due: none

fix(release): avoid duplicate CLI release uploads
  tools/release.ts
  tools/release_contract_test.ts
Due: none

fix(audit): commit-coupled evidence for entry and saved-SQL mutations
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/mutation_audit.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
Due: rustfmt, cargo-clippy

feat(acceptance): Golden Knowledge Journey CLI core evidence
  crates/ugoite-cli/tests/test_journey_core.rs
  docs/mitase/features/api.yaml
  docs/mitase/features/journey.yaml
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/journey.yaml
Due: rustfmt, cargo-clippy

docs: define release platform support tiers
  deno.json
  docs/architecture/release/index.md
  docs/architecture/release/platform-support.md
  docs/architecture/release/release-contract.md
  docs/architecture/release/release-scope.md
Due: none

feat(acceptance): Golden Knowledge Journey CLI remote evidence
  crates/ugoite-cli/tests/test_journey_remote.rs
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/journey.yaml
  docs/mitase/requirements/journey.yaml
Due: rustfmt, cargo-clippy

feat(auth): browser-approved step-up for remote space mutations
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-cli/src/commands/space.rs
  crates/ugoite-cli/src/lib.rs
  crates/ugoite-cli/src/step_up.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/mcp.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  frontend/src/lib/generated/openapi-types.ts
Due: rustfmt, cargo-clippy, biome-ci

fix(protocol): track step-up operations in portable manifests
  frontend/src/lib/ugoite-client/protocol.ts
  tools/capability_report_test.ts
Due: biome-ci
