Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

docs: trace features to Iceberg adapter
  docs/spec/features/assets.yaml
  docs/spec/features/entries.yaml
  docs/spec/features/forms.yaml
  docs/spec/features/preferences.yaml
  docs/spec/features/search.yaml
  docs/spec/features/spaces.yaml
  docs/spec/features/sql.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/form.yaml
  docs/spec/requirements/index.md
  docs/spec/requirements/index.yaml
  docs/spec/requirements/integrity.yaml
  docs/spec/requirements/links.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/requirements/search.yaml
  docs/spec/requirements/security.yaml
  docs/spec/requirements/storage.yaml
Due: none

test: allow cold Iceberg reads in smoke detail route
  e2e/smoke.test.ts
Due: none

fix: keep cold entry reads alive
  e2e/smoke.test.ts
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

test: verify upstream rolling writer receipt
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

test: assert one snapshot per writer batch
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

test: cover typed revision workspace cases
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

refactor: remove legacy Arrow conversion from core
  crates/ugoite-iceberg/src/entry.rs
Due: rustfmt, cargo-clippy

test: assert native Iceberg field IDs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

test: keep entry batches behind domain API
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/tests/test_entry.rs
Due: rustfmt, cargo-clippy

feat: persist typed form revisions
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-domain/src/form.rs
  crates/ugoite-domain/tests/test_iceberg_native_domain.rs
  crates/ugoite-iceberg/benches/revision_log.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix: keep metadata publication internal
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

test: isolate frontend browser globals
  frontend/vitest.config.ts
Due: biome-ci

docs: align specs with Iceberg architecture
  docs/spec/architecture/decisions.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
Due: none

docs: record Iceberg publication coordinates
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/file-schemas.yaml
Due: none

docs: define SpaceCatalog architecture
  docs/architecture/index.md
  docs/architecture/north-star.md
  docs/spec/architecture/decisions.md
  docs/spec/architecture/future-proofing.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/directory-layout.yaml
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/specifications.yaml
Due: none

docs: clarify upstream metadata boundary
  docs/spec/architecture/space-catalog.md
Due: none

fix: verify Catalog Head conditional writes
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: publish Catalog Head from exact attempts
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

fix: surface Catalog Head CAS conflicts
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

fix: preserve CAS context for metadata evolution
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

refactor: group Catalog publication coordinates
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

test: require one CAS winner per entry
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

feat: coordinate Space Catalog mutations
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/workspace.rs
  docs/spec/architecture/overview.md
  docs/spec/architecture/space-catalog.md
Due: rustfmt, cargo-clippy

feat: build latest revision views with DataFusion
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix: unify latest revision validation
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

feat: pin revision views to Iceberg snapshots
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix: align revision views with Iceberg plans
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix(deps): align Iceberg stack updates
  .github/dependabot.yml
  Cargo.lock
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

fix: verify checkpoint publication evidence
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

feat: add SpaceCheckpoint coordinates
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-domain/src/id.rs
  crates/ugoite-domain/src/lib.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/architecture/overview.md
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/directory-structure.md
Due: rustfmt, cargo-clippy

fix: align checkpoints with revision planner
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

fix: harden durable checkpoint persistence
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: classify missing checkpoint targets
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
Due: rustfmt, cargo-clippy

fix: validate durable checkpoint coordinates
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
Due: rustfmt, cargo-clippy

fix(deps): encode publication digests with sha2 0.11
  crates/ugoite-iceberg/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close authorized query execution surface
  crates/ugoite-iceberg/src/query_context.rs
Due: rustfmt, cargo-clippy

fix: allow authorized Forms from Space-wide checkpoints
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
Due: rustfmt, cargo-clippy

fix: validate authorized query plans
  crates/ugoite-core/src/query.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
Due: rustfmt, cargo-clippy

Add authorized Iceberg query context
  crates/ugoite-core/src/lib.rs
  crates/ugoite-core/src/query.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
Due: rustfmt, cargo-clippy

fix: unify authorized queries with SpaceCheckpoint
  crates/ugoite-core/src/query.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  docs/spec/architecture/space-catalog.md
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
