Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

Fix overview tree and indexer imports
  docs/spec/data-model/overview.md
  ugoite-cli/tests/test_indexer.py
Due: ty-cli

Align SQL session specs and metadata handling
  docs/spec/api/rest.md
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/data-model/sql-sessions.md
  docs/spec/features/sql.md
  docs/spec/requirements/api.yaml
  docs/tasks/tasks.md
  frontend/src/lib/types.ts
  ieapp-core/src/materialized_view.rs
  ieapp-core/src/sql_session.rs
  ieapp-core/tests/test_materialized_view.rs
Due: rustfmt, cargo-clippy, biome-ci

chore: rebrand newly added files from main and cleanup ieapp-core
  docs/spec/data-model/sql-sessions.md
  docs/spec/requirements/api.yaml
Due: none

feat(core): add sample data scenarios and async jobs
  ugoite-core/src/lib.rs
  ugoite-core/src/sample_data.rs
  ugoite-core/tests/test_sample_data.rs
  ugoite-core/ugoite_core/__init__.py
Due: rustfmt, cargo-clippy, ty-core

feat(backend): add sample data scenario and job endpoints
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
Due: ty-backend

feat(frontend): async sample data flow with scenarios
  frontend/src/lib/client.test.ts
  frontend/src/lib/space-api.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/index.tsx
  frontend/src/test/mocks/handlers.ts
Due: biome-ci

feat(cli): add sample data scenario and job commands
  ugoite-cli/src/ugoite/cli.py
  ugoite-cli/src/ugoite/space.py
Due: ty-cli

docs: document sample data scenarios and jobs
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/features/spaces.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/frontend.yaml
  docs/tasks/tasks.md
Due: none

fix(frontend): avoid Vite proxy errors when backend is down
  frontend/app.config.ts
Due: biome-ci

feat(frontend): build real about page
  frontend/src/routes/about.tsx
Due: biome-ci

feat(frontend): refresh home page copy
  frontend/src/routes/index.tsx
Due: biome-ci

Update frontend/src/routes/about.tsx
  frontend/src/routes/about.tsx
Due: biome-ci

fix(frontend): keep loading bar visible over top bar
  frontend/src/components/SpaceShell.tsx
Due: biome-ci

Fix row_reference API test
  backend/tests/test_forms.py
Due: ty-backend

Validate sample job IDs and bound polling
  backend/src/app/api/endpoints/space.py
  frontend/src/routes/spaces/index.tsx
  ugoite-cli/src/ugoite/space.py
  ugoite-core/src/sample_data.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

Hardened job_id validation and addressed review comments on #196
  backend/src/app/api/endpoints/space.py
  backend/src/app/core/ids.py
  frontend/src/test/mocks/handlers.ts
  ugoite-cli/src/ugoite/space.py
  ugoite-cli/src/ugoite/utils.py
  ugoite-core/src/sample_data.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

test(e2e): stabilize theme query wait for dependabot PR #206
  e2e/ui-themes.test.ts
Due: none

security: remove vulnerable jsonwebtoken transitive dependency
  ugoite-core/Cargo.lock
  ugoite-core/Cargo.toml
Due: ty-core

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
