Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

docs(onboarding): spell out form-first browser flow
  README.md
  docs/guide/concepts.md
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
Due: none

docs(docsite): expose operational guides
  docs/guide/operations.md
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/navigation.test.ts
  docsite/src/lib/navigation.ts
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  e2e/docsite-onboarding.test.ts
Due: none

feat(frontend): guide empty entries to form creation
  e2e/entries.test.ts
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
Due: biome-ci

feat(backend): add targeted pytest task
  backend/README.md
  backend/mise.toml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  docs/tests/test_guides.py
Due: ty-backend

docs: reset CLI guide examples to core mode
  docs/guide/cli.md
  docs/tests/test_guides.py
Due: none

feat: simplify entry create help
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: add auth overview provenance fields
  ugoite-cli/tests/test_auth.rs
  ugoite-core/src/auth.rs
  ugoite-core/tests/test_auth_overview_consistency.py
Due: rustfmt, cargo-clippy, ty-cli, ty-core

fix: ship saved sql detail route
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/pages/space-sql-detail.yaml
  e2e/saved-sql-route.test.ts
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].test.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
Due: biome-ci

fix: block insecure remote cli endpoints
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  ugoite-cli/src/commands/asset.rs
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/commands/config.rs
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/form.rs
  ugoite-cli/src/commands/index.rs
  ugoite-cli/src/commands/search.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/commands/sql.rs
  ugoite-cli/src/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  ugoite-cli/tests/test_cli_req_sec_011_endpoint_transport.rs
Due: rustfmt, cargo-clippy, ty-cli

docs: align current MCP surface docs
  docs/spec/api/mcp.md
  docs/spec/architecture/overview.md
  docs/spec/index.md
  docs/spec/requirements/api.yaml
  docs/spec/versions/index.md
  docs/spec/versions/v0.2.md
  docs/tests/test_mcp_docs.py
  docs/version/unknown/roadmap.yaml
  docs/version/v0.1/mvp.yaml
  docs/version/v0.2.yaml
Due: none

fix(frontend): localize public landing pages
  docs/spec/requirements/frontend.yaml
  e2e/public-pages.test.ts
  frontend/src/lib/i18n.test.ts
  frontend/src/lib/i18n.ts
  frontend/src/lib/preferences-store.ts
  frontend/src/lib/space-store.ts
  frontend/src/routes/about.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/public-pages.test.tsx
  shared/i18n/ui.json
Due: biome-ci

fix: auto-install package vitest deps in worktrees
  docsite/mise.toml
  frontend/mise.toml
  scripts/ensure-bun-package-install.sh
Due: biome-ci

docs: clarify MCP transport wording
  docs/spec/api/mcp.md
Due: none

docs: add compose startup troubleshooting guide
  docs/guide/container-quickstart.md
  docs/guide/docker-compose.md
  docs/guide/troubleshooting-compose-startup.md
  docs/guide/troubleshooting-unauthorized-spaces.md
Due: none

docs: clarify data model authority layers
  docs/guide/concepts.md
  docs/spec/architecture/decisions.md
  docs/spec/data-model/overview.md
Due: none

docs: clarify frontend boundary responsibilities
  docs/spec/architecture/overview.md
  docs/spec/index.md
Due: none

docs: align package readmes with root dev flow
  backend/README.md
  docsite/README.md
  frontend/README.md
Due: ty-backend, biome-ci

docs: align contributor prereq tooling guidance
  .github/workflows/scancode.yml
  README.md
  backend/README.md
  frontend/README.md
  mise.toml
Due: ty-backend, biome-ci

docs: explain where quickstart browser data lives
  docs/guide/container-quickstart.md
Due: none

docs: clarify auth overview next step
  docs/guide/auth-overview.md
Due: none

docs: clarify entry path setup costs
  README.md
  docs/guide/cli.md
  docs/guide/container-quickstart.md
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
Due: none

docs: align top-level MCP messaging
  docs/spec/api/mcp.md
  docs/spec/architecture/overview.md
  docs/spec/index.md
  docsite/src/layouts/BaseLayout.astro
  docsite/src/pages/index.astro
Due: none

docs: add CLI routing mode guide
  docs/guide/cli.md
  ugoite-cli/src/commands/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

docs: surface concepts in getting started
  docs/guide/concepts.md
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  docsite/src/pages/getting-started/index.astro
Due: none

fix: remove looping login spaces CTA
  docs/spec/requirements/ops.yaml
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
Due: biome-ci

docs: clarify v0.1 MCP docs scope
  docs/spec/api/mcp.md
  docs/spec/architecture/overview.md
  docs/spec/index.md
  docs/spec/versions/index.md
  docs/spec/versions/v0.1.md
  docs/spec/versions/v0.2.md
  docs/version/unknown/roadmap.yaml
  docs/version/v0.1/mvp.yaml
Due: none

docs(spec): sync requirements taxonomy docs
  docs/spec/index.md
  docs/spec/requirements/README.md
  docs/spec/requirements/api.yaml
  docs/tests/test_requirements.py
Due: none

fix(docsite): derive policy feature edges from manifest
  docs/spec/features/features.yaml
  docs/spec/policies/README.md
  docs/spec/requirements/api.yaml
  docs/tests/test_features.py
  docsite/src/lib/spec-data.test.ts
  docsite/src/lib/spec-data.ts
Due: none

docs: unify contributor onboarding path
  README.md
  docs/guide/docker-compose.md
  docs/spec/index.md
  docs/spec/requirements/e2e.yaml
  docs/tests/test_guides.py
  docsite/src/lib/navigation.test.ts
  docsite/src/lib/navigation.ts
  e2e/docsite-onboarding.test.ts
Due: none

docs: trim duplicate README guide links
  README.md
  docs/spec/requirements/e2e.yaml
  docs/tests/test_guides.py
Due: none

fix: align local Python test strictness
  .github/workflows/python-ci.yml
  .github/workflows/rust-ci.yml
  backend/mise.toml
  docs/spec/requirements/ops.yaml
  docs/spec/stories/README.md
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  docs/tests/README.md
  docs/tests/test_guides.py
  mise.toml
  scripts/check_pytest_no_skips.py
  ugoite-core/mise.toml
Due: ty-backend, ty-core

fix: require explicit e2e port cleanup
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  docs/tests/test_guides.py
  e2e/scripts/run-e2e.sh
Due: none

fix: align local cli coverage validation
  AGENTS.md
  README.md
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  docs/tests/test_guides.py
  mise.toml
  ugoite-cli/mise.toml
Due: ty-cli

style: wrap requirements README test signatures
  docs/tests/test_requirements.py
Due: none

fix(docsite): format onboarding expectation wrapping
  docsite/src/lib/onboarding.test.ts
Due: none

fix(docs): wrap CLI coverage guide assertions
  docs/tests/test_guides.py
Due: none

fix(docs): add blank line after docstring summary lines (D205)
  docs/tests/test_requirements.py
Due: none

fix: wrap long lines in test_guides.py to satisfy ruff E501
  docs/tests/test_guides.py
Due: none

fix(docs): shorten long lines in test_features.py to satisfy ruff E501
  docs/tests/test_features.py
Due: none
