Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

docs: use deno for playwright ci examples
  docs/spec/testing/ci-cd.md
Due: none

fix(e2e): install playwright browsers before smoke runs
  e2e/deno.json
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
Due: none

Fix portable frontend Vitest root
  frontend/src/lib/i18n.test.ts
  frontend/vitest.config.ts
Due: biome-ci

Remove unused Solid router imports
  frontend/src/app.tsx
  frontend/src/components/AssetUploader.test.tsx
  frontend/src/components/AssetUploader.tsx
Due: biome-ci

fix: close followup audit boundaries
  crates/ugoite-cli/src/commands/entry.rs
  crates/ugoite-cli/src/commands/index.rs
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-core/src/service.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  crates/xtask/src/main.rs
  docs/spec/api/openapi.yaml
  frontend/src/components/HelloWorld.tsx
  frontend/src/lib/index.ts
  frontend/src/lib/ugoite-client/http.ts
  frontend/src/lib/ugoite-client/index.ts
  frontend/src/lib/ugoite-client/types.ts
Due: rustfmt, cargo-clippy, biome-ci

Replace portable client checker with Deno script
  crates/ugoite-api-client/README.md
  scripts/check-portable-api-client.py
  scripts/check-portable-api-client.ts
Due: none

Fix frontend Docker build for portable client
  Dockerfile
Due: none

Fix portable Docker frontend build
  Dockerfile
Due: none

fix: align onboarding description with test expectation
  docsite/src/lib/onboarding.ts
Due: none

Add All spaces link to SpaceShell
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/components/SpaceShell.tsx
Due: biome-ci

Add entry history link to entry detail
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

Add inline create form CTA to empty state
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
Due: biome-ci

Show invitation expiry and copy token
  frontend/src/routes/spaces/[space_id]/settings.test.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: biome-ci

Document local dev docsite port
  README.md
  docs/guide/local-dev-auth-login.md
Due: none

Add CLI test task and clearer space path error
  CONTRIBUTING.md
  README.md
  crates/ugoite-cli/src/config.rs
  crates/ugoite-cli/tests/test_cli_endpoint_routing.rs
  crates/ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
  crates/ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  docs/guide/cli.md
  docs/spec/testing/strategy.md
  mise.toml
Due: rustfmt, cargo-clippy

Resolve CLI error wording formatting conflict
  crates/ugoite-cli/tests/test_cli_endpoint_routing.rs
  crates/ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
  crates/ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy

Update ci.yml
  .github/workflows/ci.yml
Due: none

Unify sha2 dependencies
  Cargo.lock
  crates/ugoite-core/Cargo.toml
  crates/ugoite-core/src/auth.rs
  crates/ugoite-domain/Cargo.toml
  crates/ugoite-domain/src/integrity.rs
Due: rustfmt, cargo-clippy

chore(frontend): ignore generated wasm artifact
  frontend/.gitignore
Due: biome-ci

Potential fix for pull request finding 'Property access on null or undefined'
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
Due: biome-ci

fix: remove duplicate sha2 aliases
  crates/ugoite-core/Cargo.toml
  crates/ugoite-core/src/auth.rs
  crates/ugoite-domain/Cargo.toml
  crates/ugoite-domain/src/integrity.rs
Due: rustfmt, cargo-clippy

style: format sha2 imports
  crates/ugoite-domain/src/integrity.rs
Due: rustfmt, cargo-clippy

Define cache-aware mise build/package contracts
  Dockerfile
  README.md
  deno.json
  docs/spec/testing/ci-cd.md
  docsite/README.md
  frontend/README.md
  frontend/deno.json
  mise.toml
  scripts/activate-ugoite-wasm.sh
  scripts/build-ugoite-wasm.sh
  tools/artifacts.ts
Due: biome-ci

Cache CI work and upload verified artifacts
  .github/workflows/ci.yml
  README.md
  docs/spec/testing/ci-cd.md
  mise.toml
  scripts/measure-step.sh
  tools/artifacts.ts
Due: none

Eliminate duplicate CI runtime builds
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
  docs/spec/testing/ci-cd.md
  mise.toml
  tools/workspace_test.ts
Due: none

Honor explicit docsite build identity
  mise.toml
  tools/workspace_test.ts
Due: none

Promote verified docsite artifacts to Pages
  .github/workflows/docsite-pages.yml
  docs/spec/testing/ci-cd.md
Due: none

Harden promoted artifact validation
  .github/workflows/docsite-pages.yml
Due: none

Guard Pages promotion against rebuilds
  tools/workspace_test.ts
Due: none

Fix Docsite Pages manual run authentication
  .github/workflows/docsite-pages.yml
  tools/workspace_test.ts
Due: none

Fix docsite Starlight navigation SSOT
  .github/workflows/ci.yml
  deno.json
  docs/index.md
  docsite/astro.config.mjs
  docsite/deno.json
  docsite/src/content.config.ts
  docsite/src/docs-ssot.mjs
  docsite/src/ssot.test.ts
  e2e/deno.json
  e2e/docsite-mobile-nav.test.ts
  e2e/support/docsite-server.ts
  mise.toml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
