Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

docs: align API graph ownership boundaries
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  docs/mitase/features/api.yaml
  docs/mitase/requirements/api.yaml
Due: rustfmt, cargo-clippy

docs: trace SQL parameter binding through Mitase
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  docs/mitase/features/api.yaml
  docs/mitase/requirements/api.yaml
Due: rustfmt, cargo-clippy

test: prove SQL parameters are not substituted
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
Due: rustfmt, cargo-clippy

docs: demote API legacy registries from Mitase inventory
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
  mitase.yaml
Due: none

docs: add canonical Mitase Asset graph
  docs/mitase/features/assets.yaml
  docs/mitase/requirements/assets.yaml
  mitase.yaml
Due: none

test: prove AssetText parser failure durability
  crates/ugoite-iceberg/tests/test_asset.rs
  docs/mitase/features/assets.yaml
  docs/mitase/requirements/assets.yaml
Due: rustfmt, cargo-clippy

docs: close Asset graph change validation
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/test_asset.rs
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/assets.yaml
  docs/mitase/requirements/assets.yaml
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
  frontend/src/lib/asset-api.ts
Due: rustfmt, cargo-clippy, biome-ci

docs: demote legacy Asset specification authority
  docs/spec/features/features.yaml
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
Due: none

docs: close Asset graph change validation
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/assets.yaml
  docs/mitase/requirements/assets.yaml
  docs/spec/features/index.md
  docs/spec/requirements/index.md
  frontend/src/lib/asset-api.ts
Due: rustfmt, cargo-clippy, biome-ci

docs: model integrity in canonical mitase
  docs/mitase/features/integrity.yaml
  docs/mitase/requirements/integrity.yaml
  mitase.yaml
Due: none

docs: make integrity evidence boundaries explicit
  docs/mitase/features/integrity.yaml
  docs/mitase/requirements/integrity.yaml
Due: none

test: bind reconstructed entry checksum to Mitase
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/tests/test_integrity.rs
  docs/mitase/features/integrity.yaml
  docs/mitase/requirements/integrity.yaml
Due: rustfmt, cargo-clippy

docs: clarify E2E feature authority
  docs/spec/features/index.md
Due: none

docs: document the canonical E2E runner
  e2e/smoke.test.ts
Due: none

docs: mark E2E registry as migration evidence
  docs/spec/index.md
  docs/spec/requirements/index.md
Due: none

fix: make E2E verification runner executable
  mitase.yaml
Due: none

docs: add canonical E2E smoke and navigation graph
  docs/mitase/features/e2e.yaml
  docs/mitase/requirements/e2e.yaml
  e2e/navigation.test.ts
  e2e/smoke.test.ts
  mitase.yaml
Due: none

docs: document navigation runner context
  e2e/navigation.test.ts
Due: none

docs: describe Integrity boundary evidence split
  docs/mitase/requirements/integrity.yaml
Due: none

fix: execute fully qualified Integrity unit tests
  docs/mitase/requirements/integrity.yaml
Due: none

test: bind Integrity unsigned response boundaries to Mitase
  docs/mitase/features/integrity.yaml
  docs/mitase/requirements/integrity.yaml
  docs/spec/index.md
  docs/spec/requirements/index.md
Due: none

docs: preserve migrated E2E authority wording
  docs/spec/index.md
Due: none

docs: add canonical Mitase E2E docsite graph
  docs/mitase/features/e2e.yaml
  docs/mitase/requirements/e2e.yaml
  docsite/src/ssot.test.ts
  e2e/docsite-links.test.ts
  e2e/docsite-mobile-nav.test.ts
  e2e/docsite-onboarding.test.ts
  e2e/docsite-theme-controls.test.ts
  e2e/ui-themes.test.ts
  mitase.yaml
Due: none

docs: canonicalize frontend space selection
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  docs/mitase/requirements/search.yaml
  frontend/src/components/SpaceSelector.test.tsx
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/space-store.test.ts
  frontend/src/routes/spaces/index.test.tsx
  mitase.yaml
Due: biome-ci

fix: point frontend verifier at search tests
  docs/mitase/requirements/search.yaml
Due: none

feat(spec): model Security server boundaries in Mitase
  crates/ugoite-server/src/main.rs
  crates/ugoite-server/tests/security_config.rs
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
  mitase.yaml
Due: rustfmt, cargo-clippy

feat(spec): model passkey bootstrap security flow
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/api_contract.rs
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
  mitase.yaml
Due: rustfmt, cargo-clippy

feat(spec): model account self-recovery
  crates/ugoite-server/tests/api_contract.rs
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
  mitase.yaml
Due: rustfmt, cargo-clippy

spec: migrate frontend space selection to mitase
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

fix: use frontend-relative mitase test runners
  docs/mitase/requirements/frontend.yaml
Due: none

docs: migrate frontend entry browsing to mitase
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

docs: migrate frontend entry editor to mitase
  docs/mitase/features/frontend.yaml
  docs/mitase/requirements/frontend.yaml
  mitase.yaml
Due: none

docs: migrate storage foundation to mitase
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/storage.yaml
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
  mitase.yaml
Due: none

fix: point storage config binding at implementation
  docs/mitase/features/storage.yaml
Due: none

docs: preserve storage conflict status contract
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/storage.yaml
Due: none

docs: defer unresolved storage conflict migration
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/storage.yaml
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
Due: none

docs: migrate storage connector and preference contracts
  crates/ugoite-server/tests/api_contract.rs
  docs/mitase/features/e2e.yaml
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/storage.yaml
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
Due: rustfmt, cargo-clippy

docs: preserve storage connector evidence gaps
  crates/ugoite-server/tests/api_contract.rs
  docs/mitase/features/e2e.yaml
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/storage.yaml
  docs/spec/features/index.md
  docs/spec/requirements/index.md
  mitase.yaml
Due: rustfmt, cargo-clippy

docs: migrate storage layout and compatibility contracts
  docs/mitase/features/api.yaml
  docs/mitase/features/assets.yaml
  docs/mitase/features/integrity.yaml
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/api.yaml
  docs/mitase/requirements/integrity.yaml
  docs/mitase/requirements/storage.yaml
  docs/spec/features/index.md
  docs/spec/requirements/index.md
  mitase.yaml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
