Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

docs: use exact storage test identities
  docs/mitase/requirements/storage.yaml
Due: none

docs: migrate operational quality requirements
  docs/mitase/features/ops.yaml
  docs/mitase/requirements/ops.yaml
  docs/spec/features/index.md
  docs/spec/requirements/index.md
  mitase.yaml
Due: none

docs: preserve local release gate evidence
  docs/mitase/features/ops.yaml
  docs/mitase/requirements/ops.yaml
Due: none

docs: keep canonical YAML out of docsite links
  docs/spec/features/index.md
  docs/spec/requirements/index.md
Due: none

spec: model security membership boundaries in Mitase
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
  mitase.yaml
Due: none

test: assert AssetText parser error code
  crates/ugoite-iceberg/tests/test_asset.rs
Due: rustfmt, cargo-clippy

test(frontend): cover empty titles with required fields
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/lib/client.test.ts
  frontend/src/test/mocks/handlers.ts
Due: biome-ci

test(e2e): use immutable Space ID in first-entry fixture
  e2e/entries.test.ts
Due: none

test(e2e): resolve retry fixture by slug
  e2e/entries.test.ts
Due: none

spec: connect OIDC linking boundaries
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
Due: none

test: close OIDC migration review gaps
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/tests/api_contract.rs
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
  docs/spec/features/index.md
  docs/spec/requirements/index.md
  frontend/src/routes/settings/security.test.tsx
  frontend/src/routes/spaces/join.test.tsx
  mitase.yaml
Due: rustfmt, cargo-clippy, biome-ci

spec: model OIDC identity linking in Mitase
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
  mitase.yaml
Due: none

test(e2e): triage unrelated Entries failures
  e2e/entries.test.ts
Due: none

fix(ci): make merge queue checks dependency-safe
  .github/workflows/codeql.yml
  .github/workflows/pr-require-close-issue.yml
  docs/spec/testing/ci-cd.md
  tools/knowledge_compatibility_test.ts
  tools/merge_queue_policy.ts
  tools/merge_queue_policy_test.ts
Due: none

fix(ci): keep merge queue gates event-safe
  .github/workflows/codeql.yml
  .github/workflows/pr-require-close-issue.yml
  docs/spec/testing/ci-cd.md
  tools/knowledge_compatibility_test.ts
Due: none

fix(ci): disable merge queue SARIF uploads completely
  .github/workflows/codeql.yml
  tools/knowledge_compatibility_test.ts
Due: none

test: cover OIDC preservation during Space recovery
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  docker-compose.e2e.yml
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
  docs/spec/requirements/index.md
  e2e/lib/mock-oidc.ts
  e2e/owner-space-recovery.test.ts
  e2e/scripts/run-e2e.sh
  mitase.yaml
Due: rustfmt, cargo-clippy

test: make OIDC mock Compose-reachable
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  docker-compose.e2e.yml
  e2e/lib/mock-oidc.ts
  e2e/scripts/run-e2e-compose.sh
Due: rustfmt, cargo-clippy

docs: trace API frontend CRUD verification
  docs/mitase/features/api.yaml
  docs/mitase/requirements/api.yaml
  mitase.yaml
Due: none

docs: trace API backend and service evidence
  docs/mitase/features/api.yaml
  docs/mitase/requirements/api.yaml
Due: none

docs: connect CLI API verification evidence
  crates/ugoite-cli/tests/test_saved_sql.rs
  docs/mitase/features/api.yaml
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/api.yaml
Due: rustfmt, cargo-clippy

docs: remove migrated API registries from legacy feature index
  docs/spec/features/features.yaml
  docs/spec/features/index.md
Due: none

docs: connect Asset adapter verification evidence
  docs/mitase/features/assets.yaml
  docs/mitase/requirements/assets.yaml
Due: none

docs: demote the Frontend legacy requirement registry
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
Due: none

api: distinguish Space retries from duplicate creates
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/api/openapi.yaml
Due: rustfmt, cargo-clippy

spec: migrate Space duplicate-create contract
  docs/mitase/features/storage.yaml
  docs/mitase/requirements/storage.yaml
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
Due: none

docs: complete response-signing contract guarantee
  docs/mitase/features/integrity.yaml
Due: none

fix(frontend): model dashboard form readiness
  e2e/dashboard-first-form.test.ts
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
Due: biome-ci

test: assert unsigned response headers at middleware boundary
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(search): normalize Unicode keyword matching
  Cargo.lock
  crates/ugoite-cli/src/commands/search.rs
  crates/ugoite-cli/tests/test_cli_endpoint_routing.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-iceberg/src/search_normalization.rs
  crates/ugoite-iceberg/tests/test_search.rs
  docs/spec/api/rest.md
  docs/spec/data-model/overview.md
Due: rustfmt, cargo-clippy

spec: trace recovery TOTP settings UI
  docs/mitase/features/security.yaml
  docs/mitase/requirements/security.yaml
Due: none

docs(search): wrap REST contract text
  docs/spec/api/rest.md
Due: none

docs(query): clarify internal function allowlisting
  crates/ugoite-core/src/query.rs
Due: rustfmt, cargo-clippy

spec: trace recovery code rotation through browser recovery
  docs/mitase/requirements/security.yaml
Due: none

test(entries): follow the full-page create flow
  e2e/entries.test.ts
Due: none

test(entries): use semantic preview boundary
  e2e/entries.test.ts
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/MarkdownEditor.test.tsx
  frontend/src/components/MarkdownEditor.tsx
Due: biome-ci

test: verify oidc removal through account recovery
  docs/mitase/requirements/security.yaml
  e2e/account-self-recovery.test.ts
Due: none

fix: retire obsolete product theme contracts
  crates/ugoite-iceberg/src/preferences.rs
  crates/ugoite-iceberg/tests/test_preferences.rs
  docs/mitase/features/e2e.yaml
  docs/mitase/requirements/api.yaml
  docs/mitase/requirements/e2e.yaml
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/e2e.yaml
  docs/spec/ui/pages/space-dashboard.yaml
  docs/spec/ui/pages/space-entry-history.yaml
  docs/spec/ui/pages/space-entry-restore.yaml
  docs/spec/ui/pages/space-entry-revision.yaml
  docs/spec/ui/pages/space-form-types.yaml
  docs/spec/ui/pages/space-home.yaml
  docs/spec/ui/pages/space-query-create.yaml
  docs/spec/ui/pages/space-query-variables.yaml
  docs/spec/ui/pages/space-search.yaml
  docs/spec/ui/pages/space-sql-detail.yaml
  docs/spec/ui/pages/space-sql.yaml
  docs/spec/ui/pages/space-test-connection.yaml
  docs/spec/versions/v0.2.md
  e2e/ui-surface.test.ts
  e2e/ui-themes.test.ts
  frontend/src/lib/i18n.test.ts
  frontend/src/lib/preferences-store.test.ts
  mitase.yaml
  shared/i18n/ui.json
  shared/themes/primary-color-definitions.json
  shared/themes/ui-theme-definitions.json
  shared/themes/ui-theme-docsite.css
Due: rustfmt, cargo-clippy, biome-ci

ci: fail fast on unreachable compose oidc host
  e2e/scripts/run-e2e-compose.sh
Due: none

fix: propagate compose oidc host resolution failures
  e2e/scripts/run-e2e-compose.sh
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
