Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix(storage): harden endpoint validation and MinIO tests
  .github/workflows/ci.yml
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/minio_s3.rs
  crates/ugoite-storage/tests/minio_s3.rs
  docs/spec/testing/ci-cd.md
Due: rustfmt, cargo-clippy

test: cover public reversible knowledge contracts
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/tests/api_contract.rs
Due: rustfmt, cargo-clippy

test(ci): serialize MinIO integration tests
  .config/nextest.toml
  docs/spec/testing/ci-cd.md
Due: none

refactor: make publication chain the sole mutation authority
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-cli/src/commands/index.rs
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/test_asset.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-storage/src/lib.rs
  docs/spec/api/openapi.yaml
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/overview.md
Due: rustfmt, cargo-clippy

refactor: use PublicationRef and Pins for immutable reads
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/directory-layout.yaml
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/data-model/sql-sessions.md
  docs/spec/features/entries.yaml
  docs/spec/features/spaces.yaml
  docs/spec/features/sql.md
  docs/spec/index.md
  docs/spec/requirements/api.yaml
  frontend/src/lib/entry-api.ts
  frontend/src/lib/generated/openapi-types.ts
  frontend/src/lib/space-api.ts
  frontend/src/lib/ugoite-client/protocol.ts
Due: rustfmt, cargo-clippy, biome-ci

refactor: remove named checkpoint selection paths
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/health.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

refactor: hide checkpoint-only query adapters
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

test(ci): remove MinIO from required CI
  .config/nextest.toml
  .github/workflows/ci.yml
  crates/ugoite-iceberg/tests/minio_s3.rs
  crates/ugoite-storage/tests/minio_s3.rs
  crates/ugoite-storage/tests/s3_contract.rs
  docs/spec/testing/ci-cd.md
Due: rustfmt, cargo-clippy

feat: add portable Konase control plane
  Cargo.lock
  Cargo.toml
  crates/ugoite-konase/Cargo.toml
  crates/ugoite-konase/README.md
  crates/ugoite-konase/src/agent_runtime.rs
  crates/ugoite-konase/src/context.rs
  crates/ugoite-konase/src/engine.rs
  crates/ugoite-konase/src/lib.rs
  crates/ugoite-wasm/Cargo.toml
  crates/ugoite-wasm/src/lib.rs
  docs/architecture/boundaries/index.md
  docs/architecture/boundaries/konase.md
  docs/architecture/boundaries/runtime-adapters.md
  docs/architecture/principles/north-star.md
  docs/spec/architecture/decisions.md
  docs/spec/architecture/overview.md
  docs/spec/index.md
  mise.toml
Due: rustfmt, cargo-clippy

fix: bound Konase inputs and reject stale events
  crates/ugoite-konase/src/context.rs
  crates/ugoite-konase/src/engine.rs
  crates/ugoite-konase/src/lib.rs
  crates/ugoite-wasm/src/lib.rs
Due: rustfmt, cargo-clippy

fix: reject invalid Konase protocol state
  crates/ugoite-konase/src/engine.rs
  crates/ugoite-wasm/src/lib.rs
Due: rustfmt, cargo-clippy

fix: enforce bounded Konase protocol outputs
  crates/ugoite-konase/src/engine.rs
  crates/ugoite-wasm/src/lib.rs
Due: rustfmt, cargo-clippy

fix: bound Konase protocol envelopes
  crates/ugoite-konase/src/engine.rs
  crates/ugoite-wasm/src/lib.rs
Due: rustfmt, cargo-clippy

fix: preserve bounded state on Konase errors
  crates/ugoite-konase/src/engine.rs
Due: rustfmt, cargo-clippy

feat(konase): add Rig agent runtime adapter
  Cargo.lock
  Cargo.toml
  crates/ugoite-konase-rig/Cargo.toml
  crates/ugoite-konase-rig/src/lib.rs
  crates/ugoite-konase/src/agent_runtime.rs
  crates/ugoite-konase/src/engine.rs
  crates/ugoite-konase/src/lib.rs
  docs/architecture/boundaries/konase.md
Due: rustfmt, cargo-clippy

feat(konase): add native CLI read host
  Cargo.lock
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/commands/konase.rs
  crates/ugoite-cli/src/commands/mod.rs
  crates/ugoite-cli/src/main.rs
  crates/ugoite-konase-rig/src/lib.rs
  crates/ugoite-konase/src/engine.rs
  docs/architecture/boundaries/konase.md
Due: rustfmt, cargo-clippy

feat(konase): bind writes to work and expose undo
  crates/ugoite-cli/src/commands/konase.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/mcp.rs
  docs/architecture/boundaries/konase.md
  docs/spec/api/mcp.md
Due: rustfmt, cargo-clippy

fix(konase): dispatch MCP save requests
  crates/ugoite-cli/src/commands/konase.rs
Due: rustfmt, cargo-clippy

feat(frontend): add browser Konase host parity
  docs/architecture/boundaries/konase.md
  docs/architecture/boundaries/runtime-adapters.md
  frontend/src/components/index.ts
  frontend/src/components/konase/KonasePanel.tsx
  frontend/src/lib/konase/host.test.ts
  frontend/src/lib/konase/host.ts
  frontend/src/lib/konase/mcp.ts
  frontend/src/lib/konase/model.ts
  frontend/src/lib/ugoite-client/index.ts
  frontend/src/lib/ugoite-client/protocol.ts
  frontend/src/routes/api/[...path].test.ts
  frontend/src/routes/api/[...path].ts
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  shared/i18n/ui.json
Due: biome-ci

fix(frontend): remove unused Konase state assignment
  frontend/src/lib/konase/host.ts
Due: biome-ci

fix(konase): preserve MCP input schemas
  crates/ugoite-cli/src/commands/konase.rs
  crates/ugoite-konase-rig/src/lib.rs
  crates/ugoite-konase/src/context.rs
  crates/ugoite-konase/src/engine.rs
  docs/architecture/boundaries/konase.md
  frontend/src/lib/konase/host.ts
  frontend/src/lib/konase/mcp.test.ts
  frontend/src/lib/konase/mcp.ts
Due: rustfmt, cargo-clippy, biome-ci

fix(konase): use normalized capability context
  crates/ugoite-cli/src/commands/konase.rs
  frontend/src/lib/konase/host.test.ts
  frontend/src/lib/konase/host.ts
Due: rustfmt, cargo-clippy, biome-ci

docs: establish v0.1 foundation boundaries
  README.md
  docs/architecture/boundaries/konase.md
  docs/architecture/boundaries/runtime-adapters.md
  docs/architecture/principles/control-surfaces.md
  docs/architecture/principles/index.md
  docs/architecture/principles/knowledge-work-experience.md
  docs/architecture/principles/north-star.md
  docs/architecture/release/release-rearchitecture.md
  docs/architecture/release/release-scope.md
  docs/architecture/security/authentication-authorization.md
  docs/guide/automate/index.md
  docs/guide/index.md
  docs/guide/operate/auth/index.md
  docs/guide/start/index.md
  docs/index.md
  docs/spec/architecture/decisions.md
  docs/spec/index.md
  docs/spec/stories/experimental.yaml
  docs/spec/versions/index.md
  docs/spec/versions/v0.1.md
  docs/spec/versions/v0.2.md
  docs/version/changelog/alpha.yaml
  docs/version/changelog/beta.yaml
  docs/version/changelog/stable.yaml
  docs/version/unknown/roadmap.yaml
  docs/version/v0.1.yaml
  docs/version/v0.2.yaml
  docs/version/v0.2/ai-enabled-and-ai-used.yaml
  docs/version/v0.2/user-controlled-view.yaml
  docsite/astro.config.mjs
Due: none

fix(cli): keep MCP credentials resource-bound
  crates/ugoite-cli/src/commands/auth.rs
  crates/ugoite-cli/src/commands/konase.rs
  crates/ugoite-cli/src/config.rs
  crates/ugoite-cli/tests/integration_test.rs
  crates/ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
  docs/guide/automate/cli.md
  docs/guide/operate/auth/auth-overview.md
Due: rustfmt, cargo-clippy

fix(cli): discover MCP endpoint across API deployments
  crates/ugoite-cli/src/commands/auth.rs
  crates/ugoite-cli/src/commands/konase.rs
Due: rustfmt, cargo-clippy

fix: expose canonical publication coordinates
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

build: allow local Cargo cache placement
  .cargo/config.toml
  docs/guide/develop/index.md
Due: none

test(server): cover reversible knowledge REST contract
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

test(konase): cover browser MCP metadata and write undo
  frontend/src/lib/konase/host.test.ts
  frontend/src/lib/konase/mcp.test.ts
Due: biome-ci

fix(mcp): canonicalize model-facing entry saves
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/mcp.rs
  docs/spec/api/mcp.md
  docs/spec/requirements/api.yaml
Due: rustfmt, cargo-clippy

fix(release): make v0.1 promotion operator-controlled
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/release-publish.yml
  CONTRIBUTING.md
  README.md
  docs/architecture/release/release-scope.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  tools/release.ts
  tools/release_contract_test.ts
  version.txt
Due: none

test(server): deepen reversible Knowledge recovery coverage
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(docs): format release scope contract
  docs/architecture/release/release-scope.md
Due: none

fix(konase): bind browser work to current space
  docs/architecture/boundaries/konase.md
  frontend/src/components/konase/KonasePanel.test.tsx
  frontend/src/components/konase/KonasePanel.tsx
  frontend/src/lib/konase/browser-mcp-auth.test.ts
  frontend/src/lib/konase/browser-mcp-auth.ts
  frontend/src/lib/konase/mcp.test.ts
  frontend/src/lib/konase/mcp.ts
  frontend/src/routes/device.test.tsx
  frontend/src/routes/device.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  shared/i18n/ui.json
Due: biome-ci

chore(ci): update mise action to v4.3.0
  .github/workflows/ci.yml
  .github/workflows/release-publish.yml
Due: none

fix: bind Change metadata to publication identity
  crates/ugoite-domain/src/change.rs
  crates/ugoite-iceberg/src/lib.rs
  docs/spec/architecture/space-catalog.md
Due: rustfmt, cargo-clippy

spec: add v0.1 Knowledge compatibility floor
  .github/pull_request_template.md
  .github/workflows/pr-require-close-issue.yml
  crates/ugoite-iceberg/tests/fixtures/v0.1-knowledge.json
  crates/ugoite-iceberg/tests/test_knowledge_compatibility.rs
  docs/architecture/principles/north-star.md
  docs/spec/api/mcp.md
  docs/spec/architecture/future-proofing.md
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/overview.md
  docs/spec/philosophy/foundation.yaml
  docs/spec/policies/policies.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/specifications.yaml
  docs/spec/testing/strategy.md
  docs/spec/versions/index.md
  docs/spec/versions/v0.1-knowledge-compatibility.md
  docs/spec/versions/v0.1.md
  tools/create_pr.ts
  tools/knowledge_compatibility_test.ts
Due: rustfmt, cargo-clippy

test: enforce Knowledge compatibility review evidence
  .github/pull_request_template.md
  .github/required-status-checks.json
  .github/workflows/pr-require-close-issue.yml
  crates/ugoite-iceberg/tests/test_knowledge_compatibility.rs
  docs/spec/versions/v0.1-knowledge-compatibility.md
  tools/create_pr.ts
  tools/knowledge_compatibility.ts
  tools/knowledge_compatibility_test.ts
Due: rustfmt, cargo-clippy

ci: require the compatibility review check
  .github/required-status-checks.json
  .github/workflows/pr-require-close-issue.yml
  tools/knowledge_compatibility_test.ts
Due: none

ci: validate compatibility gate in merge queue
  .github/required-status-checks.json
  .github/workflows/pr-require-close-issue.yml
  tools/knowledge_compatibility_test.ts
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
