Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

fix: satisfy response signing lint checks
  backend/src/app/core/security.py
  backend/tests/test_api.py
Due: ty-backend

fix: reduce dashboard loading flicker
  docs/spec/requirements/frontend.yaml
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
Due: biome-ci

feat: add a local dev seed task
  README.md
  docs/guide/cli.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  mise.toml
  scripts/dev-seed.sh
Due: none

fix: keep dev seed builds in shared cache
  README.md
  docs/guide/cli.md
  docs/tests/test_guides.py
  mise.toml
  scripts/dev-seed.sh
Due: none

fix: satisfy response signing type checks
  backend/src/app/core/security.py
Due: ty-backend

fix: support full create-entry chat flow
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  shared/i18n/ui.json
Due: biome-ci

fix: satisfy chat dialog coverage
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: restore reactive chat step pills
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: satisfy dev seed CI checks
  docs/tests/test_guides.py
Due: none

feat: persist portable ui preferences
  backend/src/app/api/api.py
  backend/src/app/api/endpoints/preferences.py
  backend/src/app/models/payloads.py
  backend/tests/test_preferences.py
  docs/spec/features/README.md
  docs/spec/features/features.yaml
  docs/spec/features/preferences.yaml
  docs/spec/requirements/frontend.yaml
  frontend/src/app.tsx
  frontend/src/components/ThemeMenu.test.tsx
  frontend/src/components/ThemeMenu.tsx
  frontend/src/lib/i18n.ts
  frontend/src/lib/preferences-api.ts
  frontend/src/lib/preferences-local.ts
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/preferences-store.ts
  frontend/src/lib/space-store.test.ts
  frontend/src/lib/space-store.ts
  frontend/src/lib/types.ts
  frontend/src/lib/ui-theme.ts
  frontend/src/test/mocks/handlers.ts
  ugoite-core/src/lib.rs
  ugoite-core/src/preferences.rs
  ugoite-core/src/python_bindings.rs
  ugoite-core/tests/test_async_bindings.py
  ugoite-core/tests/test_preferences.rs
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/_ugoite_core.pyi
Due: rustfmt, cargo-clippy, ty-backend, ty-core, biome-ci

fix: stabilize portable preferences checks
  backend/tests/test_preferences.py
  docs/spec/requirements/frontend.yaml
  e2e/ui-themes.test.ts
  frontend/src/lib/preferences-api.test.ts
  frontend/src/lib/preferences-store.test.ts
  ugoite-core/ugoite_core/__init__.py
Due: ty-backend, ty-core, biome-ci

fix: satisfy response signing lint
  backend/src/app/core/security.py
Due: ty-backend

fix: satisfy chat dialog formatting
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: match dev seed shell formatting
  scripts/dev-seed.sh
Due: none

fix: stabilize portable preferences checks
  e2e/ui-themes.test.ts
  frontend/src/lib/preferences-api.test.ts
  frontend/src/lib/preferences-store.test.ts
Due: biome-ci

fix: satisfy chat test formatting
  frontend/src/components/create-dialogs.test.tsx
Due: biome-ci

fix: stabilize portable preferences checks
  backend/src/app/models/payloads.py
  backend/tests/test_preferences.py
  docs/spec/features/README.md
  docs/spec/features/features.yaml
  docs/spec/features/preferences.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/storage.yaml
  docs/tests/test_features.py
  e2e/ui-themes.test.ts
  frontend/src/lib/preferences-api.test.ts
  ugoite-core/tests/test_async_bindings.py
  ugoite-core/tests/test_preferences.rs
  ugoite-core/ugoite_core/__init__.py
Due: rustfmt, cargo-clippy, ty-backend, ty-core, biome-ci

fix: satisfy portable preferences lint checks
  docs/tests/test_features.py
  ugoite-core/tests/test_async_bindings.py
Due: ty-core

fix: allow dependabot bump commits
  .commitlintrc.cjs
Due: none

docs: improve policy traceability
  docs/spec/philosophy/foundation.yaml
  docs/spec/policies/README.md
  docs/spec/policies/policies.yaml
  docs/tests/test_spec_governance.py
  docsite/src/lib/spec-data.ts
  docsite/src/pages/design/philosophy.astro
  docsite/src/pages/design/philosophy/[id].astro
  docsite/src/pages/design/policies.astro
  docsite/src/pages/design/policies/[id].astro
  docsite/src/pages/design/relations.astro
Due: none

docs: explain version release streams
  docs/spec/index.md
  docs/spec/versions/changelog.md
  docs/spec/versions/index.md
  docs/spec/versions/v0.1.md
  docs/spec/versions/v0.2.md
Due: none

test: verify storage docs against runtime
  docs/spec/data-model/directory-layout.yaml
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/requirements/storage.yaml
  docs/spec/security/overview.md
  docs/tests/test_storage_docs.py
Due: none

test: simplify governance docs checks
  docs/tests/test_spec_governance.py
Due: none

test: simplify storage docs validation
  docs/tests/test_storage_docs.py
Due: none

style: format storage docs test
  docs/tests/test_storage_docs.py
Due: none

test: skip storage runtime checks without bindings
  docs/tests/test_storage_docs.py
Due: none

test: run storage sync checks via uv project
  docs/tests/test_storage_docs.py
  pyproject.toml
Due: none

fix: avoid router gating during portable prefs init
  frontend/src/app.tsx
Due: biome-ci

fix: address governance review feedback
  docs/tests/test_spec_governance.py
  docsite/src/pages/design/philosophy/[id].astro
  docsite/src/pages/design/policies.astro
  docsite/src/pages/design/policies/[id].astro
Due: none

docs: align version release docs metadata
  docs/spec/index.md
  docs/spec/versions/index.md
Due: none

test: cover documented asset storage trigger
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/tests/test_storage_docs.py
  pyproject.toml
Due: none

fix: update docsite CI for Astro 6
  .github/workflows/docsite-ci.yml
  docsite/biome.json
Due: none

feat: align local dev auth login
  README.md
  backend/src/app/api/api.py
  backend/src/app/api/endpoints/auth.py
  backend/src/app/core/middleware.py
  backend/src/app/models/payloads.py
  backend/tests/test_dev_auth.py
  docker-compose.e2e.yml
  docs/guide/cli.md
  docs/guide/env-matrix.md
  docs/guide/local-dev-auth-login.md
  docs/guide/troubleshooting-unauthorized-spaces.md
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/features/features.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/security/overview.md
  docs/tests/test_guides.py
  e2e/playwright.config.ts
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
  e2e/smoke.test.ts
  frontend/src/components/Nav.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth-api.ts
  frontend/src/lib/auth-session.ts
  frontend/src/routes/api/[...path].ts
  frontend/src/routes/index.tsx
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
  frontend/src/test/mocks/handlers.ts
  scripts/dev-auth-env.sh
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-core/tests/test_auth.py
  ugoite-core/ugoite_core/auth.py
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

feat: add keyword-first search flow
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/search.yaml
  docs/spec/ui/pages/space-search.yaml
  e2e/search-ui.test.ts
  e2e/ui-themes.test.ts
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/spec/ui-pages.test.ts
Due: biome-ci

fix: tighten local dev auth flows
  backend/src/app/api/endpoints/auth.py
  backend/src/app/core/middleware.py
  backend/tests/test_dev_auth.py
  frontend/src/components/Nav.tsx
  frontend/src/lib/auth-api.ts
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  scripts/dev-auth-env.sh
  shared/i18n/ui.json
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-core/tests/test_auth.py
  ugoite-core/ugoite_core/auth.py
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

fix: harden docsite link routing
  docs/spec/requirements/e2e.yaml
  docsite/src/lib/doc-links.ts
  docsite/src/lib/spec-data.ts
  docsite/src/pages/docs/[...slug].astro
  docsite/src/pages/search-index.json.ts
  e2e/docsite-links.test.ts
  e2e/docsite-mobile-nav.test.ts
  e2e/support/docsite-server.ts
Due: none

feat: publish release images to ghcr
  .github/workflows/docker-build-ci.yml
  .github/workflows/docker-images.yml
  .github/workflows/release-publish.yml
  README.md
  docker-compose.release.yaml
  docs/guide/container-quickstart.md
  docs/guide/docker-compose.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

feat: publish cli release binaries
  .github/workflows/cli-release-binaries.yml
  .github/workflows/release-publish.yml
  README.md
  docs/guide/cli.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  scripts/install-ugoite-cli.sh
Due: none

chore: declare mise monorepo config roots
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  mise.toml
Due: none

fix: stabilize all tests rollup
  .github/workflows/all-tests-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none
