Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

test(e2e): cover concepts-first onboarding nav
  e2e/docsite-onboarding.test.ts
Due: none

docs(spec): clarify spec index concepts
  docs/spec/index.md
Due: none

docs(readme): align onboarding with docsite flow
  README.md
  docs/spec/requirements/e2e.yaml
  docs/tests/test_guides.py
Due: none

fix(docsite): link design relation spec pills
  docs/spec/requirements/e2e.yaml
  docsite/src/pages/design/relations.astro
  e2e/docsite-links.test.ts
Due: none

fix(docsite): retarget run-from-source onboarding
  docs/spec/requirements/e2e.yaml
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  e2e/docsite-onboarding.test.ts
Due: none

fix(frontend): derive SSR api origin from request
  docs/spec/requirements/ops.yaml
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
Due: biome-ci

fix(frontend): clarify space ID create flow
  docs/spec/requirements/frontend.yaml
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

fix(frontend): use product terms in space nav
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/pages/space-entries-object.yaml
  docs/spec/ui/pages/space-form-grid.yaml
  e2e/ui-themes.test.ts
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/spec/ui-pages.test.ts
  shared/i18n/ui.json
Due: biome-ci

feat(frontend): surface storage topology
  docs/spec/requirements/frontend.yaml
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/lib/storage-topology.test.ts
  frontend/src/lib/storage-topology.ts
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  shared/i18n/ui.json
Due: biome-ci

fix(frontend): guide first-time login flow
  docs/spec/requirements/ops.yaml
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
Due: biome-ci

fix: align hmac 0.13 sha2 compatibility
  Cargo.lock
  ugoite-core/Cargo.toml
  ugoite-core/src/auth.rs
  ugoite-minimum/Cargo.toml
  ugoite-minimum/src/integrity.rs
Due: rustfmt, cargo-clippy, ty-core

fix: pin cosign release for installer v4
  .github/workflows/sbom-ci.yml
Due: none

fix(cli): describe help for update and sample data
  docs/spec/requirements/api.yaml
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(frontend): replace scaffold 404 guidance
  docs/spec/requirements/e2e.yaml
  e2e/public-pages.test.ts
  frontend/src/routes/[...404].test.tsx
  frontend/src/routes/[...404].tsx
Due: biome-ci

fix(docs): align create-entry payload contract
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/requirements/entry.yaml
  docs/tests/test_api_docs.py
Due: none

fix(backend): sanitize raw 500 error details
  backend/src/app/main.py
  backend/tests/test_api.py
  backend/tests/test_error_sanitization.py
  backend/tests/test_preferences.py
Due: ty-backend

fix(asset): normalize uploaded filenames
  backend/tests/test_api.py
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/entry.yaml
  ugoite-core/src/asset.rs
  ugoite-core/tests/test_asset.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-core

test(docs): satisfy api docs lint
  docs/tests/test_api_docs.py
Due: none

fix(cli): shell-escape auth login exports
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): post backend entry creates to collection route
  docs/spec/requirements/api.yaml
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

docs(auth): align auth overview mode names
  docs/guide/auth-overview.md
  docs/tests/test_guides.py
Due: none

docs(readme): align roadmap references
  README.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_versions.py
Due: none

docs(metrics): separate onboarding friction
  docs/spec/product/success-metrics.md
Due: none

docs(onboarding): clarify entry-path tradeoffs
  README.md
  docs/spec/index.md
Due: none

docs(guide): add quickstart next steps
  docs/guide/cli.md
  docs/guide/container-quickstart.md
Due: none

docs(readme): scope current AI surface
  README.md
Due: none

docs(forms): clarify markdown field contracts
  README.md
  docs/guide/concepts.md
  docs/spec/data-model/overview.md
  docs/spec/index.md
Due: none

fix(tests): wrap roadmap fragments expectation
  docs/tests/test_versions.py
Due: none

refactor(tests): simplify auth overview docs check
  docs/tests/test_guides.py
Due: none

docs(philosophy): scope browser local-first claims
  README.md
  docs/guide/concepts.md
Due: none

docs(auth): explain entry-path defaults
  README.md
  docs/guide/container-quickstart.md
  docs/guide/local-dev-auth-login.md
Due: none

fix(frontend): route login auth guide to local docs
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
Due: biome-ci

fix(frontend): widen storage topology schemes
  docs/spec/requirements/frontend.yaml
  frontend/src/lib/storage-topology.test.ts
  frontend/src/lib/storage-topology.ts
Due: biome-ci

test(frontend): format ui page spec assertions
  frontend/src/spec/ui-pages.test.ts
Due: biome-ci

style(frontend): format space create copy
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

test(docs): wrap readme taxonomy assertion
  docs/tests/test_guides.py
Due: none

fix(frontend): stop trusting SSR request origins
  docs/guide/env-matrix.md
  docs/spec/requirements/ops.yaml
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
Due: biome-ci

docs(spec): align storage ADRs with Iceberg model
  docs/spec/architecture/decisions.md
Due: none

docs(api): document form type responses
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/requirements/form.yaml
  docs/tests/test_api_docs.py
Due: none

docs(readme): align backend python version
  README.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
Due: none
