Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

fix(docsite): pin vite@7.3.2 for Astro 6.2.2 compatible build
  docsite/bun.lock
  docsite/package.json
Due: none

fix(backend): pin correct python 3.14.4 digest and use base Python for uv
  backend/Dockerfile
Due: ty-backend

fix(docsite): align biome schema with 2.4.14
  docsite/biome.json
Due: none

fix(devcontainer): use PR head SHA for change detection
  .github/workflows/devcontainer-ci.yml
Due: none

fix(docs): tighten container quick-start guidance
  docs/guide/container-quickstart.md
  docs/guide/troubleshooting-compose-startup.md
Due: none

fix(docsite): clarify cli install guidance
  docsite/src/pages/app/cli/index.astro
Due: none

ci: move short linux jobs to ubuntu-slim
  .github/workflows/commitlint-ci.yml
  .github/workflows/docsite-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/pr-require-close-issue.yml
  .github/workflows/readme-command-guard.yml
  .github/workflows/release-ci.yml
  .github/workflows/shell-ci.yml
  .github/workflows/yaml-workflow-ci.yml
Due: none

ci: make slim workflows dockerless
  .github/workflows/commitlint-ci.yml
  .github/workflows/yaml-workflow-ci.yml
Due: none

ci: update slim workflow tooling
  .github/workflows/commitlint-ci.yml
  .github/workflows/yaml-workflow-ci.yml
Due: none

ci: install commitlint from root lockfile
  .github/workflows/commitlint-ci.yml
Due: none

fix(ci): revert ubuntu-slim workflow runners
  .github/workflows/commitlint-ci.yml
  .github/workflows/docsite-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/pr-require-close-issue.yml
  .github/workflows/readme-command-guard.yml
  .github/workflows/release-ci.yml
  .github/workflows/shell-ci.yml
  .github/workflows/yaml-workflow-ci.yml
Due: none

ci: restore slim on short workflows
  .github/workflows/commitlint-ci.yml
  .github/workflows/docsite-ci.yml
  .github/workflows/pr-require-close-issue.yml
  .github/workflows/readme-command-guard.yml
  .github/workflows/release-ci.yml
  .github/workflows/shell-ci.yml
Due: none

ci: keep commitlint on ubuntu-24.04
  .github/workflows/commitlint-ci.yml
Due: none

fix(backend): align uv lock with workspace resolution
  backend/uv.lock
Due: ty-backend

fix(core): build OpenDAL local operators explicitly
  ugoite-core/src/storage/mod.rs
Due: rustfmt, cargo-clippy, ty-core

fix(backend): align maturin lock metadata
  backend/uv.lock
Due: ty-backend

fix(backend): refresh maturin lock metadata
  backend/uv.lock
Due: ty-backend

fix(backend): refresh patchelf lock metadata
  backend/uv.lock
Due: ty-backend

fix(backend): refresh ruff lock metadata
  backend/uv.lock
Due: ty-backend

fix: refresh ty locks across backend and core
  backend/uv.lock
Due: ty-backend

docs: add dependabot pr fixer skill
  .codex/skills/dependabot-pr-fixer/SKILL.md
Due: none

chore(core): bump patchelf floor
  ugoite-core/pyproject.toml
  ugoite-core/uv.lock
Due: ty-core

fix(backend): pin uv image
  backend/Dockerfile
Due: ty-backend

docs: update dependabot fixer skill
  .codex/skills/dependabot-pr-fixer/SKILL.md
Due: none

docs: add devcontainer retry guidance
  .codex/skills/dependabot-pr-fixer/SKILL.md
Due: none

chore(deps-dev): refresh backend ty lock metadata
  backend/uv.lock
Due: ty-backend

docs: refine dependabot pr fixer skill
  .codex/skills/dependabot-pr-fixer/SKILL.md
Due: none

feat: add low-memory repo-wide test profile
  CONTRIBUTING.md
  docs/spec/testing/ci-cd.md
  docs/tests/test_contributing_guide.py
  docsite/mise.toml
  frontend/mise.toml
  mise.toml
Due: biome-ci

ci: split fast pre-commit hooks from heavy coverage gates
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  mise.toml
Due: none

docs: align cli guide with cli behavior
  docs/guide/cli.md
  docs/tests/test_guides.py
Due: none
