Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix(auth): include channels in cli overview
  docs/spec/requirements/security.yaml
  ugoite-cli/tests/test_auth.rs
  ugoite-core/src/auth.rs
Due: rustfmt, cargo-clippy, ty-cli, ty-core

fix(release): consume quoted auth login exports safely
  docs/spec/requirements/ops.yaml
  scripts/verify-release-container-quickstart.sh
  ugoite-cli/tests/test_auth.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): reject remote entry author overrides
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

Clarify v0.1 MCP docs scope
  docs/spec/api/mcp.md
  docs/spec/architecture/overview.md
  docs/spec/index.md
  docs/spec/versions/index.md
  docs/spec/versions/v0.1.md
  docs/spec/versions/v0.2.md
  docs/version/unknown/roadmap.yaml
  docs/version/v0.1/mvp.yaml
Due: none

fix(frontend): prevent vitest drift
  .github/dependabot.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

feat(cli): add help quick start
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/main.rs
  ugoite-cli/tests/integration_test.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(frontend): preserve auth cookie on login
  docs/spec/requirements/ops.yaml
  e2e/smoke.test.ts
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
Due: biome-ci

fix(docs): align form type response contract
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/tests/test_api_docs.py
Due: none

fix(cli): scope mock-oauth proxy token help
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(tooling): ignore validation-only root artifacts
  .gitignore
  docs/spec/requirements/ops.yaml
  docs/tests/test_artifact_hygiene.py
Due: none

fix(cli): split help quick-start modes
  ugoite-cli/src/main.rs
  ugoite-cli/tests/integration_test.rs
Due: rustfmt, cargo-clippy, ty-cli

test(docs): assert resolved vitest lock alignment
  docs/tests/test_guides.py
Due: none

fix(ci): parse quickstart auth exports
  docs/tests/test_guides.py
  scripts/verify-release-container-quickstart.sh
Due: none

fix(docs): align run-from-source onboarding link
  README.md
  docs/tests/test_guides.py
Due: none

fix: install pre-commit hooks during setup
  .devcontainer/devcontainer.json
  AGENTS.md
  README.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  mise.toml
Due: none

fix: run quickstart cleanup fallback as root
  docs/tests/test_guides.py
  scripts/verify-release-container-quickstart.sh
Due: none

fix: align local Python test strictness with CI
  backend/mise.toml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  docs/tests/test_pytest_skip_guard.py
  mise.toml
  pyproject.toml
  scripts/fail_on_skipped_tests.py
  ugoite-core/mise.toml
Due: ty-backend, ty-core

fix(docs): align newcomer onboarding order
  README.md
  docs/guide/concepts.md
  docs/guide/container-quickstart.md
  docs/tests/test_guides.py
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  docsite/src/pages/getting-started/index.astro
  docsite/src/pages/index.astro
Due: none

fix: ignore routine validation artifacts
  .gitignore
  docs/tests/test_artifact_hygiene.py
Due: none

fix: scope setup hooksPath reset locally
  docs/tests/test_guides.py
  mise.toml
Due: none

fix: replace docs test magic value
  docs/tests/test_guides.py
Due: none

fix(tooling): remove deprecated husky bootstrap
  .husky/commit-msg
Due: none

docs(testing): align docs verification docs
  docs/spec/stories/README.md
  docs/tests/README.md
Due: none

fix(frontend): stop public routes from hitting portable preferences API
  e2e/public-pages.test.ts
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/preferences-store.ts
Due: biome-ci

fix(cli): clarify routing mode help
  docs/spec/requirements/ops.yaml
  docs/spec/requirements/storage.yaml
  ugoite-cli/src/commands/form.rs
  ugoite-cli/src/commands/search.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/main.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: align backend Python version docs
  backend/README.md
  docs/spec/architecture/stack.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
Due: ty-backend

feat(frontend): guide first spaces to create forms
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/pages/space-dashboard.yaml
  e2e/dashboard-first-form.test.ts
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  shared/i18n/ui.json
Due: biome-ci

feat(frontend): add saved SQL recovery route
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/pages/space-sql.yaml
  e2e/saved-sql-route.test.ts
  frontend/src/routes/spaces/[space_id]/sql.tsx
  frontend/src/routes/spaces/[space_id]/sql/index.test.tsx
  frontend/src/routes/spaces/[space_id]/sql/index.tsx
Due: biome-ci

fix(docs): refresh README docs map
  README.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_versions.py
Due: none

fix(docs): address README docs map lint
  docs/tests/test_versions.py
Due: none

fix(docs): surface browser onboarding caveats
  README.md
  docs/spec/requirements/e2e.yaml
  docs/tests/test_guides.py
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  docsite/src/pages/index.astro
  e2e/docsite-onboarding.test.ts
Due: none

fix(tooling): remove deprecated husky bootstrap
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix(docsite): clarify application docs CTA
  docs/spec/requirements/e2e.yaml
  docsite/src/pages/app/index.astro
  docsite/src/pages/index.astro
  e2e/docsite-onboarding.test.ts
Due: none

fix(cli): clarify auth profile state
  docs/guide/auth-overview.md
  docs/guide/cli.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): clarify auth profile state
  docs/guide/cli.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(frontend): make login auth recovery deployment-agnostic
  docs/spec/requirements/ops.yaml
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
Due: biome-ci

fix(frontend): type login auth responses
  frontend/src/routes/login.tsx
Due: biome-ci

fix(frontend): make test origin matching lazy
  docs/spec/requirements/ops.yaml
  frontend/src/components/HelloWorld.test.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/asset-store.test.ts
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/client.test.ts
  frontend/src/lib/form-store.test.ts
  frontend/src/lib/frontend-origin.test.ts
  frontend/src/lib/frontend-origin.ts
  frontend/src/lib/preferences-api.test.ts
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/search-store.test.ts
  frontend/src/lib/space-store.test.ts
  frontend/src/lib/sql-api.test.ts
  frontend/src/lib/sql-session-api.test.ts
  frontend/src/lib/store.test.ts
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/test/http-origin.ts
  frontend/src/test/mocks/handlers.test.ts
  frontend/src/test/mocks/handlers.ts
  frontend/vitest.config.ts
Due: biome-ci

docs(frontend): document nested route conventions
  frontend/README.md
Due: biome-ci

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
