Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

feat(release): verify published quick starts
  .github/workflows/release-publish.yml
  .github/workflows/release-quickstart-verify.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  scripts/verify-release-container-quickstart.sh
Due: none

feat(docsite): simplify onboarding front door
  README.md
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  docsite/src/pages/getting-started/index.astro
  docsite/src/pages/index.astro
  e2e/docsite-onboarding.test.ts
Due: none

fix: bootstrap local dev auth once for root dev
  docs/guide/local-dev-auth-login.md
  docs/tests/test_guides.py
  mise.toml
Due: none

feat: split release changelogs by channel
  .github/workflows/release-publish.yml
  docs/spec/index.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/versions/changelog-alpha.md
  docs/spec/versions/changelog-beta.md
  docs/spec/versions/changelog-stable.md
  docs/spec/versions/changelog.md
  docs/spec/versions/index.md
  docs/spec/versions/v0.1.md
  docs/tests/test_guides.py
  docs/tests/test_versions.py
  docs/version/changelog/alpha.yaml
  docs/version/changelog/beta.yaml
  docs/version/changelog/stable.yaml
  docs/version/v0.1/release-preparation.yaml
  pyproject.toml
  scripts/render_release_notes.py
Due: none

feat(frontend): delay reserved warning guidance
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: update backend PyJWT floor for security advisory
  backend/pyproject.toml
  backend/uv.lock
Due: ty-backend

fix(ci): use supported artifact action
  .github/workflows/release-quickstart-verify.yml
  docs/tests/test_guides.py
Due: none

feat: install oathtool in the devcontainer
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer-ci.yml
  README.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix: tolerate comments in release changelog renderer
  docs/tests/test_guides.py
  scripts/render_release_notes.py
Due: none

fix: wire CodeQL config for vendored reqsign
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  docs/tests/test_guides.py
Due: none

feat: show seed progress during sample generation
  README.md
  docs/guide/cli.md
  docs/tests/test_guides.py
  scripts/dev-seed.sh
  ugoite-cli/src/commands/space.rs
  ugoite-cli/tests/test_space.rs
  ugoite-core/src/sample_data.rs
  ugoite-core/tests/test_sample_data.rs
Due: rustfmt, cargo-clippy, ty-cli, ty-core

fix: ignore core vendored reqsign in CodeQL
  .github/codeql/codeql-config.yml
  docs/tests/test_guides.py
Due: none

fix: address seed review feedback
  README.md
  docs/guide/cli.md
  ugoite-core/src/sample_data.rs
  ugoite-core/tests/test_sample_data.rs
Due: rustfmt, cargo-clippy, ty-core

fix: harden devcontainer oathtool install
  .devcontainer/devcontainer.json
  docs/tests/test_guides.py
Due: none

fix: verify release browser quickstart via frontend proxy
  docs/tests/test_guides.py
  scripts/verify-release-container-quickstart.sh
Due: none

fix: silence vendored reqsign seed warnings
  vendor/reqsign/src/ctx.rs
  vendor/reqsign/src/google/credential.rs
  vendor/reqsign/src/hash.rs
Due: rustfmt, cargo-clippy

feat: bootstrap admin-space for local auth
  README.md
  backend/src/app/api/endpoints/auth.py
  backend/src/app/api/endpoints/space.py
  backend/src/app/main.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_api_memory.py
  backend/tests/test_dev_auth.py
  backend/tests/test_forms_acl.py
  backend/tests/test_space_members.py
  docker-compose.yaml
  docs/guide/docker-compose.md
  docs/guide/local-dev-auth-login.md
  docs/spec/api/rest.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/security/overview.md
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/authz.py
  ugoite-core/ugoite_core/membership.py
Due: ty-backend, ty-core

docs: simplify release compose quick start
  README.md
  docs/guide/container-quickstart.md
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix: move cargo dependabot coverage to workspace root
  .github/dependabot.yml
  docs/spec/security/overview.md
  docs/tests/test_cli_language_docs.py
Due: none

docs: align release quickstart wording
  README.md
  docs/guide/container-quickstart.md
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

docs: unify docsite markdown presentation
  docsite/src/pages/docs/[...slug].astro
  docsite/src/pages/getting-started/index.astro
  docsite/src/pages/index.astro
  docsite/src/styles.css
  shared/themes/ui-theme-docsite.css
Due: none

fix: pin container external references
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  backend/Dockerfile
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  frontend/Dockerfile
Due: ty-backend, biome-ci

fix: pin runtime tool versions
  .github/workflows/e2e-ci.yml
  .github/workflows/release-quickstart-verify.yml
  .github/workflows/scancode.yml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  mise.toml
Due: none

fix: freeze lockfile installs
  .github/workflows/docsite-ci.yml
  .github/workflows/frontend-ci.yml
  README.md
  backend/README.md
  backend/mise.toml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  docsite/mise.toml
  e2e/mise.toml
  frontend/mise.toml
  mise.toml
  ugoite-core/mise.toml
Due: ty-backend, ty-core, biome-ci

feat: unify explicit passwordless auth
  backend/src/app/api/endpoints/auth.py
  backend/src/app/api/endpoints/members.py
  backend/src/app/core/middleware.py
  backend/src/app/models/payloads.py
  backend/tests/test_dev_auth.py
  backend/tests/test_forms_reserved_identity.py
  backend/tests/test_space_members.py
  docs/guide/local-dev-auth-login.md
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/security/overview.md
  docs/spec/stories/experimental.yaml
  docs/tests/test_guides.py
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
  frontend/src/lib/api.test.ts
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-api.ts
  frontend/src/routes/api/[...path].ts
  frontend/src/routes/login.tsx
  frontend/src/test/mocks/handlers.ts
  scripts/verify-release-container-quickstart.sh
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  ugoite-core/tests/test_form_reserved_identity.rs
  ugoite-core/ugoite_core/authz.py
  ugoite-core/ugoite_core/membership.py
  ugoite-minimum/src/metadata.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

feat: add in-repo helm chart for release topology
  .github/workflows/yaml-workflow-ci.yml
  .pre-commit-config.yaml
  README.md
  charts/ugoite/Chart.yaml
  charts/ugoite/README.md
  charts/ugoite/templates/NOTES.txt
  charts/ugoite/templates/_helpers.tpl
  charts/ugoite/templates/auth-secret.yaml
  charts/ugoite/templates/backend-deployment.yaml
  charts/ugoite/templates/backend-pvc.yaml
  charts/ugoite/templates/backend-service.yaml
  charts/ugoite/templates/frontend-deployment.yaml
  charts/ugoite/templates/frontend-service.yaml
  charts/ugoite/values.yaml
  docs/guide/container-quickstart.md
  docs/guide/helm-chart.md
  docs/spec/architecture/stack.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_helm_chart.py
Due: none

fix: lint tracked yaml files in workflow CI
  .github/workflows/yaml-workflow-ci.yml
Due: none

fix(ci): satisfy Python CI linting
  docs/tests/test_guides.py
Due: none

fix(ci): pin GitHub Actions to immutable SHAs
  .github/workflows/cli-release-binaries.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint-ci.yml
  .github/workflows/devcontainer-ci.yml
  .github/workflows/docker-build-ci.yml
  .github/workflows/docker-images.yml
  .github/workflows/docsite-ci.yml
  .github/workflows/docsite-pages.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/pr-require-close-issue.yml
  .github/workflows/python-ci.yml
  .github/workflows/readme-command-guard.yml
  .github/workflows/release-ci.yml
  .github/workflows/release-publish.yml
  .github/workflows/release-quickstart-verify.yml
  .github/workflows/rust-ci.yml
  .github/workflows/sbom-ci.yml
  .github/workflows/scancode.yml
  .github/workflows/shell-ci.yml
  .github/workflows/yaml-workflow-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix(api): expose admin-space to active admins
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
  backend/tests/test_dev_auth.py
  docs/guide/docker-compose.md
  docs/guide/local-dev-auth-login.md
  docs/spec/api/rest.md
  docs/spec/requirements/api.yaml
  docs/spec/security/overview.md
  e2e/smoke.test.ts
Due: ty-backend

feat: add pre-commit CI workflow
  .github/required-status-checks.json
  .github/workflows/pre-commit-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix: retry sample job status reads
  ugoite-core/src/sample_data.rs
  ugoite-core/tests/test_sample_data.rs
Due: rustfmt, cargo-clippy, ty-core

feat: add release quickstart CI
  .github/required-status-checks.json
  .github/workflows/release-quickstart-verify-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix: restore ops requirement metadata
  docs/spec/requirements/ops.yaml
Due: none

fix: allow release quickstart queue workflow permissions
  .github/workflows/release-quickstart-verify-ci.yml
Due: none

fix: bootstrap release quickstart default space
  README.md
  docker-compose.release.yaml
  docs/guide/container-quickstart.md
  docs/tests/test_guides.py
Due: none
