Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

Fix docsite navigation E2E browser setup
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  e2e/deno.json
  e2e/scripts/run-docsite-navigation.sh
Due: none

Add versioned release publishing workflow
  .github/release-please-config.json
  .github/workflows/ci.yml
  .github/workflows/release-publish.yml
  .npmrc
  .release-please-manifest.json
  CONTRIBUTING.md
  README.md
  charts/ugoite/Chart.yaml
  charts/ugoite/values.yaml
  docs/guide/cli.md
  docs/guide/container-quickstart.md
  docs/guide/helm-chart.md
  docs/spec/testing/ci-cd.md
  docs/spec/versions/changelog-stable.md
  docs/spec/versions/changelog.md
  mise.toml
  packages/ugoite/README.md
  packages/ugoite/package.json
  scripts/create_pr.py
  tools/artifacts.ts
  tools/release.ts
Due: none

Fix release workflow lint issue
  tools/release.ts
Due: none

Delete scripts/create_pr.py
  scripts/create_pr.py
Due: none

fix(auth): close credential and authorization races
  crates/ugoite-cli/src/commands/auth.rs
  crates/ugoite-cli/tests/integration_test.rs
  crates/ugoite-core/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  docs/architecture/authentication-authorization.md
  docs/guide/auth-overview.md
  docs/guide/cli.md
  frontend/src/routes/api/[...path].ts
Due: rustfmt, cargo-clippy, biome-ci

docs: align release stream labels to ver1
  docs/spec/index.md
  docs/spec/requirements/api.yaml
  docs/spec/versions/index.md
  docs/spec/versions/v0.1.md
  docs/spec/versions/v0.2.md
  docs/version/unknown/roadmap.yaml
Due: none

docs: restore v0.1 stream labels
  docs/spec/index.md
  docs/spec/requirements/api.yaml
  docs/spec/versions/index.md
  docs/spec/versions/v0.1.md
  docs/spec/versions/v0.2.md
  docs/version/unknown/roadmap.yaml
Due: none

fix(identity): remove deprecated nonce constructors
  crates/ugoite-identity/src/node_identity.rs
Due: rustfmt, cargo-clippy

feat: adopt Iceberg-native workspace foundation
  Cargo.lock
  Cargo.toml
  crates/ugoite-cli/tests/test_forms.rs
  crates/ugoite-core/Cargo.toml
  crates/ugoite-core/src/entry.rs
  crates/ugoite-core/src/form.rs
  crates/ugoite-core/src/iceberg_store.rs
  crates/ugoite-core/src/lib.rs
  crates/ugoite-core/src/saved_sql.rs
  crates/ugoite-core/tests/test_form.rs
  crates/ugoite-core/tests/test_sql_sessions.rs
  crates/ugoite-domain/Cargo.toml
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-domain/src/form.rs
  crates/ugoite-domain/src/id.rs
  crates/ugoite-domain/src/lib.rs
  crates/ugoite-domain/src/storage.rs
  crates/ugoite-domain/tests/test_coverage.rs
  crates/ugoite-domain/tests/test_iceberg_native_domain.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/benches/revision_log.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/migration.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-storage/Cargo.toml
  crates/ugoite-storage/src/lib.rs
  crates/ugoite-wasm/src/lib.rs
  crates/xtask/src/main.rs
  docs/guide/storage-migration.md
  docs/spec/architecture/decisions.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/stack.md
  docs/spec/data-model/directory-layout.yaml
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/index.md
  docs/spec/requirements/entry.yaml
  mise.toml
Due: rustfmt, cargo-clippy

test: retain storage abstraction coverage
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: harden iceberg catalog and revision validation
  Cargo.lock
  crates/ugoite-core/src/entry.rs
  crates/ugoite-core/src/iceberg_store.rs
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-domain/src/form.rs
  crates/ugoite-domain/tests/test_iceberg_native_domain.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/benches/revision_log.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
  docs/spec/architecture/overview.md
  docs/spec/data-model/file-schemas.yaml
Due: rustfmt, cargo-clippy

fix: assign unique iceberg nested field ids
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix: isolate iceberg table locations and conflicts
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

feat: make revisions the iceberg write source
  Cargo.lock
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

feat: add atomic rest schema commits and space isolation
  Cargo.lock
  crates/ugoite-core/Cargo.toml
  crates/ugoite-core/src/iceberg_store.rs
  crates/ugoite-iceberg/src/lib.rs
Due: rustfmt, cargo-clippy

feat: cut core forms and entries over to iceberg workspace
  crates/ugoite-core/src/entry.rs
  crates/ugoite-core/src/form.rs
  crates/ugoite-core/src/iceberg_store.rs
Due: rustfmt, cargo-clippy

feat: route core revisions through native workspace
  crates/ugoite-core/src/entry.rs
Due: rustfmt, cargo-clippy

fix: preserve native revision writes for auxiliary forms
  crates/ugoite-core/src/saved_sql.rs
  crates/ugoite-iceberg/src/lib.rs
Due: rustfmt, cargo-clippy

docs: finalize iceberg cutover contract
  crates/ugoite-iceberg/tests/workspace.rs
  docs/spec/architecture/decisions.md
  docs/spec/architecture/overview.md
  docs/spec/data-model/file-schemas.yaml
Due: rustfmt, cargo-clippy

refactor: remove legacy core revision writers
  crates/ugoite-core/src/entry.rs
Due: rustfmt, cargo-clippy

fix: preserve form metadata policy during native cutover
  crates/ugoite-core/src/form.rs
  crates/ugoite-iceberg/src/lib.rs
Due: rustfmt, cargo-clippy

fix: bind schema commits to REST catalog configuration
  Cargo.lock
  crates/ugoite-core/src/entry.rs
  crates/ugoite-core/src/iceberg_store.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/workspace.rs
  docs/spec/architecture/decisions.md
  docs/spec/architecture/overview.md
  docs/spec/data-model/overview.md
Due: rustfmt, cargo-clippy

fix: send OAuth credential requests as forms
  crates/ugoite-iceberg/src/lib.rs
Due: rustfmt, cargo-clippy

feat(frontend): adopt form-first workspace UI
  frontend/src/app.css
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: biome-ci

feat(frontend): align Home with workspace concept
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
Due: biome-ci

feat(frontend): ship approved v5 interface
  frontend/public/ui-concept-v5.html
  frontend/src/app.css
  frontend/src/app.tsx
Due: biome-ci

refactor(frontend): implement v5 layout with Solid components
  frontend/public/ui-concept-v5.html
  frontend/src/app.css
  frontend/src/app.tsx
Due: biome-ci

fix(auth): surface setup strengthening failures
  crates/ugoite-identity/src/node_identity.rs
  frontend/src/routes/setup.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix(auth): support setup credentials on one device
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  frontend/src/routes/setup.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix(ui): restore entry semantics and account controls
  frontend/src/app.css
  frontend/src/components/GlobalShell.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
Due: biome-ci

fix: complete v5 entry and settings workflows
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  docs/spec/ui/pages/space-entry-detail.yaml
  frontend/src/app.css
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/spec/ui-pages.test.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(ui): preserve agent credentials and repair navigation states
  frontend/src/components/SpaceShell.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: biome-ci

fix(frontend): preserve edits and restore space switching
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/components/SpaceShell.tsx
Due: biome-ci

fix(ui): address v5 review feedback
  frontend/src/components/GlobalShell.tsx
  frontend/src/routes/public-pages.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
Due: biome-ci

feat(frontend): explain form field types
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  shared/i18n/ui.json
Due: biome-ci

feat(frontend): link browser walkthrough from fresh spaces
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

fix(ui): unify form and entry workspace
  crates/ugoite-core/src/preferences.rs
  crates/ugoite-core/tests/test_preferences.rs
  docs/spec/data-model/file-schemas.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/components/space-shell.yaml
  docs/spec/ui/pages/space-entries-object.yaml
  docs/spec/ui/pages/space-entry-detail.yaml
  docs/spec/ui/pages/space-form-grid.yaml
  docs/spec/ui/pages/space-settings.yaml
  e2e/smoke.test.ts
  frontend/src/app.css
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/components/UiIcon.test.tsx
  frontend/src/components/UiIcon.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/preferences-local.test.ts
  frontend/src/lib/preferences-local.ts
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/preferences-store.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/entries.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/forms.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.test.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/spec/ui-pages.test.ts
  frontend/src/test/mocks/handlers.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(frontend): retry transient entry detail failures
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
