Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

feat(cli): add endpoint routing config under ~/.ugoite
  docs/guide/cli.md
  docs/spec/requirements/storage.yaml
  ugoite-cli/src/ugoite/cli.py
  ugoite-cli/src/ugoite/endpoint_config.py
  ugoite-cli/tests/test_cli_endpoint_routing.py
  ugoite-cli/tests/test_endpoint_config.py
Due: ty-cli

fix(frontend): include shared theme definitions in Docker image
  frontend/Dockerfile
Due: biome-ci

fix(docsite): address review feedback for config and markdown safety
  docsite/astro.config.mjs
  docsite/package.json
  docsite/src/pages/docs/[...slug].astro
Due: none

fix(entry-input): address review feedback for markdown mode and core helpers
  docs/spec/architecture/frontend-backend-interface.md
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/entry-input.test.ts
  frontend/src/lib/entry-input.ts
  ugoite-core/tests/test_entry_input_modes.py
  ugoite-core/ugoite_core/entry_input_modes.py
Due: ty-core, biome-ci

fix(cli): address endpoint routing review feedback
  docs/guide/cli.md
  ugoite-cli/src/ugoite/cli.py
  ugoite-cli/src/ugoite/endpoint_config.py
  ugoite-cli/tests/test_cli_endpoint_routing.py
  ugoite-cli/tests/test_endpoint_config.py
Due: ty-cli

fix(docsite): sanitize markdown link and image urls
  docsite/src/pages/docs/[...slug].astro
Due: none

feat(frontend): split theme style from primary color and mode
  docs/spec/ui/pages/space-dashboard.yaml
  frontend/src/app.css
  frontend/src/components/ThemeMenu.tsx
  frontend/src/lib/ui-theme.ts
  frontend/src/themes/classic.css
  frontend/src/themes/color-registry.ts
  frontend/src/themes/colors.css
  frontend/src/themes/materialize.css
  frontend/src/themes/pop.css
  frontend/src/themes/registry.test.ts
  frontend/src/themes/tokens.ts
  shared/i18n/ui.json
  shared/themes/primary-color-definitions.json
Due: biome-ci

ci: pin tool versions and fail on skipped tests
  .github/scripts/assert_junit_no_skips.py
  .github/workflows/all-tests-ci.yml
  .github/workflows/docker-build-ci.yml
  .github/workflows/docsite-ci.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/scancode.yml
  e2e/playwright.config.ts
Due: none

fix(docsite): pin prismjs for astro typecheck
  docsite/bun.lock
  docsite/package.json
Due: none

fix(frontend): align biome schema and formatting
  frontend/biome.json
  frontend/src/components/ThemeMenu.tsx
  frontend/src/themes/color-registry.ts
  frontend/src/themes/colors.css
Due: biome-ci

fix(ci): resolve strict-mode failures across python docker and e2e
  .github/scripts/assert_junit_no_skips.py
  .github/workflows/e2e-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/python-ci.yml
  backend/src/app/api/endpoints/entry.py
  backend/src/app/api/endpoints/forms.py
  backend/src/app/api/endpoints/space.py
  backend/src/app/api/endpoints/sql.py
  docs/tests/test_features.py
  frontend/Dockerfile
  frontend/src/app.css
  ugoite-cli/tests/test_build_sandbox.py
  ugoite-cli/tests/test_sandbox.py
Due: ty-backend, ty-cli, biome-ci

feat(frontend): include docsite in root dev and fix form column input visibility
  frontend/src/components/create-dialogs.tsx
  mise.toml
Due: biome-ci

feat(core): model SQL metadata field as sql type
  ugoite-core/src/entry.rs
  ugoite-core/src/form.rs
  ugoite-core/src/iceberg_store.rs
  ugoite-core/src/saved_sql.rs
Due: rustfmt, cargo-clippy, ty-core

feat(assets): sync uploads with system Assets metadata form
  frontend/src/components/AssetUploader.tsx
  frontend/src/lib/metadata-forms.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  ugoite-core/src/asset.rs
  ugoite-core/src/metadata.rs
Due: rustfmt, cargo-clippy, ty-core, biome-ci

docs(ui): expand page specs and enforce route parity checks
  docs/spec/ui/README.md
  docs/spec/ui/components/space-shell.yaml
  docs/spec/ui/pages/space-asset-detail.yaml
  docs/spec/ui/pages/space-assets.yaml
  docs/spec/ui/pages/space-entry-history.yaml
  docs/spec/ui/pages/space-entry-restore.yaml
  docs/spec/ui/pages/space-entry-revision.yaml
  docs/spec/ui/pages/space-form-detail.yaml
  docs/spec/ui/pages/space-form-types.yaml
  docs/spec/ui/pages/space-home.yaml
  docs/spec/ui/pages/space-link-detail.yaml
  docs/spec/ui/pages/space-links.yaml
  docs/spec/ui/pages/space-query-legacy.yaml
  docs/spec/ui/pages/space-sql-detail.yaml
  docs/spec/ui/pages/space-sql.yaml
  docs/spec/ui/pages/space-test-connection.yaml
  frontend/src/spec/ui-pages.test.ts
Due: biome-ci

chore(dev): include docsite in root mise dev
  mise.toml
Due: none

fix(frontend): keep form column name input visible and editable
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

feat(core): use sql type for SQL metadata form schema
  ugoite-core/src/entry.rs
  ugoite-core/src/form.rs
  ugoite-core/src/iceberg_store.rs
  ugoite-core/src/saved_sql.rs
Due: rustfmt, cargo-clippy, ty-core

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
