Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix: keep auth config read-only
  backend/src/app/api/endpoints/auth.py
  backend/tests/test_dev_auth.py
  docs/spec/api/rest.md
  docs/spec/requirements/ops.yaml
Due: ty-backend

fix: harden trusted proxy header handling
  backend/src/app/core/security.py
  backend/tests/test_api.py
  backend/tests/test_auth.py
  backend/tests/test_dev_auth.py
  docs/spec/requirements/ops.yaml
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
Due: ty-backend

fix: escape raw HTML in markdown previews
  docs/spec/requirements/frontend.yaml
  e2e/entries.test.ts
  frontend/src/components/MarkdownEditor.test.tsx
  frontend/src/components/MarkdownEditor.tsx
  frontend/src/lib/markdown.test.ts
  frontend/src/lib/markdown.ts
Due: biome-ci

chore(backend): satisfy signing error CI checks
  backend/src/app/core/middleware.py
  backend/src/app/main.py
  backend/tests/test_api.py
Due: ty-backend

style(frontend): format inline submit error handler
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

test(docs): wrap create-entry contract assertions
  docs/tests/test_api_docs.py
Due: none

test(backend): format create-space conflict regression
  backend/tests/test_api.py
Due: ty-backend

test(space): cover generic patch membership guards
  backend/src/app/models/payloads.py
  backend/tests/test_space_members.py
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli

test: cover SQL session length boundary
  backend/tests/test_sql.py
Due: ty-backend

style: wrap SQL session boundary patch
  backend/tests/test_sql.py
Due: ty-backend

fix(frontend): announce inline dialog submit errors
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: guard trusted forwarded proto
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
  docs/spec/requirements/security.yaml
Due: ty-backend

fix: standardize entry markdown payloads
  backend/src/app/api/endpoints/entry.py
  backend/src/app/models/payloads.py
  backend/tests/test_api.py
  backend/tests/test_api_memory.py
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/requirements/entry.yaml
  docs/tests/test_api_docs.py
  e2e/entries.test.ts
  e2e/forms.test.ts
  e2e/navigation.test.ts
  e2e/search-ui.test.ts
  e2e/smoke.test.ts
  e2e/ui-pages-screenshots.test.ts
  e2e/ui-themes.test.ts
  frontend/src/lib/client.test.ts
  frontend/src/lib/entry-api.ts
  frontend/src/lib/entry-store.ts
  frontend/src/lib/types.ts
  frontend/src/test/mocks/handlers.ts
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, biome-ci

style: fix dev auth throttle lint issues
  backend/src/app/api/endpoints/auth.py
  backend/tests/test_dev_auth.py
Due: ty-backend

fix: throttle repeated dev auth login failures
  backend/src/app/api/endpoints/auth.py
  backend/tests/test_dev_auth.py
  docs/guide/local-dev-auth-login.md
  docs/spec/api/rest.md
  docs/spec/requirements/ops.yaml
Due: ty-backend

fix(backend): throttle invalid passkey context attempts
  backend/tests/test_dev_auth.py
  docs/spec/requirements/ops.yaml
Due: ty-backend

fix: throttle invalid passkey context failures
  backend/src/app/api/endpoints/auth.py
  backend/tests/test_dev_auth.py
Due: ty-backend

fix: repair reserved admin-space newcomer flow
  backend/src/app/api/endpoints/space.py
  backend/src/app/main.py
  backend/tests/test_api.py
  docker-compose.release.yaml
  docs/guide/container-quickstart.md
  docs/spec/api/rest.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/ops.yaml
  e2e/smoke.test.ts
  frontend/src/lib/space-list.ts
  frontend/src/lib/space-store.test.ts
  frontend/src/lib/space-store.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: ty-backend, biome-ci

fix: require unique container auth secrets
  backend/src/app/api/endpoints/auth.py
  backend/src/app/main.py
  backend/tests/test_dev_auth.py
  charts/ugoite/templates/_helpers.tpl
  charts/ugoite/templates/auth-secret.yaml
  charts/ugoite/values.yaml
  docker-compose.yaml
  docs/guide/docker-compose.md
  docs/guide/env-matrix.md
  docs/guide/helm-chart.md
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  docs/tests/test_guides.py
  docs/tests/test_helm_chart.py
Due: ty-backend

fix: make local smoke checks auth aware
  backend/tests/test_dev_auth.py
  scripts/local-smoke-check.sh
Due: ty-backend

style(backend): satisfy local smoke check lint
  backend/tests/test_dev_auth.py
Due: ty-backend

feat(cli): persist auth login sessions
  docs/guide/auth-overview.md
  docs/guide/cli.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/config.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(frontend): hide browser auth tokens behind HttpOnly cookies
  docs/guide/auth-overview.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  e2e/smoke.test.ts
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-api.ts
  frontend/src/lib/auth-cookie.test.ts
  frontend/src/lib/auth-cookie.ts
  frontend/src/routes/api/[...path].test.ts
  frontend/src/routes/api/[...path].ts
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/test/mocks/handlers.ts
Due: biome-ci

fix: drop upstream auth cookies on proxy login
  frontend/src/routes/api/[...path].test.ts
  frontend/src/routes/api/[...path].ts
Due: biome-ci

refactor(frontend): drop legacy auth-session helper
  frontend/src/lib/auth-session.ts
Due: biome-ci

feat: bootstrap starter entry form
  README.md
  backend/tests/test_api.py
  backend/tests/test_forms.py
  docs/guide/concepts.md
  docs/spec/api/rest.md
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/storage.yaml
  e2e/dashboard-first-form.test.ts
  e2e/entries.test.ts
  frontend/src/components/create-dialogs.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  ugoite-cli/tests/test_space.rs
  ugoite-core/src/space.rs
  ugoite-core/tests/test_async_bindings.py
  ugoite-core/tests/test_entry.rs
  ugoite-core/tests/test_space.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

fix(ci): validate compose with explicit auth env
  .github/workflows/docker-build-ci.yml
  docs/tests/test_guides.py
  docs/tests/test_helm_chart.py
Due: none

test(cli): cover full membership settings denylist
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

test(core): cover asset fallback filenames
  ugoite-core/tests/test_asset.rs
Due: rustfmt, cargo-clippy, ty-core

fix: create auth sessions with owner-only mode
  ugoite-cli/src/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

test(backend): cover auth-config smoke failure
  backend/tests/test_dev_auth.py
Due: ty-backend

fix(frontend): localize public routes
  docs/spec/requirements/frontend.yaml
  e2e/public-pages.test.ts
  frontend/src/app.tsx
  frontend/src/components/Nav.tsx
  frontend/src/lib/i18n.test.ts
  frontend/src/lib/i18n.ts
  frontend/src/lib/preferences-store.ts
  frontend/src/routes/about.test.tsx
  frontend/src/routes/index.test.tsx
  shared/i18n/ui.json
Due: biome-ci

feat: refresh auth-aware nav branch
  docs/spec/requirements/frontend.yaml
  e2e/smoke.test.ts
  frontend/src/app.css
  frontend/src/components/Nav.test.tsx
  frontend/src/components/Nav.tsx
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-session.ts
  shared/i18n/ui.json
Due: biome-ci

fix: clarify storage URI metadata semantics
  docs/guide/storage-migration.md
  docs/spec/api/rest.md
  docs/spec/requirements/frontend.yaml
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/lib/storage-topology.test.ts
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  shared/i18n/ui.json
Due: biome-ci

fix: fail closed release auth defaults
  README.md
  charts/ugoite/values.yaml
  docker-compose.release.yaml
  docs/guide/container-quickstart.md
  docs/guide/helm-chart.md
  docs/guide/local-dev-auth-login.md
  docs/spec/security/overview.md
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  docs/tests/test_helm_chart.py
  scripts/verify-release-container-quickstart.sh
Due: none

fix: accept auth cookie in release quickstart verify
  scripts/verify-release-container-quickstart.sh
Due: none

chore(deps-dev): bump jsdom from 29.0.1 to 29.0.2 in /frontend
  frontend/bun.lock
  frontend/package.json
Due: biome-ci

chore(deps-dev): bump the vitest-stack group in /frontend with 2 updates
  frontend/bun.lock
  frontend/package.json
Due: biome-ci

fix: align release quickstart verification
  docs/tests/test_guides.py
  docsite/bun.lock
  scripts/verify-release-container-quickstart.sh
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
