Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix(docs): wrap requirements test docstring
  docs/tests/test_requirements.py
Due: none

style: apply biome format to saved SQL detail route and test
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].test.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
Due: biome-ci

refactor(docsite): replace title-string guard with expandAll flag in NavSection
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/navigation.test.ts
  docsite/src/lib/navigation.ts
Due: none

fix: cap SQL session create payload
  backend/src/app/models/payloads.py
  backend/tests/test_sql.py
Due: ty-backend

fix: block membership settings in space patch
  backend/src/app/api/endpoints/space.py
  backend/src/app/models/payloads.py
  backend/tests/test_forms_acl.py
  backend/tests/test_space_members.py
  ugoite-cli/src/commands/space.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli

fix: sanitize create-space conflict errors
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
Due: ty-backend

docs: align create-entry response contract
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/requirements/entry.yaml
  docs/tests/test_api_docs.py
Due: none

fix: preserve signing error responses
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
  docs/spec/requirements/security.yaml
Due: ty-backend

fix: show inline dialog submit errors
  docs/spec/requirements/frontend.yaml
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/forms/[form_name].tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  shared/i18n/ui.json
Due: biome-ci

test: trace query help coverage to req ops 006
  docs/spec/requirements/ops.yaml
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

docs: align query help with SQL column docs
  ugoite-cli/src/main.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

docs(features): align feature inventory docs
  docs/spec/features/README.md
  docs/spec/requirements/api.yaml
  docs/tests/test_features.py
Due: none

fix(tests): resolve ruff lint errors in test_features.py
  docs/tests/test_features.py
Due: none

docs: explain release compose remote flag
  docker-compose.release.yaml
  docs/guide/container-quickstart.md
  docs/spec/security/overview.md
Due: none

fix: satisfy Python strictness lint gates
  docs/tests/test_guides.py
  pyproject.toml
  scripts/check_pytest_no_skips.py
Due: none

fix: align no-build guide checks
  docs/tests/test_guides.py
Due: none

fix: wrap docs guide assertions
  docs/tests/test_guides.py
Due: none

fix: restore onboarding caveat phrasing
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
Due: none

fix: replace mock-oauth browser wording
  README.md
  charts/ugoite/templates/NOTES.txt
  docs/guide/auth-overview.md
  docs/guide/container-quickstart.md
  docs/guide/docker-compose.md
  docs/guide/helm-chart.md
  docs/guide/local-dev-auth-login.md
  docs/tests/test_guides.py
  docs/tests/test_helm_chart.py
  e2e/smoke.test.ts
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
Due: biome-ci

fix(frontend): reject placeholder UI specs
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/pages/space-sql-detail.yaml
  frontend/src/spec/ui-pages.test.ts
Due: biome-ci

docs: route auth help links to docsite
  docs/tests/test_guides.py
  docsite/src/pages/app/api-storage/index.astro
  docsite/src/pages/app/frontend/index.astro
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/lib/docsite-links.test.ts
  frontend/src/lib/docsite-links.ts
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

docs: align concepts-first onboarding order
  docs/guide/container-quickstart.md
  docs/spec/requirements/e2e.yaml
  docs/tests/test_guides.py
  docsite/src/pages/index.astro
  e2e/docsite-onboarding.test.ts
Due: none

docs(readme): focus documentation map on deeper references
  README.md
  docs/tests/test_guides.py
Due: none

fix(frontend): route Learn More CTA to the getting-started docsite
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: biome-ci

fix(frontend): explain legacy /query route recovery
  docs/spec/requirements/frontend.yaml
  frontend/src/routes/spaces/[space_id]/query.test.tsx
  frontend/src/routes/spaces/[space_id]/query.tsx
Due: biome-ci

style(frontend): format docsite link helpers
  frontend/src/components/SpaceSettings.tsx
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: biome-ci

test(frontend): align login CTA expectations
  frontend/src/routes/login.test.tsx
Due: biome-ci

style(frontend): format spaces index views
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

style(docs): wrap testing strategy assertion
  docs/tests/test_guides.py
Due: none

style(docs): wrap MCP doc assertions
  docs/tests/test_mcp_docs.py
Due: none

style(docs): satisfy docs test lint
  docs/tests/test_guides.py
Due: none

style(frontend): format public page localization files
  frontend/src/routes/about.tsx
  frontend/src/routes/public-pages.test.tsx
Due: biome-ci

test: cover backend endpoint warnings
  ugoite-cli/src/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
  ugoite-cli/tests/test_cli_req_sec_011_endpoint_transport.rs
Due: rustfmt, cargo-clippy, ty-cli

fix: wrap MCP docs assertions
  docs/tests/test_mcp_docs.py
Due: none

style: rustfmt endpoint coverage tests
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

style: format MCP docs tests
  docs/tests/test_mcp_docs.py
Due: none

style: fix docs test commas
  docs/tests/test_mcp_docs.py
Due: none

fix: prioritize login on the public home page
  docs/spec/requirements/ops.yaml
  e2e/public-pages.test.ts
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/public-pages.test.tsx
  shared/i18n/ui.json
Due: biome-ci

style: format public page localization test
  frontend/src/routes/public-pages.test.tsx
Due: biome-ci

style: format home page login hint
  frontend/src/routes/index.tsx
Due: biome-ci

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
