Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix: align dependabot cli ecosystem
  .github/dependabot.yml
  docs/spec/security/overview.md
  docs/tests/test_cli_language_docs.py
Due: none

fix: skip auth-only public preference loads
  .pre-commit-config.yaml
  docs/spec/requirements/e2e.yaml
  docs/spec/requirements/frontend.yaml
  e2e/public-pages.test.ts
  frontend/src/app.tsx
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/preferences-store.ts
Due: biome-ci

fix: address PR 746 feedback
  docsite/src/lib/doc-links.ts
  e2e/docsite-links.test.ts
  e2e/support/docsite-server.ts
Due: none

fix: address PR 747 workflow feedback
  .github/workflows/docker-images.yml
  docs/tests/test_guides.py
Due: none

fix: address PR 748 feedback
  .github/workflows/cli-release-binaries.yml
  docs/tests/test_guides.py
  scripts/install-ugoite-cli.sh
Due: none

fix: address PR 749 feedback
  docs/tests/test_guides.py
Due: none

fix: address PR737 auth review feedback
  backend/src/app/api/api.py
  backend/src/app/api/endpoints/auth.py
  backend/src/app/core/security.py
  backend/tests/test_auth.py
  backend/tests/test_dev_auth.py
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  e2e/scripts/run-e2e.sh
  frontend/src/lib/api.test.ts
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-session.ts
  frontend/src/routes/login.tsx
  scripts/dev-auth-env.sh
  ugoite-core/tests/test_auth.py
  ugoite-core/ugoite_core/auth.py
Due: ty-backend, ty-core, biome-ci

fix: address PR738 search review feedback
  e2e/search-ui.test.ts
  e2e/ui-themes.test.ts
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
Due: biome-ci

fix: address PR747 workflow review feedback
  .github/workflows/docker-build-ci.yml
  .github/workflows/docker-images.yml
Due: none

fix: split PR747 docker workflow permissions
  .github/workflows/docker-images.yml
Due: none

fix: remove PR747 reusable workflow root permissions
  .github/workflows/docker-images.yml
Due: none

fix: allow PR747 docker CI reusable permissions
  .github/workflows/docker-build-ci.yml
Due: none

fix: set PR747 compose validation version
  .github/workflows/docker-build-ci.yml
Due: none

fix: address PR748 cli release review feedback
  .github/workflows/cli-release-binaries.yml
  README.md
  docs/guide/cli.md
Due: none

fix: harden PR750 all-tests rollup
  .github/workflows/all-tests-ci.yml
  docs/tests/test_guides.py
Due: none

fix: address PR752 preference hydration review
  .pre-commit-config.yaml
  docs/spec/requirements/frontend.yaml
  e2e/public-pages.test.ts
  frontend/src/lib/preferences-store.test.ts
  frontend/src/lib/preferences-store.ts
Due: biome-ci

feat: share CI docker image builds
  .github/workflows/docker-images.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/sbom-ci.yml
  docs/spec/testing/ci-cd.md
Due: none

feat: tier e2e ci by changed paths
  .github/workflows/e2e-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  e2e/scripts/run-e2e-compose.sh
Due: none

chore(deps): Bump reqwest from 0.12 to 0.13 in /ugoite-cli
  e2e/lib/client.ts
  e2e/playwright.config.ts
  ugoite-cli/Cargo.toml
Due: ty-cli

docs: canonicalize local dev auth guidance
  README.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  docsite/src/pages/app/api-storage/index.astro
  docsite/src/pages/app/frontend/index.astro
  frontend/src/components/SqlQueryEditor.test.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

chore(deps): Bump @codemirror/view from 6.39.17 to 6.40.0 in /frontend
  frontend/bun.lock
  frontend/package.json
Due: biome-ci

feat: harden ugoite-minimum wasm quality
  .github/workflows/rust-ci.yml
  .pre-commit-config.yaml
  docs/spec/architecture/future-proofing.md
  docs/spec/requirements/index.yaml
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  ugoite-core/src/index.rs
  ugoite-minimum/README.md
  ugoite-minimum/mise.toml
  ugoite-minimum/src/lib.rs
  ugoite-minimum/src/text.rs
  ugoite-minimum/tests/test_text.rs
Due: rustfmt, cargo-clippy, ty-core

fix(frontend): stabilize vitest coverage remapping
  frontend/bun.lock
  frontend/package.json
  frontend/vitest.config.ts
Due: biome-ci

feat: enforce frontend coverage gate
  .github/workflows/frontend-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  frontend/bun.lock
  frontend/mise.toml
  frontend/package.json
  frontend/src/components/SqlQueryEditor.test.tsx
  mise.toml
Due: biome-ci

fix(ugoite-core): normalize SQL rule column types
  ugoite-core/ugoite_core/sql_rules.py
Due: ty-core

perf(dev): keep ugoite-core build incremental
  README.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  ugoite-core/mise.toml
Due: ty-core

perf(dev): keep ugoite-cli test incremental
  README.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  ugoite-cli/mise.toml
Due: ty-cli

chore(ci): guard against git artifact bloat
  .github/workflows/yaml-workflow-ci.yml
  .pre-commit-config.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  scripts/check-root-artifact-hygiene.sh
Due: none

chore(ci): fail on tracked ignored artifacts
  .github/workflows/yaml-workflow-ci.yml
  .pre-commit-config.yaml
  backend/.coverage
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  scripts/check-root-artifact-hygiene.sh
  ugoite-core/.gitignore
Due: ty-backend, ty-core

fix: secure proxied local dev auth flows
  backend/src/app/api/endpoints/auth.py
  backend/tests/test_dev_auth.py
  docker-compose.e2e.yml
  docker-compose.yaml
  docs/guide/env-matrix.md
  docs/spec/requirements/ops.yaml
  e2e/scripts/run-e2e-compose.sh
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-api.ts
  frontend/src/routes/api/[...path].ts
  scripts/dev-auth-env.sh
Due: ty-backend, biome-ci

fix: address local auth CI regressions
  backend/src/app/api/endpoints/auth.py
  frontend/src/lib/auth-api.test.ts
  frontend/src/lib/auth-api.ts
Due: ty-backend, biome-ci

fix(ci): allow reusable docker workflow permissions
  .github/workflows/e2e-ci.yml
  .github/workflows/sbom-ci.yml
Due: none

fix(ci): streamline e2e tier selection
  .github/workflows/e2e-ci.yml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

docs: clarify minimum wasm task usage
  docs/tests/test_guides.py
  ugoite-minimum/README.md
Due: none

test(cli): enforce 100% coverage gate
  .github/workflows/rust-ci.yml
  .pre-commit-config.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  docs/tests/test_guides.py
  e2e/docsite-links.test.ts
  ugoite-cli/mise.toml
  ugoite-cli/src/commands/form.rs
  ugoite-cli/src/config.rs
  ugoite-cli/src/lib.rs
  ugoite-cli/src/main.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  ugoite-cli/tests/test_cli_req_ops_006_http_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

ci(cli): clean llvm-cov workspace
  .github/workflows/rust-ci.yml
  .pre-commit-config.yaml
  ugoite-cli/mise.toml
Due: ty-cli

test(cli): stabilize coverage on x86
  e2e/docsite-links.test.ts
  ugoite-cli/src/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

feat: reuse ugoite-core build in root test
  backend/mise.toml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  mise.toml
  ugoite-core/mise.toml
Due: ty-backend, ty-core

fix(cli): stabilize config coverage branches
  ugoite-cli/src/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
