Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

fix: normalize devcontainer SSH public keys
  scripts/devcontainer-ssh
  tools/workspace_test.ts
Due: none

test: make all CLI harnesses build-dir aware
  crates/ugoite-cli/tests/test_cli_endpoint_routing.rs
  crates/ugoite-cli/tests/test_cli_form.rs
  crates/ugoite-cli/tests/test_cli_req_sec_011_endpoint_transport.rs
  crates/ugoite-cli/tests/test_endpoint_config.rs
  crates/ugoite-cli/tests/test_entries.rs
  crates/ugoite-cli/tests/test_forms.rs
  crates/ugoite-cli/tests/test_indexer.rs
  crates/ugoite-cli/tests/test_integrity.rs
  crates/ugoite-cli/tests/test_saved_sql.rs
  crates/ugoite-cli/tests/test_space.rs
  crates/ugoite-cli/tests/test_sql_rules.rs
Due: rustfmt, cargo-clippy

feat: promote v0.1 authentication support contract
  Cargo.lock
  README.md
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/xtask/Cargo.toml
  crates/xtask/src/main.rs
  docs/guide/automate/cli.md
  docs/guide/operate/auth/auth-overview.md
  docs/spec/api/openapi.yaml
  docs/spec/features/auth.yaml
  docs/spec/index.md
  docs/spec/requirements/security.yaml
  docs/version/v0.1.yaml
  docs/version/v0.1/user-management.yaml
  e2e/global-setup.ts
  e2e/lib/webauthn.ts
  e2e/space-membership.test.ts
  mise.toml
Due: rustfmt, cargo-clippy

docs: tighten authentication support metadata
  docs/spec/features/auth.yaml
  docs/spec/requirements/security.yaml
Due: none

docs: align v0.1 authentication boundary
  docs/architecture/release/release-scope.md
  docs/architecture/security/authentication-authorization.md
  docs/guide/deploy/docker-compose.md
  docs/guide/deploy/index.md
  docs/guide/develop/local-dev-auth-login.md
  docs/guide/operate/server/operations.md
  docs/guide/start/browser-first-entry.md
  docs/guide/troubleshoot/troubleshooting-compose-startup.md
  docs/index.md
  docs/spec/api/mcp.md
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/product/success-metrics.md
  docs/spec/security/overview.md
  docs/spec/stories/experimental.yaml
  docs/spec/versions/v0.1.md
Due: none

feat: keep bootstrap recovery output outside v0.1 recovery
  docs/guide/operate/auth/auth-overview.md
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  frontend/src/routes/setup.tsx
Due: biome-ci

docs: describe the bootstrap passkey gate
  docs/guide/operate/auth/auth-overview.md
Due: none

fix: keep future auth flows outside v0.1 UI
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  docs/architecture/security/authentication-authorization.md
  frontend/src/lib/auth-api.ts
  frontend/src/routes/device.test.tsx
  frontend/src/routes/device.tsx
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover.test.tsx
  frontend/src/routes/recover.tsx
  frontend/src/routes/settings/security.test.tsx
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/setup.tsx
  frontend/src/routes/spaces/join.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix: close auth support boundary review gaps
  crates/ugoite-server/src/lib.rs
  docs/guide/operate/auth/auth-overview.md
  docs/spec/api/mcp.md
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/index.md
  e2e/global-setup.ts
  frontend/src/lib/settings-sections.ts
  frontend/src/routes/device.test.tsx
  frontend/src/routes/device.tsx
  frontend/src/routes/spaces/[space_id]/settings.route.test.tsx
  frontend/src/routes/spaces/[space_id]/settings.sections.test.ts
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: rustfmt, cargo-clippy, biome-ci

feat(auth): support space recovery and remote cli auth
  Cargo.lock
  README.md
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/commands/auth.rs
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/owner_recovery.rs
  crates/xtask/src/main.rs
  docs/architecture/release/release-scope.md
  docs/architecture/security/authentication-authorization.md
  docs/guide/automate/cli.md
  docs/guide/operate/auth/auth-overview.md
  docs/index.md
  docs/spec/api/mcp.md
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/index.md
  docs/spec/quality/error-handling.md
  docs/spec/requirements/security.yaml
  docs/spec/security/authentication-overview.yaml
  docs/spec/security/overview.md
  docs/spec/stories/experimental.yaml
  docs/spec/versions/v0.1.md
  docs/version/v0.1/user-management.yaml
  e2e/owner-space-recovery.test.ts
  e2e/scripts/run-e2e.sh
  frontend/src/lib/auth-api.ts
  frontend/src/lib/generated/openapi-types.ts
  frontend/src/lib/ugoite-client/protocol.test.ts
  frontend/src/lib/ugoite-client/protocol.ts
  frontend/src/routes/device.test.tsx
  frontend/src/routes/device.tsx
  frontend/src/routes/recover.test.tsx
  frontend/src/routes/recover.tsx
Due: rustfmt, cargo-clippy, biome-ci

perf(ci): parallelize Rust test execution
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/spec/testing/ci-cd.md
  mise.toml
Due: none

chore(ci): remove temporary disk measurements
  .github/workflows/ci.yml
Due: none

fix(iceberg): adapt XML extraction to quick-xml 0.42
  Cargo.lock
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/derived_relation.rs
Due: rustfmt, cargo-clippy

feat(storage): establish portable publication contract
  Cargo.lock
  crates/ugoite-domain/Cargo.toml
  crates/ugoite-domain/src/lib.rs
  crates/ugoite-domain/src/space.rs
  crates/ugoite-domain/src/space_key.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-storage/Cargo.toml
  crates/ugoite-storage/src/lib.rs
  docs/spec/api/openapi.yaml
  docs/spec/architecture/overview.md
  docs/spec/data-model/directory-layout.yaml
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  frontend/src/lib/generated/openapi-types.ts
Due: rustfmt, cargo-clippy, biome-ci

fix(cli): accept current portable Space metadata
  crates/ugoite-cli/src/config.rs
Due: rustfmt, cargo-clippy

fix(wasm): keep domain UUID dependency bindgen-free
  crates/ugoite-domain/Cargo.toml
  crates/ugoite-domain/src/space_key.rs
Due: rustfmt, cargo-clippy

fix(storage): close portable publication review gaps
  crates/ugoite-cli/src/config.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/data-model/file-schemas.yaml
  frontend/src/lib/storage-topology.test.ts
  frontend/src/lib/storage-topology.ts
  frontend/src/lib/types.ts
Due: rustfmt, cargo-clippy, biome-ci

fix(iceberg): keep patch journals node-local
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  docs/spec/data-model/directory-layout.yaml
  docs/spec/data-model/directory-structure.md
Due: rustfmt, cargo-clippy

fix(iceberg): validate local spaces before control locks
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
Due: rustfmt, cargo-clippy

perf(ci): split quality gate into hosted lanes
  .github/workflows/ci.yml
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  mise.toml
  tools/coverage_gates_test.ts
Due: none

test(iceberg): lock down node-local patch state
  crates/ugoite-iceberg/tests/test_space.rs
Due: rustfmt, cargo-clippy

ci: keep cache environment setup shellcheck clean
  .github/workflows/ci.yml
Due: none

Revert "ci: keep cache environment setup shellcheck clean"
  .github/workflows/ci.yml
Due: none

feat(auth): support account self-recovery
  README.md
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/xtask/src/main.rs
  docs/architecture/release/release-scope.md
  docs/architecture/security/authentication-authorization.md
  docs/guide/deploy/docker-compose.md
  docs/guide/operate/auth/auth-overview.md
  docs/guide/troubleshoot/troubleshooting-compose-startup.md
  docs/index.md
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/index.md
  docs/spec/product/success-metrics.md
  docs/spec/requirements/security.yaml
  docs/spec/security/authentication-overview.yaml
  docs/spec/security/overview.md
  docs/spec/stories/experimental.yaml
  docs/spec/versions/v0.1.md
  docs/version/v0.1/user-management.yaml
  e2e/account-self-recovery.test.ts
  e2e/global-setup.ts
  e2e/lib/totp.ts
  frontend/src/lib/auth-api.ts
  frontend/src/lib/auth-route.ts
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover.test.tsx
  frontend/src/routes/recover/account.test.tsx
  frontend/src/routes/recover/account.tsx
  frontend/src/routes/recover/index.tsx
  frontend/src/routes/settings/security.test.tsx
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/setup.tsx
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(auth): tighten recovery commit boundary
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
  frontend/src/lib/generated/openapi-types.ts
Due: rustfmt, cargo-clippy, biome-ci

feat(iceberg): persist portable logical URIs
  Cargo.lock
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/logical_storage.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/architecture/decisions.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/requirements/storage.yaml
Due: rustfmt, cargo-clippy

feat(auth): add OIDC authentication and account linking
  README.md
  crates/ugoite-domain/src/identity.rs
  crates/ugoite-identity/Cargo.toml
  crates/ugoite-identity/src/node_identity.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  crates/xtask/src/main.rs
  docs/architecture/release/release-rearchitecture.md
  docs/architecture/release/release-scope.md
  docs/architecture/security/authentication-authorization.md
  docs/guide/deploy/docker-compose.md
  docs/guide/deploy/index.md
  docs/guide/develop/local-dev-auth-login.md
  docs/guide/operate/auth/auth-overview.md
  docs/guide/operate/server/node-administration.md
  docs/guide/operate/server/operations.md
  docs/guide/troubleshoot/troubleshooting-compose-startup.md
  docs/index.md
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/features/auth.yaml
  docs/spec/index.md
  docs/spec/product/success-metrics.md
  docs/spec/requirements/security.yaml
  docs/spec/security/authentication-overview.yaml
  docs/spec/security/dependency-audit.md
  docs/spec/stories/experimental.yaml
  docs/spec/versions/v0.1.md
  docs/version/v0.1/user-management.yaml
  frontend/src/lib/auth-api.ts
  frontend/src/lib/generated/openapi-types.ts
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/settings/security.test.tsx
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/spaces/join.test.tsx
  frontend/src/routes/spaces/join.tsx
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

feat(storage): enable behavior-verified non-local mutations
  .github/workflows/ci.yml
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/health.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/preferences.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/health.rs
  crates/ugoite-iceberg/tests/minio_s3.rs
  crates/ugoite-iceberg/tests/test_preferences.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-storage/Cargo.toml
  crates/ugoite-storage/src/lib.rs
  crates/ugoite-storage/tests/minio_s3.rs
  docs/architecture/principles/north-star.md
  docs/architecture/release/release-scope.md
  docs/architecture/security/authentication-authorization.md
  docs/guide/deploy/env-matrix.md
  docs/guide/operate/storage/space-settings-storage.md
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/architecture/decisions.md
  docs/spec/architecture/derived-relations.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/directory-structure.md
  docs/spec/features/assets.yaml
  docs/spec/features/sql.md
  docs/spec/requirements/storage.yaml
  docs/spec/security/overview.md
  docs/spec/stories/core.yaml
Due: rustfmt, cargo-clippy

test(auth): randomize OIDC test nonces
  crates/ugoite-identity/src/node_identity.rs
Due: rustfmt, cargo-clippy

ci: start pinned MinIO with an explicit server command
  .github/workflows/ci.yml
  docs/architecture/principles/north-star.md
  docs/architecture/release/release-scope.md
Due: none

test(auth): borrow generated OIDC nonces
  crates/ugoite-identity/src/node_identity.rs
Due: rustfmt, cargo-clippy

test: expose exact-read probe diagnostics
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

feat(storage): promote behavior-verified non-local mutations
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/health.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/integrity.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/preferences.rs
  crates/ugoite-iceberg/src/sample_data.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/health.rs
  crates/ugoite-iceberg/tests/test_preferences.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-storage/src/lib.rs
  docs/architecture/release/release-scope.md
  docs/spec/api/rest.md
  docs/spec/architecture/decisions.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/space-catalog.md
  docs/spec/features/assets.yaml
  docs/spec/features/sql.md
  docs/spec/requirements/storage.yaml
  docs/spec/stories/core.yaml
Due: rustfmt, cargo-clippy

ci: log MinIO failures
  .github/workflows/ci.yml
Due: none

chore: remove temporary MinIO diagnostics
  .github/workflows/ci.yml
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

ci: capture MinIO service failures
  .github/workflows/ci.yml
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix(storage): honor active endpoint and signing region
  .github/workflows/ci.yml
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/minio_s3.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-storage/src/lib.rs
  crates/ugoite-storage/tests/minio_s3.rs
Due: rustfmt, cargo-clippy

feat: add reversible knowledge changes
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-core/src/change.rs
  crates/ugoite-core/src/lib.rs
  crates/ugoite-domain/src/change.rs
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-domain/src/lib.rs
  crates/ugoite-domain/src/pin.rs
  crates/ugoite-domain/src/publication_ref.rs
  crates/ugoite-domain/src/space_key.rs
  crates/ugoite-domain/tests/test_iceberg_native_domain.rs
  crates/ugoite-iceberg/benches/revision_log.rs
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/health.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-wasm/src/lib.rs
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/architecture/future-proofing.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/space-catalog.md
  docs/spec/data-model/directory-structure.md
  frontend/src/lib/generated/openapi-types.ts
  frontend/src/lib/ugoite-client/protocol.ts
Due: rustfmt, cargo-clippy, biome-ci
