Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix: close final rename and CLI lifecycle gaps
  crates/ugoite-cli/src/commands/space.rs
  crates/ugoite-cli/src/config.rs
  crates/ugoite-iceberg/src/sample_data.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_sample_data.rs
  crates/ugoite-iceberg/tests/test_space.rs
Due: rustfmt, cargo-clippy

fix: close final space consistency and contract gaps
  crates/ugoite-cli/src/config.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-storage/src/lib.rs
  docs/guide/develop/local-dev-auth-login.md
  docs/guide/operate/server/node-administration.md
  docs/guide/start/browser-first-entry.md
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  frontend/src/lib/types.ts
Due: rustfmt, cargo-clippy, biome-ci

fix: close final crash recovery review blockers
  crates/ugoite-cli/src/config.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/data-model/file-schemas.yaml
Due: rustfmt, cargo-clippy

fix: close final crash recovery review blockers
  crates/ugoite-cli/src/config.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close claim and derived boundary review blockers
  crates/ugoite-cli/src/config.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: fence Space patch recovery journal
  crates/ugoite-cli/src/commands/asset.rs
  crates/ugoite-cli/src/config.rs
  crates/ugoite-cli/src/http.rs
  crates/ugoite-cli/tests/test_assets.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
Due: rustfmt, cargo-clippy

fix: close remaining patch write races
  crates/ugoite-cli/src/config.rs
  crates/ugoite-cli/tests/test_assets.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close startup and storage mutation review gaps
  crates/ugoite-core/src/error.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-storage/src/lib.rs
  docs/architecture/release/release-scope.md
  docs/spec/api/rest.md
  docs/spec/features/assets.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/stories/core.yaml
Due: rustfmt, cargo-clippy

fix: close final mutation admission review gaps
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close final mutation admission bypasses
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close low-level mutation and reindex bypasses
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close remaining catalog mutation bypasses
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/integrity.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/preferences.rs
  crates/ugoite-iceberg/src/sample_data.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close remaining maintenance safety gaps
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/integrity.rs
  crates/ugoite-iceberg/src/sample_data.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: harden derived read and fence boundaries
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close final merge review gaps
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/integrity.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close final review authorization and storage gaps
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/mcp.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: recover shared derived leases and protected reads
  Cargo.lock
  crates/ugoite-cli/src/commands/asset.rs
  crates/ugoite-cli/src/commands/entry.rs
  crates/ugoite-cli/src/commands/form.rs
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/test_service.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-storage/Cargo.toml
  crates/ugoite-storage/src/lib.rs
  docs/architecture/boundaries/runtime-adapters.md
  docs/spec/features/sql.md
Due: rustfmt, cargo-clippy

fix: close remaining protected read races
  crates/ugoite-iceberg/src/audit.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-storage/src/lib.rs
  docs/spec/data-model/sql-sessions.md
Due: rustfmt, cargo-clippy

fix: close final lifecycle and CLI review blockers
  README.md
  crates/ugoite-cli/src/commands/asset.rs
  crates/ugoite-cli/src/commands/entry.rs
  crates/ugoite-cli/src/commands/form.rs
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/derived_relation.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-storage/src/lib.rs
  docs/guide/automate/cli.md
  docs/spec/architecture/overview.md
Due: rustfmt, cargo-clippy

docs: format release scope
  docs/architecture/release/release-scope.md
Due: none

fix: satisfy storage clippy gate
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix: satisfy workspace clippy gate
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

docs: synchronize user management milestone status
  docs/version/v0.1.yaml
  docs/version/v0.1/user-management.yaml
Due: none

test: align hidden asset authorization fixture
  crates/ugoite-iceberg/tests/test_asset.rs
Due: rustfmt, cargo-clippy

fix: recover Space patches before validation
  crates/ugoite-iceberg/src/space.rs
Due: rustfmt, cargo-clippy

fix: reuse local authorization lock during bootstrap
  crates/ugoite-iceberg/src/authorization.rs
Due: rustfmt, cargo-clippy

chore: align Ugoite Codex workflow skills
  .codex/skills/codex-pr-safety/SKILL.md
  .codex/skills/ugoite-ci-triage/SKILL.md
  .codex/skills/ugoite-implement/SKILL.md
  .codex/skills/ugoite-orient/SKILL.md
  .codex/skills/ugoite-validate/SKILL.md
Due: none

fix: close workflow review blockers
  .codex/skills/ugoite-ci-triage/SKILL.md
  .codex/skills/ugoite-implement/SKILL.md
  .codex/skills/ugoite-orient/SKILL.md
Due: none

feat(devcontainer): enable DinD E2E
  .devcontainer/devcontainer.json
  docs/guide/develop/index.md
  tools/workspace_test.ts
Due: none

fix(devcontainer): trust mise config non-interactively
  .devcontainer/devcontainer.json
  tools/workspace_test.ts
Due: none

feat: add optional devcontainer SSH access
  .devcontainer/devcontainer.json
  .devcontainer/ssh/10-ugoite.conf
  docs/guide/develop/devcontainer-ssh.md
  docs/guide/develop/index.md
  mise.toml
  scripts/devcontainer-ssh
  tools/workspace_test.ts
Due: none

docs: introduce devcontainer SSH guide
  docs/guide/develop/devcontainer-ssh.md
Due: none

fix: provide a devcontainer TCP relay
  .devcontainer/devcontainer.json
  tools/workspace_test.ts
Due: none

fix: harden ZIP64 offset validation
  crates/ugoite-iceberg/src/derived_relation.rs
Due: rustfmt, cargo-clippy

build: share Cargo intermediate cache across worktrees
  .cargo/config.toml
Due: none

fix: bound storage connection probes
  crates/ugoite-iceberg/src/space.rs
Due: rustfmt, cargo-clippy

fix: bound local authorization lock waits
  crates/ugoite-iceberg/src/authorization.rs
Due: rustfmt, cargo-clippy

test: resolve CLI binary with shared Cargo build dir
  crates/ugoite-cli/tests/integration_test.rs
Due: rustfmt, cargo-clippy

fix: reuse local authorization leases for nested writes
  crates/ugoite-iceberg/src/authorization.rs
Due: rustfmt, cargo-clippy

test: resolve asset tests binary path
  crates/ugoite-cli/tests/test_assets.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
