Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix(api): enforce search and list request bounds
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
Due: rustfmt, cargo-clippy

docs: bound search migration claims
  docs/mitase/features/search.yaml
Due: none

docs: align migration claims with evidence
  docs/mitase/migration/entries-forms.md
  docs/mitase/requirements/forms.yaml
Due: none

fix: align Entry and Form proof claims
  docs/mitase/features/entries.yaml
  docs/mitase/features/forms.yaml
  docs/mitase/requirements/forms.yaml
Due: none

fix: preserve migrated governance wording
  docs/mitase/philosophies/foundation.yaml
  docs/mitase/policies/policies.yaml
Due: none

fix: introduce migrated search page before sections
  docs/mitase/migration/search.md
Due: none

fix: close search migration review gaps
  crates/ugoite-iceberg/src/search.rs
  docs/mitase/features/search.yaml
  docs/mitase/migration/search.md
  docs/mitase/requirements/entries.yaml
  docs/mitase/requirements/search.yaml
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  mitase.yaml
Due: rustfmt, cargo-clippy, biome-ci

feat: migrate search specification to Mitase
  docs/mitase/features/search.yaml
  docs/mitase/migration/search.md
  docs/mitase/philosophies/foundation.yaml
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/search.yaml
  mise.toml
  mitase.yaml
  scripts/ci/mitase-check.sh
Due: none

feat: migrate Entry and Form specifications
  docs/mitase/features/entries.yaml
  docs/mitase/features/forms.yaml
  docs/mitase/migration/entries-forms.md
  docs/mitase/requirements/entries.yaml
  docs/mitase/requirements/forms.yaml
  mitase.yaml
  scripts/ci/mitase-check.sh
Due: none

test: verify restore history append
  crates/ugoite-iceberg/tests/test_entry.rs
Due: rustfmt, cargo-clippy

test: isolate creation attribution evidence
  crates/ugoite-iceberg/tests/test_entry.rs
  docs/mitase/migration/entries-forms.md
  docs/mitase/requirements/forms.yaml
Due: rustfmt, cargo-clippy

test: tighten migrated proof coverage
  crates/ugoite-iceberg/tests/test_entry.rs
  docs/mitase/features/entries.yaml
  docs/mitase/migration/search.md
  docs/mitase/requirements/forms.yaml
  docs/mitase/requirements/search.yaml
Due: rustfmt, cargo-clippy

fix: preserve space patch request body
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
Due: none

fix: bind search migration to authoritative http boundary
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/mitase/features/search.yaml
  docs/mitase/migration/search.md
  docs/mitase/requirements/search.yaml
  docs/spec/api/openapi.yaml
  mitase.yaml
Due: rustfmt, cargo-clippy

fix: preserve migrated specification meaning
  AGENTS.md
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-server/src/openapi.json
  docs/mitase/features/entries.yaml
  docs/mitase/features/search.yaml
  docs/mitase/migration/entries-forms.md
  docs/mitase/migration/policy.md
  docs/mitase/migration/search.md
  docs/mitase/philosophies/foundation.yaml
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/forms.yaml
  docs/mitase/requirements/search.yaml
  docs/spec/api/openapi.yaml
  mitase.yaml
Due: rustfmt, cargo-clippy

fix: preserve governance authority during migration
  AGENTS.md
  docs/mitase-migration/policy-edges.yaml
  docs/mitase-migration/policy-levels.yaml
  docs/mitase/migration/policy.md
  docs/mitase/migration/search.md
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/search.yaml
  docs/spec/index.md
  docs/spec/philosophy/foundation.yaml
  docs/spec/policies/index.md
  docs/spec/policies/policies.yaml
  docs/spec/requirements/index.md
  mitase.yaml
  tools/mitase_migration_test.ts
Due: none

fix: keep canonical spec links docsite-safe
  docs/spec/index.md
  tools/mitase_migration_test.ts
Due: none

fix: preserve migrated specification authority
  AGENTS.md
  docs/mitase-migration/policy-levels.yaml
  docs/mitase/features/entries.yaml
  docs/mitase/features/forms.yaml
  docs/mitase/migration/entries-forms.md
  docs/mitase/migration/policy.md
  docs/mitase/migration/search.md
  docs/mitase/philosophies/foundation.yaml
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/entries.yaml
  docs/mitase/requirements/forms.yaml
  docs/spec/features/entries.yaml
  docs/spec/features/forms.yaml
  docs/spec/features/search.yaml
  docs/spec/index.md
  docs/spec/philosophy/foundation.yaml
  docs/spec/policies/policies.yaml
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/form.yaml
  docs/spec/requirements/search.yaml
  mitase.yaml
  tools/mitase_migration_test.ts
Due: none

docs: align compatibility ownership wording
  docs/mitase/policies/policies.yaml
Due: none

refine: remove migration sidecars and ratchet readiness
  AGENTS.md
  docs/mitase-migration/policy-edges.yaml
  docs/mitase-migration/policy-levels.yaml
  docs/mitase/features/search.yaml
  docs/mitase/migration/entries-forms.md
  docs/mitase/migration/policy.md
  docs/mitase/migration/search.md
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/search.yaml
  docs/spec/index.md
  docs/spec/policies/index.md
  docs/spec/versions/v0.1.md
  mitase.yaml
Due: none

feat: adopt native Mitase test resolution
  crates/ugoite-iceberg/tests/test_entry.rs
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/entries.yaml
  docs/mitase/requirements/forms.yaml
  docs/mitase/requirements/search.yaml
  docs/spec/features/entries.yaml
  docs/spec/features/forms.yaml
  docs/spec/features/search.yaml
  docs/spec/philosophy/foundation.yaml
  docs/spec/policies/policies.yaml
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/form.yaml
  docs/spec/requirements/search.yaml
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  scripts/ci/mitase-check.sh
Due: rustfmt, cargo-clippy, biome-ci

feat: preserve migrated feature surfaces and policy references
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/entries.yaml
  docs/mitase/features/forms.yaml
  docs/mitase/features/search.yaml
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/entries.yaml
  docs/mitase/requirements/forms.yaml
  docs/mitase/requirements/search.yaml
  docs/spec/features/index.md
  docs/spec/requirements/index.md
  mitase.yaml
Due: rustfmt, cargo-clippy

fix: close migrated operation contract paths
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/entries.yaml
  docs/mitase/features/forms.yaml
  docs/mitase/features/search.yaml
Due: rustfmt, cargo-clippy

fix: remove obsolete server import
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: point Mitase check at canonical repository
  scripts/ci/mitase-check.sh
Due: none

refine: keep migrated specifications Ugoite-native
  AGENTS.md
  docs/mitase/features/forms.yaml
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/entries.yaml
  docs/mitase/requirements/forms.yaml
  docs/mitase/requirements/search.yaml
  frontend/src/routes/spaces/[space_id]/search.tsx
Due: biome-ci

fix: keep form core proof under its own requirement
  docs/mitase/features/forms.yaml
  docs/mitase/requirements/forms.yaml
Due: none

fix: preserve Ugoite meaning in Mitase migration
  AGENTS.md
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/forms.yaml
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/entries.yaml
  docs/mitase/requirements/forms.yaml
  docs/mitase/requirements/search.yaml
  docs/spec/architecture/derived-relations.md
  docs/spec/architecture/overview.md
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/overview.md
  docs/spec/index.md
  docs/spec/policies/index.md
  docs/spec/policies/policies.yaml
  docs/spec/versions/index.md
  docs/spec/versions/v0.1-knowledge-compatibility.md
  docs/spec/versions/v0.1.md
Due: rustfmt, cargo-clippy

fix: preserve policy strength in migration
  docs/mitase/policies/policies.yaml
Due: none

docs: clarify migrated specification authority
  docs/spec/index.md
  docs/spec/policies/index.md
Due: none

fix: close issues 2135-2150 contracts and acceptance
  crates/ugoite-cli/src/commands/konase.rs
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-cli/tests/test_sql_rules.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_index.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_search.rs
  docs/guide/operate/auth/auth-overview.md
  docs/spec/acceptance/issues-2135-2150.md
  docs/spec/api/mcp.md
  docs/spec/quality/error-handling.md
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/search.yaml
  docs/spec/security/overview.md
  e2e/forms.test.ts
  frontend/src/components/MarkdownEditor.test.tsx
  frontend/src/lib/konase/model.test.ts
  frontend/src/lib/konase/model.ts
  frontend/src/lib/ugoite-client/protocol.test.ts
Due: rustfmt, cargo-clippy, biome-ci

docs: remove acceptance ledger from spec tree
  docs/spec/acceptance/issues-2135-2150.md
Due: none

fix: keep searchable fields in mixed forms
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/tests/test_search.rs
Due: rustfmt, cargo-clippy

test(server): cover empty Form SQL session creation
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

test(server): exercise empty Form session through app
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(cli): render structured entry validation warnings
  Cargo.lock
  crates/ugoite-cli/Cargo.toml
  crates/ugoite-cli/src/error.rs
  crates/ugoite-cli/src/lib.rs
  crates/ugoite-cli/src/main.rs
  crates/ugoite-cli/tests/test_entries.rs
Due: rustfmt, cargo-clippy

ci: import Mitase v0.1.0 release artifacts
  docs/spec/testing/ci-cd.md
  scripts/ci/mitase-check.sh
  tools/mitase_check_test.ts
Due: none

fix(frontend): allow empty entry titles
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  shared/i18n/ui.json
Due: biome-ci

docs: migrate API domain into Mitase
  docs/mitase/features/api.yaml
  docs/mitase/requirements/api.yaml
  mitase.yaml
Due: none

docs: tighten API Mitase graph review findings
  docs/mitase/features/api.yaml
  docs/mitase/requirements/api.yaml
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/index.md
  mitase.yaml
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
