Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix(auth): reject weak dev secrets
  README.md
  backend/src/app/api/endpoints/auth.py
  backend/tests/test_dev_auth.py
  docs/guide/container-quickstart.md
  docs/guide/docker-compose.md
  docs/guide/env-matrix.md
  docs/guide/helm-chart.md
  docs/tests/test_helm_chart.py
  docs/tests/test_release_compose_auth_secrets.py
Due: ty-backend

docs: add ugoite-minimum to README map
  README.md
Due: none

fix(api): sanitize remaining error responses
  backend/src/app/api/endpoints/asset.py
  backend/src/app/api/endpoints/audit.py
  backend/src/app/api/endpoints/forms.py
  backend/src/app/api/endpoints/search.py
  backend/src/app/api/endpoints/service_accounts.py
  backend/src/app/api/endpoints/sql_sessions.py
Due: ty-backend

docs: clarify compose auth secret requirements
  docs/guide/docker-compose.md
Due: none

fix(e2e): use long-lived default auth secrets
  e2e/scripts/run-e2e-compose.sh
Due: none

docs(cli): document form, search, sql, index, and query commands
  docs/guide/cli.md
Due: none

fix(docsite): support tailwind vite build
  docsite/astro.config.mjs
  docsite/biome.json
  docsite/bun.lock
  docsite/package.json
Due: none

docs: consolidate auth mode guidance
  README.md
  docs/guide/auth-overview.md
  docs/guide/container-quickstart.md
  docs/guide/local-dev-auth-login.md
  docs/tests/test_guides.py
Due: none

docs: split README source entry paths
  README.md
  docs/tests/test_guides.py
Due: none

docs: surface devcontainer contributor path
  CONTRIBUTING.md
  README.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_contributing_guide.py
Due: none

fix(cli): map version coverage to REQ-OPS-018
  ugoite-cli/tests/integration_test.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): align version install docs
  docs/guide/auth-overview.md
  docs/guide/cli.md
Due: none

docs(cli): tighten command reference wording
  docs/guide/cli.md
Due: none

docs: fix auth guide validation
  README.md
  docs/guide/auth-overview.md
Due: none

docs: trace browser walkthrough recap to onboarding requirement
  docs/spec/requirements/e2e.yaml
  docs/spec/requirements/ops.yaml
  docs/tests/test_browser_walkthrough_post_entry_recap.py
Due: none

docs: trace browser walkthrough search guidance to onboarding requirement
  docs/spec/requirements/e2e.yaml
  docs/spec/requirements/ops.yaml
  docs/tests/test_browser_walkthrough_search_surface.py
Due: none

docs: trace browser walkthrough recap to onboarding requirement
  docs/spec/requirements/e2e.yaml
  docs/tests/test_browser_walkthrough_post_entry_recap.py
Due: none

fix(backend): keep pinned python release
  backend/Dockerfile
Due: ty-backend

fix(backend): pin python digest
  backend/Dockerfile
Due: ty-backend

chore(deps): refresh backend uv lock for ty 0.0.32
  backend/uv.lock
Due: ty-backend

fix(core): support pbkdf2 0.13
  ugoite-core/src/python_bindings.rs
Due: rustfmt, cargo-clippy, ty-core

feat(frontend): make landing CTAs auth aware
  frontend/src/routes/about.test.tsx
  frontend/src/routes/about.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: biome-ci

fix(frontend): avoid stale login cta on landing pages
  frontend/src/routes/about.test.tsx
  frontend/src/routes/about.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
Due: biome-ci

feat(frontend): add form back link
  frontend/src/routes/spaces/[space_id]/forms/[form_name].tsx
  frontend/src/routes/spaces/[space_id]/forms/form-detail.test.tsx
  package-lock.json
  package.json
Due: biome-ci

feat(frontend): add entry back link
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  package-lock.json
  package.json
Due: biome-ci

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
