Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

test: align fixed palette E2E with dashboard heading
  e2e/ui-surface.test.ts
Due: none

ci: add owner recovery e2e lane
  deno.json
  e2e/deno.json
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
  mise.toml
Due: none

test: align saved SQL empty-state contract
  docs/spec/requirements/frontend.yaml
  e2e/saved-sql-route.test.ts
  frontend/src/routes/spaces/[space_id]/sql/index.test.tsx
Due: biome-ci

test: follow current saved SQL navigation
  e2e/saved-sql-route.test.ts
Due: none

ci: isolate owner recovery compose lane
  deno.json
Due: none

docs: align saved SQL page contract
  docs/spec/requirements/frontend.yaml
  docs/spec/ui/pages/space-sql.yaml
Due: none

docs: use supported saved SQL spec component
  docs/spec/ui/pages/space-sql.yaml
Due: none

ci: use literal compose isolation defaults
  deno.json
Due: none

ci: serialize artifact e2e lanes
  mise.toml
Due: none

test: track serialized artifact e2e task
  tools/coverage_gates_test.ts
Due: none

test: select storage settings before assertions
  e2e/space-settings-storage-guidance.test.ts
Due: none

test: cover Mitase release import failures
  tools/mitase_check_test.ts
Due: none

test: scope docsite hero quick-start CTA
  e2e/docsite-onboarding.test.ts
Due: none

release: add planner ref recovery guard
  docs/architecture/release/index.md
  docs/architecture/release/release-planner-recovery.md
  scripts/recover-release-planner-ref.sh
  tools/release_planner_recovery_test.ts
Due: none

test: align docsite onboarding promise
  e2e/docsite-onboarding.test.ts
Due: none

test: assert recovery API paths
  tools/release_planner_recovery_test.ts
Due: none

test: follow responsive docsite theme selector
  e2e/docsite-theme-controls.test.ts
Due: none

docs(api): move legacy API docs to architecture
  CONTRIBUTING.md
  README.md
  crates/xtask/src/main.rs
  deno.json
  docs/architecture/api/mcp.md
  docs/architecture/api/operator-surfaces.md
  docs/architecture/api/rest.md
  docs/architecture/index.md
  docs/index.md
  docs/mitase/policies/policies.yaml
  docs/spec/api/mcp.md
  docs/spec/api/openapi.yaml
  docs/spec/api/operator-surfaces.md
  docs/spec/features/index.md
  docs/spec/index.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/form.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/index.yaml
  docs/spec/requirements/security.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/specifications.yaml
  docs/spec/versions/v0.2.md
  docs/version/v0.2.yaml
  docsite/astro.config.mjs
  docsite/src/spec-integrity.test.ts
  frontend/src/lib/types.ts
  mitase.yaml
Due: rustfmt, cargo-clippy, biome-ci

docs(data-model): move storage docs to architecture
  docs/architecture/data-model/directory-layout.yaml
  docs/architecture/data-model/directory-structure.md
  docs/architecture/data-model/file-schemas.yaml
  docs/architecture/data-model/overview.md
  docs/architecture/data-model/sql-sessions.md
  docs/architecture/index.md
  docs/mitase/features/storage.yaml
  docs/mitase/policies/policies.yaml
  docs/mitase/requirements/storage.yaml
  docs/spec/index.md
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/form.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/index.yaml
  docs/spec/requirements/integrity.yaml
  docs/spec/requirements/security.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/specifications.yaml
  docsite/astro.config.mjs
  docsite/src/ssot.test.ts
  frontend/src/lib/types.ts
  mitase.yaml
Due: biome-ci

clarify SQL lint and read-only execution policy
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-cli/src/main.rs
  crates/ugoite-cli/tests/test_sql_rules.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/test_index.rs
  crates/ugoite-server/src/openapi.json
  docs/architecture/api/rest.md
  docs/guide/automate/cli.md
  docs/spec/features/sql.md
  docs/spec/requirements/index.yaml
  docs/spec/requirements/search.yaml
  frontend/src/lib/sql.test.ts
  frontend/src/lib/sql.ts
Due: rustfmt, cargo-clippy, biome-ci

docs(architecture): move legacy contracts
  crates/xtask/src/main.rs
  docs/architecture/contracts/decisions.md
  docs/architecture/contracts/derived-relations.md
  docs/architecture/contracts/frontend-backend-interface.md
  docs/architecture/contracts/future-proofing.md
  docs/architecture/contracts/overview.md
  docs/architecture/contracts/space-catalog.md
  docs/architecture/contracts/stack.md
  docs/architecture/index.md
  docs/index.md
  docs/mitase/policies/policies.yaml
  docs/spec/architecture/frontend-backend-interface.md
  docs/spec/architecture/stack.md
  docs/spec/index.md
  docs/spec/quality/error-handling.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/index.yaml
  docs/spec/requirements/security.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/specifications.yaml
  docsite/astro.config.mjs
  docsite/src/ssot.test.ts
  e2e/docsite-links.test.ts
  mitase.yaml
Due: rustfmt, cargo-clippy

docs: move supporting specification surfaces
  .codex/skills/ugoite-ci-triage/SKILL.md
  .codex/skills/ugoite-orient/SKILL.md
  .codex/skills/ugoite-release/SKILL.md
  crates/xtask/src/main.rs
  docs/architecture/index.md
  docs/architecture/quality/error-handling.md
  docs/architecture/security/authentication-authorization.md
  docs/architecture/security/authentication-overview.yaml
  docs/architecture/security/dependency-audit.md
  docs/architecture/security/index.md
  docs/architecture/security/overview.md
  docs/architecture/security/sandbox.md
  docs/architecture/testing/ci-cd.md
  docs/architecture/testing/strategy.md
  docs/mitase/features/ops.yaml
  docs/mitase/policies/policies.yaml
  docs/spec/index.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/e2e.yaml
  docs/spec/requirements/integrity.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/requirements/security.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/specifications.yaml
  docs/spec/testing/ci-cd.md
  docsite/astro.config.mjs
  docsite/src/ssot.test.ts
  e2e/docsite-links.test.ts
  mitase.yaml
Due: rustfmt, cargo-clippy

docs: move product and release specifications
  .github/pull_request_template.md
  docs/architecture/contracts/future-proofing.md
  docs/architecture/index.md
  docs/architecture/product/success-metrics.md
  docs/architecture/release/changelog-alpha.md
  docs/architecture/release/changelog-beta.md
  docs/architecture/release/changelog-stable.md
  docs/architecture/release/changelog.md
  docs/architecture/release/index.md
  docs/architecture/release/v0.1-knowledge-compatibility.md
  docs/architecture/release/v0.1.md
  docs/architecture/release/v0.2.md
  docs/architecture/release/versioning.md
  docs/mitase/features/storage.yaml
  docs/mitase/policies/policies.yaml
  docs/spec/index.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/specifications.yaml
  docs/spec/versions/changelog-stable.md
  docs/spec/versions/index.md
  docs/version/changelog/alpha.yaml
  docs/version/changelog/beta.yaml
  docs/version/changelog/stable.yaml
  docsite/astro.config.mjs
  docsite/src/ssot.test.ts
  mitase.yaml
  tools/knowledge_compatibility_test.ts
  tools/release-notes_test.ts
Due: none

docs: clarify staged specification authority
  docs/architecture/index.md
Due: none

docs: retire legacy authentication feature registry
  crates/xtask/src/main.rs
  docs/mitase/features/authentication.yaml
  docs/spec/features/auth.yaml
  docs/spec/features/features.yaml
  docs/spec/features/index.md
  mitase.yaml
Due: rustfmt, cargo-clippy

fix: preserve shipped authentication coverage
  docs/mitase/features/authentication.yaml
  mitase.yaml
Due: none

docs: retire legacy preferences registry
  docs/spec/features/index.md
  docs/spec/features/preferences.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/storage.yaml
Due: none

docs: canonicalize the Spaces Pin lifecycle
  crates/ugoite-server/src/lib.rs
  docs/mitase/features/spaces.yaml
  docs/mitase/requirements/storage.yaml
  mitase.yaml
Due: rustfmt, cargo-clippy

docs: retire legacy Spaces feature registry
  docs/spec/features/index.md
  docs/spec/features/spaces.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/storage.yaml
Due: none

docs: retire legacy Asset feature registry
  docs/spec/features/assets.yaml
  docs/spec/features/index.md
Due: none

test: cover DML read-only SQL boundaries
  crates/ugoite-cli/tests/test_sql_rules.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/test_index.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

docs: retire legacy DerivedRelation registry
  docs/spec/features/derived-relations.yaml
  docs/spec/features/features.yaml
  docs/spec/features/index.md
Due: none

fix: classify browser SQL lint statements
  frontend/src/lib/sql.test.ts
  frontend/src/lib/sql.ts
Due: biome-ci

test: pin INSERT SELECT browser advisory
  frontend/src/lib/sql.test.ts
Due: biome-ci

docs: retire legacy Entry registry
  docs/spec/features/entries.yaml
  docs/spec/features/features.yaml
  docs/spec/features/index.md
  mitase.yaml
Due: none

docs: retire legacy Form registry
  docs/spec/features/features.yaml
  docs/spec/features/forms.yaml
  docs/spec/features/index.md
  mitase.yaml
Due: none

docs: retire legacy Search registry
  docs/spec/features/features.yaml
  docs/spec/features/index.md
  docs/spec/features/search.yaml
  mitase.yaml
Due: none

docs: repoint retired Search references
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/search.yaml
Due: none

docs: retire legacy API requirements
  docs/spec/index.md
  docs/spec/requirements/api.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/index.md
Due: none

docs: retire legacy asset requirement registry
  docs/spec/index.md
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/index.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
