Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

docs: restore devcontainer pinning fragments
  docs/spec/testing/ci-cd.md
Due: none

fix: preserve storage metadata in settings
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
Due: ty-backend, biome-ci

fix: cover storage connection error paths
  backend/tests/test_api.py
  frontend/src/components/SpaceSettings.test.tsx
Due: ty-backend, biome-ci

fix(deps-dev): refresh backend lock metadata
  backend/uv.lock
Due: ty-backend

chore: group dependabot updates
  .github/dependabot.yml
Due: none

fix: reject unsupported storage schemes
  ugoite-core/src/space.rs
Due: rustfmt, cargo-clippy, ty-core

chore: refresh backend lockfile for ty bump
  backend/uv.lock
Due: ty-backend

chore: refresh backend lockfile for ruff bump
  backend/uv.lock
Due: ty-backend

chore: refresh backend lockfile for pytest-asyncio bump
  backend/uv.lock
Due: ty-backend

feat: add symlinks for codex skills in .claude/skills
  .claude/skills/codex-pr-safety
  .claude/skills/dependabot-pr-fixer
  .claude/skills/ugoite-implement
  .claude/skills/ugoite-orient
  .claude/skills/ugoite-release
  .claude/skills/ugoite-validate
Due: none

refactor: symlink the skills directory instead of individual skills
  .claude/skills
  .claude/skills/codex-pr-safety
  .claude/skills/dependabot-pr-fixer
  .claude/skills/ugoite-implement
  .claude/skills/ugoite-orient
  .claude/skills/ugoite-release
  .claude/skills/ugoite-validate
Due: none

fix(deps): refresh backend lockfile for pytest-asyncio bump
  backend/uv.lock
Due: ty-backend

fix(deps): preserve compatible backend lock versions
  backend/uv.lock
Due: ty-backend

fix(deps): refresh backend lock metadata for ruff bump
  backend/uv.lock
Due: ty-backend

fix: install Rust CI components
  .github/workflows/ci.yml
Due: none

feat: complete rust rearchitecture phase 3
  Cargo.lock
  README.md
  crates/ugoite-server/Cargo.toml
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/main.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  deno.lock
  docs/architecture/release-rearchitecture.md
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  docsite/deno.json
  tools/dev.ts
Due: rustfmt, cargo-clippy

feat: complete phase 5 Deno workspace migration
  deno.lock
  docs/architecture/release-rearchitecture.md
  docsite/deno.json
  docsite/package.json
  e2e/package.json
  frontend/deno.json
  frontend/package.json
  mise.toml
  tools/workspace_test.ts
Due: biome-ci

chore: refresh Deno lockfile
  deno.lock
Due: none

feat: fix phase 6 adapter boundaries
  crates/ugoite-cli/src/commands/asset.rs
  crates/ugoite-cli/src/commands/entry.rs
  crates/ugoite-cli/src/commands/form.rs
  crates/ugoite-cli/src/commands/search.rs
  crates/ugoite-cli/src/commands/space.rs
  crates/ugoite-core/src/lib.rs
  crates/ugoite-core/src/service.rs
  crates/ugoite-core/tests/test_service.rs
  crates/ugoite-server/src/lib.rs
  deno.lock
  docs/architecture/control-surfaces.md
  docs/architecture/frontend-client-boundary.md
  docs/architecture/release-rearchitecture.md
  docs/architecture/runtime-adapters.md
  frontend/deno.json
  frontend/src/components/Nav.test.tsx
  frontend/src/lib/api.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/index.ts
  frontend/src/lib/ugoite-client/index.ts
Due: rustfmt, cargo-clippy, biome-ci

ci: free disk space before pull request gate
  .github/workflows/ci.yml
Due: none

ci: fix merge queue Deno builds
  deno.lock
  docsite/deno.json
  frontend/deno.json
Due: biome-ci

ci: materialize frontend build packages
  deno.lock
  frontend/deno.json
Due: biome-ci

docs: complete rearchitecture north star scope
  README.md
  deno.json
  docs/architecture/north-star.md
  docs/architecture/release-rearchitecture.md
  docs/architecture/release-scope.md
Due: none

Detox release path around Rust server image
  .devcontainer/devcontainer.json
  .dockerignore
  .github/dependabot.yml
  .vscode/settings.json
  Cargo.lock
  Dockerfile
  crates/ugoite-server/Cargo.toml
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/main.rs
  crates/ugoite-server/tests/api_contract.rs
  deno.lock
  docker-compose.e2e.yml
  docker-compose.release.yaml
  docker-compose.yaml
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
  frontend/Dockerfile
  frontend/app.config.ts
  frontend/deno.json
  frontend/scripts/generate-static-index.ts
  frontend/src/entry-client.tsx
  scripts/ensure-bun-package-install.sh
  tools/workspace_test.ts
Due: rustfmt, cargo-clippy, biome-ci

Close Rust server API parity gaps
  crates/ugoite-core/src/service.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  crates/ugoite-server/tests/api_contract.rs
  deno.lock
  docs/spec/api/rest.md
  e2e/deno.json
  e2e/scripts/run-e2e.sh
  frontend/deno.json
Due: rustfmt, cargo-clippy, biome-ci

Fix dev and compose browser startup
  docsite/deno.json
  frontend/app.config.ts
  frontend/deno.json
  frontend/vitest.config.ts
  tools/dev.ts
Due: biome-ci

Keep dev startup on Deno
  docsite/deno.json
  frontend/deno.json
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceShell.test.tsx
  tools/dev.ts
Due: biome-ci
