Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix: keep quickstart docs fragment contiguous
  README.md
Due: none

fix: align local dev seed root for runtime CI
  .github/workflows/python-ci.yml
  README.md
  backend/pyproject.toml
  backend/tests/test_dev_auth.py
  docs/guide/cli.md
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  scripts/dev-auth-env.sh
  scripts/dev-seed.sh
Due: ty-backend

fix: trust release quickstart CLI auth proxy
  docs/guide/cli.md
  docs/guide/env-matrix.md
  docs/tests/test_guides.py
  scripts/verify-release-container-quickstart.sh
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/http.rs
  ugoite-cli/tests/test_auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
  ugoite-cli/tests/test_cli_req_ops_006_http_helpers.rs
Due: rustfmt, cargo-clippy, ty-cli

chore(deps): pin actions/deploy-pages to immutable SHA v5
  .github/workflows/docsite-pages.yml
Due: none

fix(backend): update type:ignore codes for ty 0.0.25 compatibility
  backend/check_import.py
  backend/src/app/core/middleware.py
  backend/src/app/main.py
Due: ty-backend

fix(seed): bootstrap space owner so seeded spaces appear in /spaces
  ugoite-cli/src/commands/space.rs
  ugoite-core/src/python_bindings.rs
  ugoite-core/src/sample_data.rs
  ugoite-core/tests/test_sample_data.rs
Due: rustfmt, cargo-clippy, ty-cli, ty-core

style(core): apply cargo fmt to sample_data.rs
  ugoite-core/src/sample_data.rs
Due: rustfmt, cargo-clippy, ty-core

feat(cli): add --format/-o flag for table/plain/json output
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/config.rs
Due: rustfmt, cargo-clippy, ty-cli

feat(cli): improve auth login UX with mode guard and eval hint
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): apply rustfmt formatting and add auth logout coverage test
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): apply rustfmt formatting to print_json_table signature
  ugoite-cli/src/config.rs
Due: rustfmt, cargo-clippy, ty-cli

style(cli): apply cargo fmt to space.rs
  ugoite-cli/src/commands/space.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(backend): use mypy-compatible type:ignore codes for ty 0.0.25
  backend/src/app/core/middleware.py
  backend/src/app/main.py
Due: ty-backend

feat(cli): add space create subcommand
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/main.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(api): expose admin-space to active admins in /spaces list
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
  docs/spec/requirements/api.yaml
Due: ty-backend

fix(test): move imports to top-level and remove duplicate asyncio in test_api.py
  backend/tests/test_api.py
Due: ty-backend

test(cli): add coverage for auth login no-bearer-token response path
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

docs(cli): add help text and examples to query command
  ugoite-cli/src/main.rs
Due: rustfmt, cargo-clippy, ty-cli

test(cli): add format flag coverage for entry list and space list
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

docs(cli): add usage examples to priority commands
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/commands/config.rs
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/main.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): apply rustfmt to help examples
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/src/commands/config.rs
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/main.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): rustfmt query help metadata
  ugoite-cli/src/main.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): format auth login coverage test
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): format format-flag coverage tests
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): remove unreachable auth login fallback
  ugoite-cli/src/commands/auth.rs
Due: rustfmt, cargo-clippy, ty-cli

test(cli): cover format flag fallback branches
  ugoite-cli/src/config.rs
  ugoite-cli/tests/test_cli_req_ops_006_config_helpers.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(backend): use ty ignore directives for ty 0.0.25
  backend/check_import.py
  backend/src/app/core/middleware.py
  backend/src/app/main.py
Due: ty-backend

fix(cli): address auth login review feedback
  ugoite-cli/src/commands/auth.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): cover space create subcommand
  scripts/verify-release-cli-quickstart.sh
  scripts/verify-release-container-quickstart.sh
  ugoite-cli/src/commands/space.rs
  ugoite-cli/src/main.rs
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(core): normalize seeded owner membership
  ugoite-cli/src/commands/space.rs
  ugoite-core/src/sample_data.rs
  ugoite-core/tests/test_sample_data.rs
Due: rustfmt, cargo-clippy, ty-cli, ty-core

test(docs): support space create quickstart smoke
  docs/tests/test_guides.py
Due: none

test(cli): cover seeded owner normalization
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

style(docs): wrap quickstart smoke condition
  docs/tests/test_guides.py
Due: none

style(cli): format owner coverage test
  ugoite-cli/tests/test_cli_req_ops_006_coverage.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(backend): add missing security headers
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
  docs/spec/requirements/security.yaml
Due: ty-backend

fix(auth): reject replayed totp codes
  backend/tests/test_dev_auth.py
  docs/spec/requirements/ops.yaml
  ugoite-core/tests/test_auth.py
  ugoite-core/ugoite_core/auth.py
Due: ty-backend, ty-core

fix(backend): restrict credentialed cors
  backend/src/app/main.py
  backend/tests/test_api.py
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
Due: ty-backend

fix(backend): validate credentialed cors config
  backend/src/app/core/middleware.py
  backend/src/app/main.py
  backend/tests/test_api.py
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
Due: ty-backend

fix(storage): reject unsafe test endpoints
  backend/tests/test_api.py
  docs/spec/api/rest.md
  docs/spec/requirements/storage.yaml
  ugoite-core/tests/test_bindings.py
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/storage_validation.py
Due: ty-backend, ty-core

fix(mcp): label untrusted entry content
  backend/src/app/mcp/sanitization.py
  backend/src/app/mcp/server.py
  backend/tests/test_api.py
  docs/spec/api/mcp.md
  docs/spec/architecture/frontend-backend-interface.md
  docs/spec/requirements/api.yaml
Due: ty-backend

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
