Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

feat(ci): enforce 100% frontend coverage
  .github/workflows/frontend-ci.yml
  .pre-commit-config.yaml
  frontend/vitest.config.ts
Due: biome-ci

fix(ci): install vitest coverage provider
  frontend/bun.lock
  frontend/package.json
Due: biome-ci

feat(docs): migrate task docs to versioned YAML (fix #524)
  .gitignore
  docs/spec/requirements/ops.yaml
  docs/tasks/archive/README.md
  docs/tasks/archive/milestone-2-full-configuration.md
  docs/tasks/archive/milestone-3-markdown-as-table.md
  docs/tasks/archive/mvp-milestone.md
  docs/tasks/roadmap.md
  docs/tasks/tasks.md
  docs/tests/test_versions.py
  docs/version/unknown/roadmap.yaml
  docs/version/v0.1.yaml
  docs/version/v0.1/full-configuration.yaml
  docs/version/v0.1/markdown-as-table.yaml
  docs/version/v0.1/mvp.yaml
  docs/version/v0.1/user-management.yaml
  docs/version/v0.2.yaml
  docs/version/v0.2/ai-enabled-and-ai-used.yaml
  docs/version/v0.2/user-controlled-view.yaml
Due: none

feat(ci): add tool version consistency check to devcontainer CI (fix #525)
  .github/workflows/devcontainer-ci.yml
Due: none

feat(ci): optimize e2e CI with pre-built Docker container images (fix #526)
  .github/workflows/e2e-ci.yml
  docker-compose.e2e.yml
  e2e/scripts/run-e2e-compose.sh
Due: none

feat(test): enforce 100% backend code coverage (fix #528)
  .github/workflows/python-ci.yml
  .gitignore
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/tests/test_coverage_gaps.py
  backend/uv.lock
Due: ty-backend

docs: clarify /health endpoint response and unauthenticated status
  docs/guide/local-dev-auth-login.md
Due: none

fix(docsite): use flex shorthand to ensure full-width search at 640px
  docsite/src/styles.css
Due: none

ci(rust): pin action SHAs and remove redundant cargo test step
  .github/workflows/rust-ci.yml
Due: none

test(docs): validate milestone source type and non-empty entries
  docs/tests/test_versions.py
Due: none

ci: add -W error and uv cache to version-consistency job
  .github/workflows/devcontainer-ci.yml
Due: none

fix(backend): remove redundant cov flags and fix fragile del-attribute tests
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  backend/tests/test_coverage_gaps.py
Due: ty-backend

ci(e2e): pin Node.js version, use bootstrap env var, fix shell injection
  .github/workflows/e2e-ci.yml
  docker-compose.e2e.yml
  e2e/scripts/run-e2e-compose.sh
Due: none

fix(cli): use #[derive(Default)] for EndpointMode to satisfy clippy
  ugoite-cli/src/config.rs
Due: rustfmt, cargo-clippy, ty-cli

feat(cli): add Rust tests and update docs/pre-commit for Rust CLI
  .pre-commit-config.yaml
  docs/spec/features/assets.yaml
  docs/spec/features/entries.yaml
  docs/spec/features/forms.yaml
  docs/spec/features/links.yaml
  docs/spec/features/search.yaml
  docs/spec/features/spaces.yaml
  docs/spec/features/sql.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/form.yaml
  docs/spec/requirements/index.yaml
  docs/spec/requirements/integrity.yaml
  docs/spec/requirements/search.yaml
  docs/spec/requirements/security.yaml
  docs/spec/requirements/storage.yaml
  docs/tests/test_requirements.py
  ugoite-cli/src/commands/entry.rs
  ugoite-cli/src/commands/index.rs
  ugoite-cli/src/commands/link.rs
  ugoite-cli/src/commands/mod.rs
  ugoite-cli/src/main.rs
  ugoite-cli/tests/test_assets.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
  ugoite-cli/tests/test_cli_form.rs
  ugoite-cli/tests/test_endpoint_config.rs
  ugoite-cli/tests/test_entries.rs
  ugoite-cli/tests/test_forms.rs
  ugoite-cli/tests/test_indexer.rs
  ugoite-cli/tests/test_integrity.rs
  ugoite-cli/tests/test_saved_sql.rs
  ugoite-cli/tests/test_space.rs
  ugoite-cli/tests/test_sql_rules.rs
  ugoite-core/src/index.rs
  ugoite-core/src/space.rs
  ugoite-core/tests/test_index.rs
  ugoite-core/tests/test_space.rs
Due: rustfmt, cargo-clippy, ty-cli, ty-core

fix(backend): exempt /health endpoint from authentication middleware
  backend/src/app/core/middleware.py
Due: ty-backend

refactor(test): split test_coverage_gaps into appropriate test files by category
  backend/tests/test_api.py
  backend/tests/test_audit.py
  backend/tests/test_auth.py
  backend/tests/test_coverage_gaps.py
  backend/tests/test_forms.py
  backend/tests/test_service_accounts.py
  backend/tests/test_space_members.py
  backend/tests/test_sql.py
Due: ty-backend

fix(e2e-ci): install bun and docsite deps for mobile nav test
  .github/workflows/e2e-ci.yml
Due: none

fix(cli): apply rustfmt formatting to test files and source
  ugoite-cli/src/commands/index.rs
  ugoite-cli/src/commands/link.rs
  ugoite-cli/tests/test_assets.rs
  ugoite-cli/tests/test_cli_endpoint_routing.rs
  ugoite-cli/tests/test_cli_form.rs
  ugoite-cli/tests/test_endpoint_config.rs
  ugoite-cli/tests/test_entries.rs
  ugoite-cli/tests/test_forms.rs
  ugoite-cli/tests/test_indexer.rs
  ugoite-cli/tests/test_integrity.rs
  ugoite-cli/tests/test_saved_sql.rs
  ugoite-cli/tests/test_space.rs
  ugoite-cli/tests/test_sql_rules.rs
Due: rustfmt, cargo-clippy, ty-cli

fix(cli): use rustls-tls instead of OpenSSL for reqwest
  ugoite-cli/Cargo.toml
Due: ty-cli

fix(test): fix ruff lint errors in backend test files
  backend/tests/test_api.py
  backend/tests/test_forms.py
  backend/tests/test_sql.py
Due: ty-backend

fix(docs): add REQ-FE-050/051 requirements and fix REQ-FE-010 test
  docs/spec/requirements/frontend.yaml
  frontend/src/lib/store.test.ts
Due: biome-ci

fix(test): apply ruff format to backend test files
  backend/tests/test_api.py
  backend/tests/test_audit.py
  backend/tests/test_auth.py
  backend/tests/test_forms.py
  backend/tests/test_service_accounts.py
  backend/tests/test_space_members.py
  backend/tests/test_sql.py
Due: ty-backend

feat(integrity): scope response HMAC file per space
  backend/src/app/core/middleware.py
  backend/src/app/core/security.py
  backend/tests/test_api.py
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/overview.md
Due: ty-backend

docs: align AGENTS guide with current CI and paths
  AGENTS.md
Due: none

test(sql): normalize import order for lint
  backend/tests/test_sql.py
Due: ty-backend

test(backend): fix import ordering in coverage tests
  backend/tests/test_api.py
  backend/tests/test_audit.py
  backend/tests/test_auth.py
  backend/tests/test_forms.py
  backend/tests/test_service_accounts.py
  backend/tests/test_space_members.py
Due: ty-backend

fix: resolve PR572 review feedback
  frontend/src/components/EntryList.tsx
  frontend/src/components/SearchBar.tsx
Due: biome-ci

fix(ci): stabilize devcontainer CI registry pulls
  .github/workflows/devcontainer-ci.yml
  docs/spec/testing/ci-cd.md
Due: none

feat(release): add conventional commit and automated release pipeline
  .changeset/README.md
  .changeset/config.json
  .commitlintrc.cjs
  .github/workflows/commitlint-ci.yml
  .github/workflows/release-ci.yml
  .husky/commit-msg
  .releaserc.json
  docs/spec/testing/ci-cd.md
  mise.toml
  package-lock.json
  package.json
Due: none

feat(security): add syft sbom attestation and scan workflow
  .github/dependabot.yml
  .github/workflows/sbom-ci.yml
  docs/spec/security/overview.md
  docs/spec/testing/ci-cd.md
Due: none

feat(docs): split philosophy into product and coding guidance
  docs/spec/philosophy/foundation.yaml
  docs/tests/test_spec_governance.py
  docsite/src/lib/spec-data.ts
  docsite/src/pages/design/philosophy.astro
  docsite/src/pages/design/philosophy/[id].astro
Due: none

feat(dev-auth): add local 2FA token bootstrap flow for mise dev
  README.md
  backend/mise.toml
  docs/guide/env-matrix.md
  docs/guide/local-dev-auth-login.md
  docs/guide/troubleshooting-unauthorized-spaces.md
  frontend/mise.toml
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/index.tsx
  scripts/dev-auth-env.sh
Due: ty-backend, biome-ci

fix(ci): add docker build contexts in sbom workflow
  .github/workflows/sbom-ci.yml
Due: none

fix(ci): scope sbom critical gate to image artifacts
  .github/workflows/sbom-ci.yml
  docs/spec/security/overview.md
  docs/spec/testing/ci-cd.md
Due: none

fix(ci): gate critical vulns on source sboms
  .github/workflows/sbom-ci.yml
  docs/spec/security/overview.md
  docs/spec/testing/ci-cd.md
Due: none
