Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

feat(assets): add Assets metadata form and dashboard uploader
  frontend/src/components/AssetUploader.tsx
  frontend/src/lib/metadata-forms.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  ugoite-core/src/asset.rs
  ugoite-core/src/metadata.rs
Due: rustfmt, cargo-clippy, ty-core, biome-ci

docs(ui): expand page specs and enforce route parity checks
  docs/spec/ui/README.md
  docs/spec/ui/components/space-shell.yaml
  docs/spec/ui/pages/space-asset-detail.yaml
  docs/spec/ui/pages/space-assets.yaml
  docs/spec/ui/pages/space-entry-history.yaml
  docs/spec/ui/pages/space-entry-restore.yaml
  docs/spec/ui/pages/space-entry-revision.yaml
  docs/spec/ui/pages/space-form-detail.yaml
  docs/spec/ui/pages/space-form-types.yaml
  docs/spec/ui/pages/space-home.yaml
  docs/spec/ui/pages/space-link-detail.yaml
  docs/spec/ui/pages/space-links.yaml
  docs/spec/ui/pages/space-query-legacy.yaml
  docs/spec/ui/pages/space-sql-detail.yaml
  docs/spec/ui/pages/space-sql.yaml
  docs/spec/ui/pages/space-test-connection.yaml
  frontend/src/spec/ui-pages.test.ts
Due: biome-ci

feat(docsite): redesign docs shell and adopt shared theme stylesheet
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/navigation.ts
  docsite/src/pages/docs/[...slug].astro
  docsite/src/pages/index.astro
  docsite/src/styles.css
  shared/themes/ui-theme-docsite.css
Due: none

feat(docsite): add EN/JA locale switch for docsite chrome text
  docsite/src/components/ThemeSwitcher.astro
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/i18n.ts
  docsite/src/pages/docs/[...slug].astro
  docsite/src/pages/index.astro
Due: none

refactor: deduplicate column type select class
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: log asset cleanup failures
  ugoite-core/src/asset.rs
Due: rustfmt, cargo-clippy, ty-core

fix: address docsite CSS review feedback
  docsite/src/styles.css
  shared/themes/ui-theme-docsite.css
Due: none

fix: optimize locale updates in theme switcher
  docsite/src/components/ThemeSwitcher.astro
Due: none

docs(spec): add OSS governance hierarchy and traceability checks
  docs/spec/README.md
  docs/spec/index.md
  docs/spec/philosophy/oss.yaml
  docs/spec/policies/oss.yaml
  docs/spec/requirements/README.md
  docs/spec/requirements/oss.yaml
  docs/spec/specifications/oss.yaml
  docs/tests/test_oss_traceability.py
Due: none

docs(spec): add philosophy-policy-spec linkage model
  docs/spec/README.md
  docs/spec/index.md
  docs/spec/philosophy/philosophy.yaml
  docs/spec/policies/policies.yaml
  docs/spec/specifications/requirements-links.yaml
  docs/spec/specifications/specifications.yaml
  docs/tests/test_governance_links.py
Due: none

docs: add governance taxonomy and bidirectional link checks
  docs/spec/README.md
  docs/spec/index.md
  docs/spec/philosophy/foundation.yaml
  docs/spec/policies/policies.yaml
  docs/spec/requirements-defined/requirements.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/specifications-defined/specifications.yaml
  docs/tests/test_spec_governance.py
Due: none

docs: embed requirement-set metadata and flatten spec catalog
  docs/spec/README.md
  docs/spec/index.md
  docs/spec/policies/policies.yaml
  docs/spec/requirements-defined/requirements.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/asset.yaml
  docs/spec/requirements/e2e.yaml
  docs/spec/requirements/entry.yaml
  docs/spec/requirements/form.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/index.yaml
  docs/spec/requirements/integrity.yaml
  docs/spec/requirements/links.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/requirements/search.yaml
  docs/spec/requirements/security.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/specifications-defined/specifications.yaml
  docs/spec/specifications.yaml
  docs/tests/test_spec_governance.py
Due: none

docsite: overhaul IA and add human-readable YAML docs rendering
  docsite/bun.lock
  docsite/package.json
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/i18n.ts
  docsite/src/lib/navigation.ts
  docsite/src/pages/docs/[...slug].astro
  docsite/src/pages/index.astro
  docsite/src/styles.css
Due: none

docsite: graphical IA rebuild with spec-driven pages
  docs/spec/requirements/e2e.yaml
  docsite/bun.lock
  docsite/package.json
  docsite/src/components/ApiConsole.astro
  docsite/src/components/TerminalCommand.astro
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/navigation.ts
  docsite/src/lib/spec-data.ts
  docsite/src/pages/app/api-storage/apis/[kind].astro
  docsite/src/pages/app/api-storage/apis/index.astro
  docsite/src/pages/app/api-storage/data-model.astro
  docsite/src/pages/app/api-storage/index.astro
  docsite/src/pages/app/cli/commands/[kind].astro
  docsite/src/pages/app/cli/commands/index.astro
  docsite/src/pages/app/cli/index.astro
  docsite/src/pages/app/frontend/index.astro
  docsite/src/pages/app/frontend/pages/index.astro
  docsite/src/pages/app/index.astro
  docsite/src/pages/design/features.astro
  docsite/src/pages/design/index.astro
  docsite/src/pages/design/philosophy.astro
  docsite/src/pages/design/policies.astro
  docsite/src/pages/design/requirements.astro
  docsite/src/pages/docs/[...slug].astro
  docsite/src/pages/index.astro
  docsite/src/styles.css
  e2e/ui-pages-screenshots.test.ts
Due: none

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

feat(docsite): modern UI rebuild with relationship map, improved YAML rendering, and GitHub Pages deployment
  .github/workflows/docsite-pages.yml
  docsite/astro.config.mjs
  docsite/bun.lock
  docsite/src/components/ApiConsole.astro
  docsite/src/components/Icon.astro
  docsite/src/components/TerminalCommand.astro
  docsite/src/components/ThemeSwitcher.astro
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/i18n.ts
  docsite/src/lib/navigation.ts
  docsite/src/lib/spec-data.ts
  docsite/src/pages/app/api-storage/apis/[kind].astro
  docsite/src/pages/app/api-storage/apis/index.astro
  docsite/src/pages/app/api-storage/data-model.astro
  docsite/src/pages/app/api-storage/index.astro
  docsite/src/pages/app/cli/commands/[kind].astro
  docsite/src/pages/app/cli/commands/index.astro
  docsite/src/pages/app/cli/index.astro
  docsite/src/pages/app/frontend/index.astro
  docsite/src/pages/app/frontend/pages/index.astro
  docsite/src/pages/app/index.astro
  docsite/src/pages/design/features.astro
  docsite/src/pages/design/index.astro
  docsite/src/pages/design/philosophy.astro
  docsite/src/pages/design/policies.astro
  docsite/src/pages/design/relations.astro
  docsite/src/pages/design/requirements.astro
  docsite/src/pages/docs/[...slug].astro
  docsite/src/pages/index.astro
  docsite/src/styles.css
  shared/themes/ui-theme-docsite.css
Due: none

ci: enable CodeQL and merge_group checks
  .github/workflows/all-tests-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-build-ci.yml
  .github/workflows/docsite-ci.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/scancode.yml
Due: none
