Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

test: lock release compose auth secrets
  docs/spec/requirements/ops.yaml
  docs/tests/test_release_compose_auth_secrets.py
Due: none

docs: lead CLI guide with verify first install
  docs/guide/cli.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_cli_verify_first_install.py
Due: none

docs: surface MCP in application docs
  docs/spec/requirements/api.yaml
  docs/spec/requirements/e2e.yaml
  docsite/src/lib/app-mcp-page.test.ts
  docsite/src/lib/navigation.test.ts
  docsite/src/lib/navigation.ts
  docsite/src/pages/app/index.astro
  docsite/src/pages/app/mcp/index.astro
Due: none

docs: add contributor workflow guide
  CONTRIBUTING.md
  README.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_contributing_guide.py
Due: none

fix: sanitize API error details
  backend/src/app/api/endpoints/members.py
  backend/src/app/api/endpoints/preferences.py
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
  backend/tests/test_error_sanitization.py
  backend/tests/test_preferences.py
  backend/tests/test_space_members.py
Due: ty-backend

fix: wrap service account guide regression test\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  docs/tests/test_guides.py
Due: none

docs: clarify feature registry authoring modes
  docs/spec/features/README.md
  docs/spec/index.md
  docs/tests/test_features.py
Due: none

docs: add beginner storage settings guide
  docs/guide/browser-first-entry.md
  docs/guide/operations.md
  docs/guide/space-settings-storage.md
  docs/guide/storage-migration.md
  docs/tests/test_guides.py
  docsite/src/lib/navigation.test.ts
  docsite/src/lib/navigation.ts
Due: none

fix: pin backend image to Python 3.14.4
  backend/Dockerfile
Due: ty-backend

docs: add service account operations guide
  docs/guide/auth-overview.md
  docs/guide/service-accounts.md
  docs/tests/test_guides.py
Due: none

docs: align contributor guide validation commands
  CONTRIBUTING.md
Due: none

fix: sanitize invitation acceptance logging
  backend/src/app/api/endpoints/members.py
  backend/tests/test_space_members.py
Due: ty-backend

docs: fix MCP resource example literal
  docsite/src/lib/app-mcp-page.test.ts
  docsite/src/pages/app/mcp/index.astro
Due: none

docs: create local bin dir in verify-first install
  docs/guide/cli.md
  docs/tests/test_cli_verify_first_install.py
Due: none

test: lock active kid release compose auth config
  docs/tests/test_release_compose_auth_secrets.py
Due: none

test: generalize API readiness route guard
  docsite/src/lib/app-api-storage-healthcheck.test.ts
Due: none

test: prefer positive browser walkthrough alignment checks
  docsite/src/lib/onboarding.test.ts
Due: none

docs: add browser entry editing walkthrough
  docs/guide/browser-first-entry.md
  docs/tests/test_guides.py
Due: none

test: guard browser walkthrough Form terminology
  docs/spec/requirements/frontend.yaml
  docs/tests/test_browser_walkthrough_form_terminology.py
Due: none

docs: trace browser walkthrough terminology in ops requirements
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/ops.yaml
  docs/tests/test_browser_walkthrough_form_terminology.py
Due: none

docs: add published install path to docsite CLI page
  docs/spec/requirements/ops.yaml
  docsite/src/lib/app-cli-published-install.test.ts
  docsite/src/pages/app/cli/index.astro
Due: none

test: lock published CLI install order
  docsite/src/lib/app-cli-published-install.test.ts
Due: none

docs: harden release spaces permissions guidance
  docs/guide/container-quickstart.md
  docs/guide/troubleshooting-compose-startup.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_release_compose_directory_permissions.py
Due: none

docs: preserve host access in release spaces guidance
  docs/guide/container-quickstart.md
  docs/guide/troubleshooting-compose-startup.md
  docs/tests/test_release_compose_directory_permissions.py
Due: none

test: format release spaces permissions regression
  docs/tests/test_release_compose_directory_permissions.py
Due: none

chore(deps-dev): bump @types/node from 25.5.2 to 25.6.0 in /docsite
  docsite/bun.lock
  docsite/package.json
Due: none

docs: split README source entry paths
  README.md
  docs/tests/test_guides.py
Due: none

fix: pin backend image to supported Python 3.14.4
  backend/Dockerfile
Due: ty-backend

docs: add MCP operator-surface positioning guide
  docs/spec/api/mcp.md
  docs/spec/api/operator-surfaces.md
  docs/spec/index.md
  docs/spec/philosophy/foundation.yaml
  docs/spec/policies/policies.yaml
  docs/spec/requirements/api.yaml
  docs/spec/specifications.yaml
  docs/tests/test_mcp_docs.py
Due: none

docs: add test:docs guidance to contributing
  CONTRIBUTING.md
  docs/tests/test_contributing_guide.py
Due: none

docs: surface devcontainer contributor path
  CONTRIBUTING.md
  README.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_contributing_guide.py
Due: none

docs: document test:docs in contributing
  CONTRIBUTING.md
  docs/tests/test_contributing_guide.py
Due: none

docs: surface ugoite-minimum contributor path
  CONTRIBUTING.md
  README.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_contributing_guide.py
Due: none

docs(docsite): show backend-mode CLI landing flow
  docs/spec/requirements/ops.yaml
  docsite/bun.lock
  docsite/package.json
  docsite/src/lib/app-cli-backend-mode.test.ts
  docsite/src/pages/app/cli/index.astro
  ugoite-core/uv.lock
Due: ty-core

test(docs): trace browser walkthrough API next steps
  docs/spec/requirements/ops.yaml
  docs/tests/test_browser_walkthrough_api_next_steps.py
  docsite/bun.lock
  docsite/package.json
  ugoite-core/uv.lock
Due: ty-core

test(docs): trace browser walkthrough surface glossary
  docs/spec/requirements/ops.yaml
  docs/tests/test_browser_walkthrough_surface_glossary.py
  docsite/bun.lock
  docsite/package.json
  ugoite-core/uv.lock
Due: ty-core

test(docs): trace browser walkthrough field types
  docs/spec/requirements/ops.yaml
  docs/tests/test_browser_walkthrough_field_types.py
  docsite/bun.lock
  docsite/package.json
  ugoite-core/uv.lock
Due: ty-core

test(docs): trace browser walkthrough first-entry recap
  docs/spec/requirements/ops.yaml
  docs/tests/test_browser_walkthrough_post_entry_recap.py
  docsite/bun.lock
  docsite/package.json
  ugoite-core/uv.lock
Due: ty-core

test(docs): trace browser walkthrough search guidance
  docs/spec/requirements/ops.yaml
  docs/tests/test_browser_walkthrough_search_surface.py
  docsite/bun.lock
  docsite/package.json
  ugoite-core/uv.lock
Due: ty-core

feat(cli): expose version flag
  docs/guide/cli.md
  ugoite-cli/src/main.rs
  ugoite-cli/tests/integration_test.rs
Due: rustfmt, cargo-clippy, ty-cli
