Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix(security): harden space-scoped response HMAC loading
  backend/src/app/core/security.py
  backend/tests/test_api.py
  docs/spec/requirements/integrity.yaml
Due: ty-backend

fix(tests): satisfy backend lint for hmac hardening
  backend/src/app/core/security.py
  backend/tests/test_api.py
Due: ty-backend

fix(backend): use typed threadpool helper for hmac I/O
  backend/src/app/core/security.py
Due: ty-backend

fix(backend): keep default signature call compatibility
  backend/src/app/core/middleware.py
  backend/src/app/core/security.py
Due: ty-backend

test(backend): cover hmac loader edge cases
  backend/tests/test_api.py
  docs/spec/requirements/integrity.yaml
Due: ty-backend

feat(release): enforce conventional commits and automate releases
  .changeset/README.md
  .changeset/config.json
  .commitlintrc.cjs
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/commitlint-ci.yml
  .github/workflows/release-ci.yml
  .gitignore
  .husky/commit-msg
  .releaserc.json
  docs/spec/testing/ci-cd.md
  mise.toml
  package-lock.json
  package.json
Due: none

fix(ci): stabilize devcontainer CI registry pulls
  .github/workflows/devcontainer-ci.yml
  docs/spec/testing/ci-cd.md
Due: none

feat(dev-auth): automate local login flow for mise run dev
  README.md
  backend/mise.toml
  docs/guide/env-matrix.md
  docs/guide/local-dev-auth-login.md
  docs/guide/troubleshooting-unauthorized-spaces.md
  frontend/mise.toml
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/index.tsx
  scripts/dev-auth-env.sh
Due: ty-backend, biome-ci

chore(docsite): upgrade tailwindcss to v4 integration
  docsite/astro.config.mjs
  docsite/bun.lock
  docsite/package.json
  docsite/src/styles.css
Due: none

chore(commitlint): disable body max line length
  .commitlintrc.cjs
Due: none

test(docs): enforce user-management requirement coverage
  docs/tests/test_requirements.py
  docs/version/v0.1/user-management.yaml
Due: none

docs(version): split v0.1 release-preparation milestone
  docs/version/v0.1.yaml
  docs/version/v0.1/release-preparation.yaml
Due: none

fix(docsite): order philosophies by PHIL id
  docsite/src/lib/spec-data.ts
Due: none

chore(license): adopt MIT across repository metadata
  LICENSE
  README.md
  backend/pyproject.toml
  docsite/package.json
  e2e/package.json
  frontend/package.json
  package-lock.json
  package.json
  ugoite-cli/Cargo.toml
  ugoite-core/Cargo.toml
  ugoite-core/pyproject.toml
Due: ty-backend, ty-cli, ty-core, biome-ci

ci(shell): add shell format, lint, and syntax gates
  .github/workflows/shell-ci.yml
  .pre-commit-config.yaml
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
  e2e/scripts/smoke-test.sh
  scripts/check-shell-quality.sh
  scripts/dev-auth-env.sh
  scripts/local-smoke-check.sh
Due: none

feat(ci): add YAML/workflow lint gates
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

feat(rust): align pre-commit Rust test parity with CI
  .pre-commit-config.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

feat(docsite): add format/lint/validation parity gates
  .github/workflows/docsite-ci.yml
  .pre-commit-config.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  docsite/package.json
Due: none

test(docs): fix lint in requirement coverage tests
  docs/tests/test_requirements.py
Due: none

ci(yaml): split YAML lint gates from Python CI
  .github/workflows/python-ci.yml
  .github/workflows/scancode.yml
  .github/workflows/yaml-workflow-ci.yml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

test(docs): wrap YAML workflow gate assertion line
  docs/tests/test_guides.py
Due: none

chore(repo): remove placeholder root artifacts
  .github/workflows/yaml-workflow-ci.yml
  .pre-commit-config.yaml
  dev.log
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  scripts/check-placeholder-artifacts.sh
Due: none

feat: migrate release flow to release-please
  .changeset/README.md
  .changeset/config.json
  .github/.release-please-manifest.json
  .github/release-please-config.json
  .github/workflows/release-ci.yml
  .github/workflows/release-publish.yml
  .releaserc.json
  docs/spec/testing/ci-cd.md
  package.json
Due: none

feat: enforce PR template body validation
  .github/pull_request_template.md
  .github/workflows/pr-require-close-issue.yml
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
Due: none

fix: map PR template gate to REQ-OPS-006
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
Due: none

fix(tests): align backend SQL stream mock typing
  backend/tests/test_sql.py
Due: ty-backend

fix(release): bootstrap release CI from 0.0.1
  .github/.release-please-manifest.json
  .github/workflows/release-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  package-lock.json
  package.json
Due: none

fix(dev): wait for backend before frontend startup
  docs/guide/local-dev-auth-login.md
  docs/spec/requirements/ops.yaml
  docs/tests/test_guides.py
  frontend/mise.toml
  scripts/wait-for-http.sh
Due: biome-ci

fix(rust): bound target cache growth
  .github/workflows/rust-ci.yml
  .pre-commit-config.yaml
  README.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  mise.toml
  scripts/cleanup-rust-targets.sh
  ugoite-cli/mise.toml
  ugoite-core/mise.toml
Due: ty-cli, ty-core

ci(devcontainer): narrow smoke triggers
  .github/workflows/devcontainer-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

feat: split portable minimum core
  .github/workflows/rust-ci.yml
  .pre-commit-config.yaml
  Cargo.toml
  docs/spec/architecture/decisions.md
  docs/spec/architecture/future-proofing.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/stack.md
  docs/spec/index.md
  docs/spec/requirements/integrity.yaml
  docs/spec/requirements/storage.yaml
  docs/spec/testing/ci-cd.md
  docs/spec/testing/strategy.md
  docs/tests/test_requirements.py
  mise.toml
  ugoite-core/Cargo.toml
  ugoite-core/mise.toml
  ugoite-core/src/integrity.rs
  ugoite-core/src/link.rs
  ugoite-core/src/metadata.rs
  ugoite-core/src/search.rs
  ugoite-core/src/space.rs
  ugoite-core/src/storage/mod.rs
  ugoite-minimum/Cargo.toml
  ugoite-minimum/mise.toml
  ugoite-minimum/src/integrity.rs
  ugoite-minimum/src/lib.rs
  ugoite-minimum/src/link.rs
  ugoite-minimum/src/metadata.rs
  ugoite-minimum/src/search.rs
  ugoite-minimum/src/space.rs
  ugoite-minimum/src/storage.rs
  ugoite-minimum/tests/test_integrity.rs
  ugoite-minimum/tests/test_storage.rs
Due: rustfmt, cargo-clippy, ty-core

fix(ci): share rust target root in CI
  .github/workflows/rust-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix(ci): align devcontainer trigger matching
  .github/workflows/devcontainer-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

chore(build): wire ugoite-minimum build contexts
  .github/workflows/docker-build-ci.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/sbom-ci.yml
  backend/Dockerfile
  docker-compose.yaml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  ugoite-core/mise.toml
Due: ty-backend, ty-core

style: format docs guide tests
  docs/tests/test_guides.py
Due: none

docs: align CLI docs with Rust implementation
  .github/workflows/docsite-pages.yml
  .pre-commit-config.yaml
  AGENTS.md
  docs/guide/cli.md
  docs/spec/architecture/future-proofing.md
  docs/spec/architecture/overview.md
  docs/spec/architecture/stack.md
  docs/spec/features/README.md
  docs/spec/testing/ci-cd.md
  docsite/src/pages/app/cli/index.astro
Due: none

fix: enforce local space privacy permissions
  docs/spec/requirements/storage.yaml
  docs/spec/security/overview.md
  ugoite-cli/tests/test_space.rs
  ugoite-core/Cargo.toml
  ugoite-core/src/space.rs
  ugoite-core/tests/test_space.rs
Due: rustfmt, cargo-clippy, ty-cli, ty-core

docs: align conflict handling contract
  docs/spec/architecture/decisions.md
  docs/spec/architecture/frontend-backend-interface.md
  docs/spec/requirements/frontend.yaml
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/MarkdownEditor.test.tsx
Due: biome-ci

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
