Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

test(e2e): assert asset entry responses
  e2e/entries.test.ts
Due: none

test(e2e): bound asset response waits
  e2e/entries.test.ts
Due: none

test(e2e): trace asset-owned flow phases
  e2e/entries.test.ts
Due: none

test(e2e): bound asset transition waits
  e2e/entries.test.ts
Due: none

fix: close final issue 1821 review blockers
  Cargo.lock
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-iceberg/Cargo.toml
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_index.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_service.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

test(e2e): bound asset removal action
  e2e/entries.test.ts
Due: none

test(e2e): target asset item removal by card
  e2e/entries.test.ts
Due: none

test(e2e): await second asset entry navigation
  e2e/entries.test.ts
Due: none

fix: resolve final issue 1821 review blockers
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix: close issue 1821 typed Iceberg reads
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/read_schema_provider.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix: preserve Iceberg read pushdown across schema evolution
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/read_schema_provider.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix(frontend): remove stale asset field setter
  frontend/src/components/AssetField.tsx
Due: biome-ci

fix: accept Markdown asset-reference lists
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/tests/test_asset.rs
Due: rustfmt, cargo-clippy

test: stabilize authorized asset entry read
  crates/ugoite-iceberg/tests/test_service.rs
  e2e/entries.test.ts
Due: rustfmt, cargo-clippy

fix: surface form and entry validation errors
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-core/src/error.rs
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/test_form.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/data-model/overview.md
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/client.test.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix: type list and asset validation errors
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

chore(deps): keep Arrow JSON aligned with the stack
  .github/dependabot.yml
  Cargo.lock
  crates/ugoite-iceberg/Cargo.toml
Due: none

fix: close remaining form and entry validation gaps
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: rustfmt, cargo-clippy, biome-ci

test: accept wrapped entry validation details
  frontend/src/components/EntryDetailPane.test.tsx
Due: biome-ci

docs: align entry error codes
  docs/spec/api/rest.md
Due: none

test: align legacy entry expectations with v1 contract
  crates/ugoite-iceberg/tests/test_entry.rs
Due: rustfmt, cargo-clippy

test: use existing assets in validation contract
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

feat: add checkpoint time travel and append restore
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-core/src/error.rs
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/form.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
  docs/spec/api/rest.md
  docs/spec/features/entries.yaml
  docs/spec/features/spaces.yaml
  frontend/src/lib/entry-api.ts
  frontend/src/lib/generated/openapi-types.ts
  frontend/src/lib/space-api.ts
  frontend/src/lib/ugoite-client/protocol.ts
Due: rustfmt, cargo-clippy, biome-ci

test: remove obsolete form default value assertion
  frontend/src/components/create-dialogs.test.tsx
Due: biome-ci

fix: reject legacy space authorization markers
  crates/ugoite-iceberg/src/authorization.rs
Due: rustfmt, cargo-clippy

fix: preflight unsupported Space layouts
  crates/ugoite-iceberg/src/authorization.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix: close unsupported Space layout paths
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
  docs/guide/develop/local-dev-auth-login.md
  docs/guide/operate/auth/auth-overview.md
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
Due: rustfmt, cargo-clippy

fix: validate complete Space metadata
  crates/ugoite-iceberg/src/space.rs
  crates/ugoite-iceberg/tests/test_space.rs
Due: rustfmt, cargo-clippy

fix: allow rootless storage URIs
  crates/ugoite-iceberg/src/space.rs
Due: rustfmt, cargo-clippy

fix(frontend): use date inputs for date fields
  docs/spec/ui/pages/space-entry-detail.yaml
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
Due: biome-ci

fix(frontend): redirect logged-out routes to login
  frontend/src/app.tsx
  frontend/src/components/AuthGate.test.tsx
  frontend/src/components/AuthGate.tsx
  frontend/src/lib/auth-api.ts
  frontend/src/lib/auth-route.test.ts
  frontend/src/lib/auth-route.ts
  frontend/src/routes/device.test.tsx
  frontend/src/routes/device.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/login.test.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover.test.tsx
  frontend/src/routes/recover.tsx
  frontend/src/routes/setup.test.tsx
  frontend/src/routes/setup.tsx
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
Due: biome-ci

fix(ci): keep Arrow stack updates lockstep
  .github/dependabot.yml
Due: none

test(e2e): wait for passkey setup readiness
  e2e/global-setup.ts
Due: none

fix(frontend): ignore deprecated required fields on entry creation
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/types.ts
Due: biome-ci

fix(frontend): validate form names in create dialog
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/metadata-forms.ts
  shared/i18n/ui.json
Due: biome-ci

fix(frontend): add Form-owned asset workspace
  crates/ugoite-api-client/src/lib.rs
  docs/spec/ui/index.md
  docs/spec/ui/pages/space-assets.yaml
  frontend/src/lib/entry-api.ts
  frontend/src/routes/spaces/[space_id]/assets.test.tsx
  frontend/src/routes/spaces/[space_id]/assets.tsx
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

test(e2e): wait for asset entry availability
  e2e/entries.test.ts
Due: none

test(e2e): retry asset entry reads
  e2e/entries.test.ts
Due: none

fix: honor deprecated fields across entry creation
  e2e/entries.test.ts
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
