Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

fix(security): redact bootstrap bearer token in logs
  ugoite-core/tests/test_auth.py
  ugoite-core/ugoite_core/auth.py
Due: ty-core

fix(security): trust proxy headers only in explicit mode
  backend/src/app/core/middleware.py
  backend/src/app/core/security.py
  backend/tests/test_api.py
Due: ty-backend

fix(api): validate space create payload ids
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
Due: ty-backend

fix(api): validate client-provided entry id on create
  backend/src/app/api/endpoints/entry.py
  backend/tests/test_api.py
Due: ty-backend

fix(api): return error when list spaces fails
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
Due: ty-backend

fix(api): stream sql session rows incrementally
  backend/src/app/api/endpoints/sql_sessions.py
  backend/tests/test_api.py
Due: ty-backend

fix(proxy): forward request headers via explicit allowlist
  frontend/src/routes/api/[...path].ts
Due: biome-ci

fix(proxy): log upstream failures on 502 path
  frontend/src/routes/api/[...path].ts
Due: biome-ci

chore(req): register auth redaction test traceability
  docs/spec/requirements/security.yaml
  ugoite-core/tests/test_auth.py
Due: ty-core

test(api): reject empty explicit entry id
  backend/src/app/api/endpoints/entry.py
  backend/tests/test_api.py
Due: ty-backend

phase5: implement core-first service-account api key auth
  backend/src/app/api/api.py
  backend/src/app/api/endpoints/service_accounts.py
  backend/src/app/core/auth.py
  backend/src/app/core/middleware.py
  backend/src/app/models/payloads.py
  backend/tests/test_service_accounts.py
  docs/spec/api/mcp.md
  docs/spec/api/rest.md
  docs/spec/features/spaces.yaml
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  docs/tasks/tasks.md
  frontend/src/routes/api/[...path].ts
  ugoite-cli/pyproject.toml
  ugoite-cli/src/ugoite/cli.py
  ugoite-cli/src/ugoite/space.py
  ugoite-cli/tests/test_cli_endpoint_routing.py
  ugoite-core/pyproject.toml
  ugoite-core/tests/test_service_accounts.py
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/auth.py
  ugoite-core/ugoite_core/authz.py
  ugoite-core/ugoite_core/service_accounts.py
Due: ty-backend, ty-cli, ty-core, biome-ci

phase5: harden service key hashing and rotation flow
  docs/spec/security/overview.md
  ugoite-core/ugoite_core/service_accounts.py
Due: ty-core

phase5: remove weak hash fallback for api key verification
  ugoite-core/ugoite_core/service_accounts.py
Due: ty-core

feat(service-accounts): add legacy hash support for API key verification
  ugoite-core/ugoite_core/service_accounts.py
Due: ty-core

refactor(core): move service API key hash/verify into Rust
  ugoite-core/Cargo.lock
  ugoite-core/Cargo.toml
  ugoite-core/src/lib.rs
  ugoite-core/ugoite_core/service_accounts.py
Due: rustfmt, cargo-clippy, ty-core

chore: add PR template and enforce close issue link
  .github/pull_request_template.md
  .github/workflows/pr-require-close-issue.yml
Due: none

fix(api): apply sql-session review feedback
  backend/src/app/api/endpoints/sql_sessions.py
  backend/tests/test_api.py
Due: ty-backend

fix(api): preserve paged sql stream behavior after rebase
  backend/src/app/api/endpoints/sql_sessions.py
Due: ty-backend

feat(ops): add backend health endpoint and quick guide
  README.md
  backend/src/app/main.py
  backend/tests/test_api.py
  docs/guide/backend-healthcheck.md
Due: ty-backend

docs: add env matrix guide
  docs/guide/env-matrix.md
Due: none

docs: add unauthorized spaces troubleshooting guide
  docs/guide/troubleshooting-unauthorized-spaces.md
Due: none

docs: add auth log redaction guidance
  docs/guide/log-redaction.md
Due: none

docs: add local storage cleanup strategy
  docs/guide/storage-cleanup.md
Due: none

docs: standardize localhost binding guidance for docsite
  docsite/README.md
Due: none

ops: add dedicated backend/frontend/docsite dev tasks
  mise.toml
Due: none

ops: add sample env files for backend frontend and e2e
  backend/.env.example
  e2e/.env.example
  frontend/.env.example
Due: ty-backend, biome-ci

ops: verify and install playwright browsers in devcontainer setup
  .devcontainer/devcontainer.json
Due: none

ci: add README command drift guard workflow
  .github/workflows/readme-command-guard.yml
Due: none

ops: add artifact cleanup task for local review files
  e2e/mise.toml
  e2e/scripts/cleanup-artifacts.sh
Due: none

ops: add one-command local smoke check task
  mise.toml
  scripts/local-smoke-check.sh
Due: none

ops(cli): add endpoint routing config reset script
  ugoite-cli/scripts/reset-endpoint-config.sh
Due: ty-cli

docs(cli): add actionable backend unreachable hint
  ugoite-cli/README.md
Due: ty-cli

ops: add stale dev server cleanup script and task
  mise.toml
  scripts/cleanup-dev-ports.sh
Due: none

style: format backend sql session tests
  backend/tests/test_api.py
Due: ty-backend

Implement phase6 auth UX/devex and member management
  docs/guide/cli.md
  docs/guide/env-matrix.md
  docs/guide/troubleshooting-unauthorized-spaces.md
  docs/tasks/tasks.md
  e2e/scripts/run-e2e.sh
  e2e/space-membership.test.ts
  frontend/.env.example
  frontend/src/routes/api/[...path].ts
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/index.tsx
  ugoite-cli/src/ugoite/cli.py
  ugoite-cli/tests/test_cli_endpoint_routing.py
Due: ty-cli, biome-ci

Address PR review feedback for auth safety and UX errors
  frontend/src/routes/spaces/[space_id]/settings.tsx
  ugoite-cli/src/ugoite/cli.py
  ugoite-cli/tests/test_cli_endpoint_routing.py
Due: ty-cli, biome-ci

backend: enforce authz and acl filtering in MCP list resource
  backend/src/app/mcp/server.py
Due: ty-backend

backend mcp: surface runtime read failures instead of empty success
  backend/src/app/mcp/server.py
Due: ty-backend
