Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Pin to a stable release tag to avoid mutable references; updated with `pre-commit autoupdate`
    rev: v0.14.10
    hooks:
      - id: ruff
        # Run ruff checks in pre-commit and select all error codes to match
        # the GitHub Actions configuration (`ruff check --select ALL .`).
        # Ignore any in-source `# noqa` directives so they cannot bypass
        # the linter; apply auto-fixes during pre-commit to correct fixable
        # issues before committing.
        args: ["--select", "ALL", "--ignore-noqa", "--fix"]
      - id: ruff-format
        # Use ruff's format hook to apply auto-formatting on commit
        # (this replaces the legacy `ruff` alias)

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
        language: system
        files: \.rs$
        pass_filenames: false

      - id: ty-backend
        name: "ty: backend type check"
        entry: bash -c "cd backend && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^backend/

      - id: ty-cli
        name: "ty: ugoite-cli type check"
        entry: bash -c "cd ugoite-cli && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-cli/

      - id: ty-core
        name: "ty: ugoite-core type check"
        entry: bash -c "cd ugoite-core && uv run ty check ."
        language: system
        pass_filenames: false
        files: ^ugoite-core/

      - id: biome-ci
        name: biome ci
        # Run biome in CI mode for linting and formatting checks on frontend code
        # This matches the GitHub Actions configuration
        entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
        language: system
        pass_filenames: false
        files: ^frontend/

chore: move scripts directory under e2e
  e2e/scripts/run-e2e.sh
  e2e/scripts/smoke-test.sh
  mise.toml
Due: none

fix(ci): satisfy Ruff UP047 in run_async typing
  ugoite-cli/src/ugoite/utils.py
Due: ty-cli

fix(core): clarify gcs runtime unsupported behavior
  ugoite-core/src/lib.rs
  ugoite-core/src/storage/mod.rs
Due: rustfmt, cargo-clippy, ty-core

fix(frontend): address review comments in typecheck branch
  frontend/src/components/FormTable.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/components/SqlQueryEditor.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
Due: biome-ci

feat(frontend): add shared i18n with language switch in theme menu
  docs/spec/requirements/frontend.yaml
  frontend/src/app.tsx
  frontend/src/components/Nav.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/components/ThemeMenu.test.tsx
  frontend/src/components/ThemeMenu.tsx
  frontend/src/lib/i18n.test.ts
  frontend/src/lib/i18n.ts
  shared/i18n/ui.json
Due: biome-ci

refactor(storage): remove global registry and sample-data flows
  backend/src/app/api/endpoints/space.py
  backend/src/app/models/payloads.py
  backend/tests/test_api.py
  docs/spec/api/rest.md
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/overview.md
  docs/spec/features/spaces.yaml
  docs/spec/requirements/api.yaml
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/storage.yaml
  frontend/src/components/SpaceSelector.test.tsx
  frontend/src/components/SpaceSelector.tsx
  frontend/src/lib/client.test.ts
  frontend/src/lib/space-api.ts
  frontend/src/lib/space-store.test.ts
  frontend/src/lib/space-store.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/index.tsx
  frontend/src/test/mocks/handlers.ts
  ugoite-cli/src/ugoite/integrity.py
  ugoite-cli/tests/test_integrity.py
  ugoite-cli/tests/test_space.py
  ugoite-core/src/integrity.rs
  ugoite-core/src/lib.rs
  ugoite-core/src/space.rs
  ugoite-core/tests/test_space.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

refactor(metadata): remove canvas_position column
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  frontend/src/lib/metadata-columns.ts
  ugoite-cli/src/ugoite/entries.py
  ugoite-cli/src/ugoite/indexer.py
  ugoite-core/src/entry.rs
  ugoite-core/src/iceberg_store.rs
  ugoite-core/src/index.rs
  ugoite-core/src/metadata.rs
  ugoite-core/src/saved_sql.rs
Due: rustfmt, cargo-clippy, ty-cli, ty-core, biome-ci

test(e2e): add strict dynamic navigation traversal checks
  docs/spec/requirements/e2e.yaml
  e2e/navigation.test.ts
Due: none

fix(frontend): include shared i18n asset in docker build
  frontend/Dockerfile
Due: biome-ci

test(i18n): tighten locale typing and stabilize e2e route transitions
  e2e/ui-themes.test.ts
  frontend/src/components/ThemeMenu.tsx
  frontend/src/lib/i18n.test.ts
  frontend/src/lib/i18n.ts
Due: biome-ci

docs(core): clarify sample-data status and expose response hmac loader
  docs/spec/requirements/api.yaml
  frontend/src/lib/space-store.test.ts
  ugoite-core/src/integrity.rs
  ugoite-core/src/lib.rs
  ugoite-core/ugoite_core/__init__.py
Due: rustfmt, cargo-clippy, ty-core, biome-ci

test(e2e): harden dynamic traversal against flaky transitions
  e2e/navigation.test.ts
Due: none

ci: maximize workflow cache reuse
  .github/workflows/docker-build-ci.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/python-ci.yml
Due: none

feat(frontend): align markdown editing UX and add pwa
  frontend/app.config.ts
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/sql-session-api.ts
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
Due: biome-ci

ci(scancode): add reusable cache for scanner runtime
  .github/workflows/scancode.yml
Due: none

test(frontend): restore REQ-FE-043 error-format case
  frontend/src/lib/client.test.ts
Due: biome-ci

feat(frontend): add markdown/webform/chat entry input modes
  docs/spec/architecture/frontend-backend-interface.md
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/entry-api.ts
  frontend/src/lib/entry-input.ts
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/entry_input_modes.py
Due: ty-core, biome-ci
