Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

fix: reject pre-v1 invitation state explicitly
  crates/ugoite-identity/src/node_identity.rs
Due: rustfmt, cargo-clippy

fix: close form-owned reference review blockers
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/test_asset.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_service.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix(frontend): expand Japanese localization coverage
  frontend/src/components/AccessPolicyEditor.tsx
  frontend/src/components/AccountMenu.tsx
  frontend/src/components/CanvasPlaceholder.tsx
  frontend/src/components/EntryList.tsx
  frontend/src/components/FormList.tsx
  frontend/src/components/FormTable.test.tsx
  frontend/src/components/FormTable.tsx
  frontend/src/components/GlobalShell.tsx
  frontend/src/components/SpaceSelector.tsx
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/lib/date-format.ts
  frontend/src/lib/i18n.test.ts
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/spaces/[space_id]/assets/[asset_id].tsx
  frontend/src/routes/spaces/[space_id]/assets/index.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/forms/types.tsx
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
  frontend/src/routes/spaces/[space_id]/sql/index.tsx
  frontend/src/routes/spaces/index.tsx
  frontend/src/test/setup.ts
  shared/i18n/ui.json
Due: biome-ci

fix(frontend): complete Japanese localization coverage
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  frontend/src/components/AccessPolicyEditor.test.tsx
  frontend/src/components/AccessPolicyEditor.tsx
  frontend/src/components/AssetUploader.test.tsx
  frontend/src/components/AssetUploader.tsx
  frontend/src/components/FormTable.tsx
  frontend/src/components/ListPanel.tsx
  frontend/src/lib/auth-api.ts
  frontend/src/lib/date-format.test.ts
  frontend/src/lib/date-format.ts
  frontend/src/lib/sql-metadata.test.ts
  frontend/src/lib/sql-metadata.ts
  frontend/src/lib/types.ts
  frontend/src/lib/user-facing-error.ts
  frontend/src/routes/settings/security.test.tsx
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/spaces/[space_id]/assets/[asset_id].tsx
  frontend/src/routes/spaces/[space_id]/assets/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/settings.route.test.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
  frontend/src/routes/spaces/[space_id]/sql/index.test.tsx
  frontend/src/routes/spaces/[space_id]/sql/index.tsx
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
  frontend/src/test/mocks/handlers.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(frontend): make Japanese localization runtime-safe
  frontend/src/components/AccessPolicyEditor.tsx
  frontend/src/components/GlobalShell.test.tsx
  frontend/src/components/GlobalShell.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/lib/date-format.test.ts
  frontend/src/lib/date-format.ts
  frontend/src/lib/i18n.test.ts
  frontend/src/lib/i18n.ts
  frontend/src/lib/preferences-local.ts
  frontend/src/lib/settings-sections.ts
  frontend/src/lib/sql-metadata.test.ts
  frontend/src/lib/sql-metadata.ts
  frontend/src/lib/user-facing-error.test.ts
  frontend/src/lib/user-facing-error.ts
  frontend/src/routes/settings/security.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/settings.sections.test.ts
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
  frontend/src/routes/spaces/[space_id]/sql/index.tsx
  shared/i18n/ui.json
Due: biome-ci

fix(frontend): harden policy transitions and saved SQL
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  e2e/saved-sql-route.test.ts
  e2e/search-ui.test.ts
  e2e/ui-pages-screenshots.test.ts
  e2e/ui-themes.test.ts
  frontend/src/components/AccessPolicyEditor.test.tsx
  frontend/src/components/AccessPolicyEditor.tsx
  frontend/src/lib/auth-api.ts
  frontend/src/lib/sql-api.test.ts
  frontend/src/lib/types.ts
  frontend/src/lib/user-facing-error.ts
  frontend/src/routes/settings/security.test.tsx
  frontend/src/test/mocks/handlers.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

test exact publication invariants
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

test(e2e): narrow nullable saved SQL names
  e2e/search-ui.test.ts
  e2e/ui-themes.test.ts
Due: none

fix search result and saved SQL contracts
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-domain/src/search.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/src/sql_session.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_search.rs
  e2e/lib/client.ts
  e2e/saved-sql-route.test.ts
  e2e/ui-pages-screenshots.test.ts
  e2e/ui-themes.test.ts
  frontend/src/components/SqlQueryEditor.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/search-api.ts
  frontend/src/lib/search-store.ts
  frontend/src/lib/sql-session-api.test.ts
  frontend/src/lib/sql-session-api.ts
  frontend/src/lib/types.ts
  frontend/src/lib/ugoite-client/index.ts
  frontend/src/routes/spaces/[space_id]/entries/index.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].test.tsx
  frontend/src/test/mocks/handlers.ts
Due: rustfmt, cargo-clippy, biome-ci

fix(search): isolate history persistence from sessions
  crates/ugoite-domain/src/checkpoint.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/checkpoint.rs
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
Due: rustfmt, cargo-clippy, biome-ci

fix(deps): keep Arrow JSON dependencies aligned
  Cargo.lock
  crates/ugoite-iceberg/Cargo.toml
Due: none

fix(frontend): keep form field values writable
  docs/spec/ui/pages/space-entry-detail.yaml
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
Due: biome-ci

fix: handle browser entry timestamps without internal errors
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  docs/spec/api/rest.md
Due: rustfmt, cargo-clippy

fix asset lifecycle recovery and deletion conflicts
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/authorized_query.rs
  crates/ugoite-iceberg/tests/test_asset.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(frontend): preserve the space shell during navigation
  frontend/src/components/AccountMenu.tsx
  frontend/src/components/GlobalShell.test.tsx
  frontend/src/components/GlobalShell.tsx
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/routes/[...404].test.tsx
  frontend/src/routes/[...404].tsx
  frontend/src/routes/about.test.tsx
  frontend/src/routes/about.tsx
  frontend/src/routes/public-pages.test.tsx
  frontend/src/routes/spaces/[space_id].test.tsx
  frontend/src/routes/spaces/[space_id].tsx
  frontend/src/routes/spaces/[space_id]/assets/[asset_id].tsx
  frontend/src/routes/spaces/[space_id]/assets/index.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.test.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/[revision_id].tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/restore.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/forms/types.tsx
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.tsx
  frontend/src/routes/spaces/[space_id]/query.test.tsx
  frontend/src/routes/spaces/[space_id]/query.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].test.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
  frontend/src/routes/spaces/[space_id]/sql/index.test.tsx
  frontend/src/routes/spaces/[space_id]/sql/index.tsx
  frontend/src/routes/spaces/[space_id]/test-connection.tsx
Due: biome-ci

fix(entries): keep create revisions and timestamp types aligned
  crates/ugoite-iceberg/src/asset.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_index.rs
  crates/ugoite-server/src/lib.rs
  docs/spec/api/rest.md
  docs/spec/data-model/overview.md
  e2e/entries.test.ts
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/lib/entry-input.test.ts
  frontend/src/lib/entry-input.ts
  frontend/src/routes/spaces/[space_id]/entries/new.test.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
Due: rustfmt, cargo-clippy, biome-ci

perf(iceberg): index receipts without replaying history
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-storage/src/lib.rs
Due: rustfmt, cargo-clippy

fix(frontend): derive shell state from route matches
  frontend/src/components/AccountMenu.tsx
  frontend/src/components/GlobalShell.navigation.test.tsx
  frontend/src/components/GlobalShell.test.tsx
  frontend/src/components/GlobalShell.tsx
  frontend/src/components/SpaceShell.test.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/lib/space-shell-route.ts
  frontend/src/routes/[...404].test.tsx
  frontend/src/routes/about.test.tsx
  frontend/src/routes/spaces/[space_id].test.tsx
  frontend/src/routes/spaces/[space_id].tsx
  frontend/src/routes/spaces/[space_id]/assets.tsx
  frontend/src/routes/spaces/[space_id]/assets/[asset_id].tsx
  frontend/src/routes/spaces/[space_id]/assets/index.tsx
  frontend/src/routes/spaces/[space_id]/dashboard.tsx
  frontend/src/routes/spaces/[space_id]/entries.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id].tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/[revision_id].tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/history/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/[entry_id]/restore.tsx
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/routes/spaces/[space_id]/entries/new.tsx
  frontend/src/routes/spaces/[space_id]/forms.tsx
  frontend/src/routes/spaces/[space_id]/forms/[form_name].tsx
  frontend/src/routes/spaces/[space_id]/forms/index.tsx
  frontend/src/routes/spaces/[space_id]/forms/types.tsx
  frontend/src/routes/spaces/[space_id]/queries/[query_id]/variables.tsx
  frontend/src/routes/spaces/[space_id]/queries/new.tsx
  frontend/src/routes/spaces/[space_id]/query.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/[space_id]/sql.tsx
  frontend/src/routes/spaces/[space_id]/sql/[sql_id].tsx
  frontend/src/routes/spaces/[space_id]/sql/index.tsx
  frontend/src/routes/spaces/[space_id]/test-connection.tsx
  frontend/src/routes/spaces/index.test.tsx
  frontend/vitest.config.ts
Due: biome-ci

test(frontend): keep Solid runtime single in Vitest
  deno.lock
  frontend/vitest.config.ts
Due: biome-ci

fix(iceberg): guard pending lifecycle finalization races
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

fix(frontend): delegate shell navigation to the router
  frontend/src/components/AccountMenu.tsx
  frontend/src/components/GlobalShell.navigation.test.tsx
  frontend/src/components/GlobalShell.tsx
  frontend/src/components/SpaceShell.tsx
  frontend/src/routes/[...404].tsx
  frontend/src/routes/about.tsx
  frontend/src/routes/spaces/[space_id].test.tsx
  frontend/src/routes/spaces/index.tsx
  frontend/src/routes/spaces/join.tsx
Due: biome-ci

test(iceberg): align wall timestamp list fixtures
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix(iceberg): serialize publication start with lifecycle receipts
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

fix(sql): align saved SQL create contract
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-cli/tests/test_cli_endpoint_routing.rs
  crates/ugoite-cli/tests/test_saved_sql.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  e2e/search-ui.test.ts
  e2e/ui-pages-screenshots.test.ts
  e2e/ui-themes.test.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/settings.route.test.tsx
  frontend/src/routes/spaces/[space_id]/settings.tsx
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(iceberg): resume publishing attempts after restart
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
Due: rustfmt, cargo-clippy

fix(iceberg): adopt existing publications during recovery
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/space_catalog.rs
  crates/ugoite-iceberg/tests/workspace.rs
Due: rustfmt, cargo-clippy

fix: close PR1864 review blockers
  Cargo.lock
  crates/ugoite-cli/src/commands/entry.rs
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-cli/tests/test_cli_endpoint_routing.rs
  crates/ugoite-core/Cargo.toml
  crates/ugoite-core/src/error.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-server/src/lib.rs
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/lib/entry-api.ts
  frontend/src/lib/sql-api.test.ts
  frontend/src/lib/user-facing-error.ts
  frontend/src/routes/spaces/[space_id].test.tsx
  frontend/src/routes/spaces/[space_id].tsx
  frontend/src/routes/spaces/[space_id]/search.test.tsx
  frontend/src/routes/spaces/[space_id]/search.tsx
  frontend/src/test/mocks/handlers.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix: close PR1864 review follow-ups
  crates/ugoite-cli/src/commands/sql.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/test_saved_sql.rs
  crates/ugoite-iceberg/tests/test_sql_sessions.rs
  crates/ugoite-server/src/lib.rs
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/entry-store.test.ts
  frontend/src/lib/entry-store.ts
  frontend/src/lib/sql-api.test.ts
  frontend/src/lib/types.ts
  frontend/src/lib/user-facing-error.ts
  frontend/src/routes/spaces/[space_id]/entries/index.tsx
  frontend/src/test/mocks/handlers.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

feat(frontend): add Form-owned Asset field editors
  crates/ugoite-api-client/src/lib.rs
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-domain/tests/test_iceberg_native_domain.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/tests/test_index.rs
  docs/spec/data-model/overview.md
  frontend/src/app.css
  frontend/src/components/AssetField.test.tsx
  frontend/src/components/AssetField.tsx
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/asset-api.ts
  frontend/src/lib/asset-reference.test.ts
  frontend/src/lib/asset-reference.ts
  frontend/src/lib/client.test.ts
  frontend/src/lib/ugoite-client/index.ts
  frontend/src/lib/ugoite-client/protocol.ts
  frontend/src/test/mocks/handlers.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

feat(iceberg): move normal reads onto DataFusion
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/iceberg_store.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/test_asset.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-server/src/lib.rs
Due: rustfmt, cargo-clippy

fix(frontend): incorporate Form-owned Asset review
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-domain/tests/test_iceberg_native_domain.rs
  crates/ugoite-iceberg/tests/test_asset.rs
  e2e/entries.test.ts
  frontend/src/components/AssetField.test.tsx
  frontend/src/components/AssetField.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.test.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/asset-reference.test.ts
  frontend/src/lib/asset-reference.ts
  frontend/src/lib/ugoite-client/protocol.ts
  shared/i18n/ui.json
Due: rustfmt, cargo-clippy, biome-ci

fix(iceberg): bound normal reads inside DataFusion plans
  crates/ugoite-core/src/query.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/search.rs
  crates/ugoite-iceberg/src/service.rs
  crates/ugoite-iceberg/tests/test_search.rs
  crates/ugoite-iceberg/tests/workspace.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-server/src/openapi.json
  docs/spec/api/openapi.yaml
Due: rustfmt, cargo-clippy

fix: address Form-owned Asset review blockers
  .github/workflows/ci.yml
  crates/ugoite-domain/src/entry.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-server/src/lib.rs
  crates/ugoite-wasm/src/lib.rs
  e2e/deno.json
  e2e/entries.test.ts
  e2e/scripts/run-e2e-compose.sh
  e2e/scripts/run-e2e.sh
  frontend/src/components/AssetField.test.tsx
  frontend/src/components/AssetField.tsx
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/components/create-dialogs.tsx
  frontend/src/lib/asset-api.ts
  frontend/src/lib/asset-field-state.ts
  frontend/src/lib/asset-reference.test.ts
  frontend/src/lib/asset-reference.ts
  frontend/src/lib/ugoite-client/index.ts
  frontend/src/lib/ugoite-client/protocol.test.ts
  frontend/src/lib/ugoite-client/protocol.ts
  mise.toml
Due: rustfmt, cargo-clippy, biome-ci

fix: close DataFusion Entry read boundary
  crates/ugoite-cli/src/main.rs
  crates/ugoite-core/src/query.rs
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/search.rs
Due: rustfmt, cargo-clippy

fix(frontend): make asset uploads draft-owned
  frontend/src/components/AssetField.test.tsx
  frontend/src/components/AssetField.tsx
  frontend/src/components/EntryDetailPane.test.tsx
  frontend/src/components/EntryDetailPane.tsx
  frontend/src/lib/asset-field-state.ts
  tools/workspace_test.ts
Due: biome-ci

fix: close remaining issue 1821 blockers
  crates/ugoite-iceberg/src/entry.rs
  crates/ugoite-iceberg/src/index.rs
  crates/ugoite-iceberg/src/lib.rs
  crates/ugoite-iceberg/src/query_context.rs
  crates/ugoite-iceberg/src/saved_sql.rs
  crates/ugoite-iceberg/tests/test_entry.rs
  crates/ugoite-iceberg/tests/test_index.rs
Due: rustfmt, cargo-clippy

fix(ci): register asset-owned e2e task
  deno.json
Due: none

fix(e2e): run asset acceptance through parity
  deno.json
  tools/workspace_test.ts
Due: none

test(e2e): use created space ids
  e2e/entries.test.ts
Due: none

test(e2e): allow asset flow time
  e2e/entries.test.ts
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
