Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

ci: enable CodeQL and merge_group checks
  .github/workflows/docsite-ci.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/scancode.yml
Due: none

fix(docsite): address all 8 PR review comments and add detail pages
  docs/spec/requirements/e2e.yaml
  docsite/bun.lock
  docsite/package.json
  docsite/src/components/ApiConsole.astro
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/navigation.ts
  docsite/src/lib/spec-data.ts
  docsite/src/pages/app/frontend/pages/[id].astro
  docsite/src/pages/app/frontend/pages/index.astro
  docsite/src/pages/design/philosophy.astro
  docsite/src/pages/design/philosophy/[id].astro
  docsite/src/pages/design/policies.astro
  docsite/src/pages/design/policies/[id].astro
  docsite/src/pages/design/relations.astro
  docsite/src/pages/docs/[...slug].astro
  docsite/src/styles.css
  e2e/ui-pages-screenshots.test.ts
Due: none

fix: apply biome formatting fixes
  .github/workflows/docsite-pages.yml
  docsite/.gitignore
  docsite/astro.config.mjs
  docsite/mise.toml
  docsite/src/lib/navigation.ts
  docsite/src/lib/spec-data.ts
  docsite/src/pages/app/frontend/index.astro
  docsite/src/pages/app/frontend/pages/[id].astro
  docsite/src/pages/app/frontend/pages/index.astro
  docsite/src/styles.css
  docsite/tailwind.config.mjs
  e2e/mise.toml
  e2e/package.json
  e2e/scripts/run-e2e.sh
  e2e/ui-pages-screenshots.test.ts
  mise.toml
Due: none

feat: add support for subpath hosting in documentation site
  docsite/README.md
  docsite/src/layouts/BaseLayout.astro
  docsite/src/lib/base-path.ts
  docsite/src/pages/app/api-storage/apis/index.astro
  docsite/src/pages/app/api-storage/data-model.astro
  docsite/src/pages/app/api-storage/index.astro
  docsite/src/pages/app/cli/commands/index.astro
  docsite/src/pages/app/cli/index.astro
  docsite/src/pages/app/frontend/index.astro
  docsite/src/pages/app/frontend/pages/[id].astro
  docsite/src/pages/app/frontend/pages/index.astro
  docsite/src/pages/app/index.astro
  docsite/src/pages/design/features.astro
  docsite/src/pages/design/index.astro
  docsite/src/pages/design/philosophy.astro
  docsite/src/pages/design/philosophy/[id].astro
  docsite/src/pages/design/policies.astro
  docsite/src/pages/design/policies/[id].astro
  docsite/src/pages/design/relations.astro
  docsite/src/pages/docs/[...slug].astro
  docsite/src/pages/index.astro
Due: none

Update docsite/README.md
  docsite/README.md
Due: none

docs: archive milestone 3 and expand user management tasks
  docs/tasks/archive/milestone-3-markdown-as-table.md
  docs/tasks/roadmap.md
  docs/tasks/tasks.md
Due: none

docs: implement milestone4 phase0 auth and acl spec baseline
  docs/spec/api/mcp.md
  docs/spec/api/rest.md
  docs/spec/data-model/directory-structure.md
  docs/spec/data-model/overview.md
  docs/spec/data-model/sql-sessions.md
  docs/spec/requirements/form.yaml
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  docs/spec/stories/experimental.yaml
  docs/tasks/tasks.md
Due: none

docs/tests: address PR #263 review feedback
  backend/tests/test_auth.py
  backend/tests/test_auth_admin_recovery.py
  backend/tests/test_auth_passkeys_oauth2_linking.py
  backend/tests/test_entry_attribution.py
  backend/tests/test_forms_acl.py
  backend/tests/test_forms_reserved_identity.py
  docs/spec/api/mcp.md
  docs/spec/api/rest.md
  docs/spec/data-model/file-schemas.yaml
  docs/spec/data-model/overview.md
  docs/spec/requirements/form.yaml
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  docs/tasks/tasks.md
  e2e/forms-acl.test.ts
  ugoite-core/tests/test_entry_attribution.rs
  ugoite-core/tests/test_form_reserved_identity.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-core

test: remove skipped backend placeholder tests for CI
  backend/tests/test_auth.py
  backend/tests/test_auth_admin_recovery.py
  backend/tests/test_auth_passkeys_oauth2_linking.py
  backend/tests/test_entry_attribution.py
  backend/tests/test_forms_acl.py
  backend/tests/test_forms_reserved_identity.py
Due: ty-backend

test: remove skipped e2e ACL placeholder tests
  e2e/forms-acl.test.ts
Due: none

feat(auth): implement phase1 identity and auth foundation
  backend/pyproject.toml
  backend/src/app/api/api.py
  backend/src/app/core/auth.py
  backend/src/app/core/middleware.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_api_memory.py
  backend/tests/test_auth.py
  backend/tests/test_forms.py
Due: ty-backend

test(e2e): wire bearer auth through frontend and playwright
  e2e/playwright.config.ts
  e2e/scripts/run-e2e.sh
  frontend/src/routes/api/[...path].ts
Due: biome-ci

docs(auth): mark phase1 complete and update auth specs
  docs/spec/api/mcp.md
  docs/spec/api/rest.md
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  docs/tasks/tasks.md
Due: none

Improve docsite mobile navigation with drawer UI
  docs/spec/requirements/e2e.yaml
  docsite/src/components/DocNavTree.astro
  docsite/src/layouts/BaseLayout.astro
  docsite/src/styles.css
  e2e/docsite-mobile-nav.test.ts
Due: none

fix(auth): handle malformed signed token segments
  backend/src/app/core/auth.py
  backend/tests/test_auth.py
Due: ty-backend

Stabilize docsite mobile-nav e2e and cover overlay close
  docs/spec/requirements/e2e.yaml
  e2e/docsite-mobile-nav.test.ts
Due: none

Handle docsite base-path URL in mobile nav e2e
  e2e/docsite-mobile-nav.test.ts
Due: none

Fix overlay click interaction in CI e2e
  e2e/docsite-mobile-nav.test.ts
Due: none

refactor(auth): move phase1 auth foundation into ugoite-core
  backend/src/app/core/auth.py
  docs/tasks/tasks.md
  ugoite-cli/src/ugoite/endpoint_config.py
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/auth.py
Due: ty-backend, ty-cli, ty-core

fix(ci): resolve e2e fetch error and apply Copilot review feedback
  docs/spec/requirements/security.yaml
  frontend/src/routes/spaces/[space_id]/search.tsx
  ugoite-core/ugoite_core/auth.py
Due: ty-core, biome-ci

Implement Phase 2 RBAC and resource authorization
  backend/src/app/api/endpoints/asset.py
  backend/src/app/api/endpoints/entry.py
  backend/src/app/api/endpoints/forms.py
  backend/src/app/api/endpoints/search.py
  backend/src/app/api/endpoints/space.py
  backend/src/app/api/endpoints/sql.py
  backend/src/app/api/endpoints/sql_sessions.py
  backend/src/app/core/authorization.py
  backend/src/app/models/payloads.py
  backend/tests/test_forms_acl.py
  docs/tasks/tasks.md
  ugoite-core/src/space.rs
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/authz.py
Due: rustfmt, cargo-clippy, ty-backend, ty-core

Fix authz context read path and review follow-ups
  backend/src/app/api/endpoints/forms.py
  backend/src/app/core/authorization.py
  backend/tests/test_forms_acl.py
  ugoite-core/ugoite_core/authz.py
Due: ty-backend, ty-core

feat(m4-phase3): add core-first space membership collaboration
  backend/src/app/api/api.py
  backend/src/app/api/endpoints/members.py
  backend/src/app/api/endpoints/space.py
  backend/src/app/models/payloads.py
  backend/tests/test_forms_acl.py
  backend/tests/test_space_members.py
  docs/spec/features/spaces.yaml
  docs/spec/requirements/security.yaml
  docs/tasks/tasks.md
  e2e/space-membership.test.ts
  frontend/src/lib/space-api.ts
  frontend/src/lib/types.ts
  ugoite-cli/src/ugoite/cli.py
  ugoite-core/pyproject.toml
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/authz.py
  ugoite-core/ugoite_core/membership.py
Due: ty-backend, ty-cli, ty-core, biome-ci

fix(m4-phase3): address PR review for membership security and e2e
  backend/src/app/api/endpoints/space.py
  backend/tests/test_space_members.py
  docs/spec/requirements/security.yaml
  e2e/scripts/run-e2e.sh
  e2e/space-membership.test.ts
  ugoite-core/pyproject.toml
  ugoite-core/ugoite_core/authz.py
  ugoite-core/ugoite_core/membership.py
Due: ty-backend, ty-core

fix(ci): resolve ruff TC001 in members endpoint
  backend/src/app/api/endpoints/members.py
Due: ty-backend

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: address PR review feedback for issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

feat(audit): implement phase 4 audit logging and attribution
  backend/src/app/api/api.py
  backend/src/app/api/endpoints/audit.py
  backend/src/app/core/middleware.py
  backend/tests/test_audit.py
  docs/spec/api/rest.md
  docs/spec/features/spaces.yaml
  docs/spec/requirements/security.yaml
  docs/spec/security/overview.md
  docs/tasks/tasks.md
  ugoite-cli/src/ugoite/cli.py
  ugoite-core/tests/test_audit.py
  ugoite-core/ugoite_core/__init__.py
  ugoite-core/ugoite_core/audit.py
Due: ty-backend, ty-cli, ty-core

fix(audit): address PR review security and integrity issues
  docs/spec/security/overview.md
  docs/tasks/tasks.md
  ugoite-core/tests/test_audit.py
  ugoite-core/ugoite_core/audit.py
Due: ty-core

fix(audit): tighten space id sanitizer for codeql
  ugoite-core/ugoite_core/audit.py
Due: ty-core

refactor(audit): move storage I/O into rust core
  ugoite-core/src/audit.rs
  ugoite-core/src/lib.rs
  ugoite-core/ugoite_core/audit.py
Due: rustfmt, cargo-clippy, ty-core

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
