Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

docs: align member invitation routes
  docs/spec/api/rest.md
Due: none

chore: add repo codex skills
  .codex/skills/ugoite-implement/SKILL.md
  .codex/skills/ugoite-orient/SKILL.md
  .codex/skills/ugoite-release/SKILL.md
  .codex/skills/ugoite-validate/SKILL.md
  AGENTS.md
Due: none

docs: align codex skills with ci parity
  .codex/skills/ugoite-release/SKILL.md
  .codex/skills/ugoite-validate/SKILL.md
Due: none

chore(deps): refresh backend lockfiles for ruff bump
  Cargo.lock
  backend/uv.lock
Due: ty-backend

chore(deps): refresh backend lockfiles for ty bump
  Cargo.lock
  backend/uv.lock
Due: ty-backend

fix(backend): refresh ruff lock metadata
  backend/uv.lock
Due: ty-backend

fix(backend): refresh lock metadata after rebase
  Cargo.lock
  backend/uv.lock
Due: ty-backend

fix: make artifact hygiene helper portable
  scripts/check-placeholder-artifacts.sh
Due: none

fix(api): sanitize backend error responses
  backend/src/app/api/endpoints/entry.py
  backend/src/app/api/endpoints/forms.py
  backend/src/app/api/endpoints/search.py
  backend/src/app/api/endpoints/space.py
  backend/src/app/api/endpoints/sql.py
  backend/tests/test_api.py
Due: ty-backend

docs: refresh CLI release examples
  README.md
  docs/guide/cli.md
  docs/tests/test_guides.py
Due: none

docs: surface auth before browser walkthrough
  README.md
  docs/guide/browser-first-entry.md
  docs/tests/test_guides.py
  docsite/src/lib/onboarding.test.ts
  docsite/src/lib/onboarding.ts
  e2e/docsite-onboarding.test.ts
Due: none

docs: add codex pr safety helper
  .codex/skills/codex-pr-safety/SKILL.md
  .codex/skills/ugoite-implement/SKILL.md
  docs/spec/requirements/ops.yaml
  docs/tests/README.md
  docs/tests/test_pr_creation.py
  scripts/create_pr.py
Due: none

fix(api): rename duplicate test helper
  backend/tests/test_api.py
Due: ty-backend

fix(frontend): align biome ci with repo-local schema
  .github/workflows/frontend-ci.yml
  frontend/biome.json
Due: biome-ci

fix(frontend): align biome pins across ci and mise
  .github/workflows/frontend-ci.yml
  mise.toml
Due: none

test(api): relax storage connection assertion
  backend/tests/test_api.py
Due: ty-backend

docs: remove hardcoded prerelease version
  README.md
  docs/guide/cli.md
  docs/guide/container-quickstart.md
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
  docs/version/changelog/alpha.yaml
  docs/version/changelog/beta.yaml
  docs/version/changelog/stable.yaml
  packages/ugoite/bin/ugoite-install
Due: none

fix(docs): satisfy ruff in pr helper test
  docs/tests/test_pr_creation.py
Due: none

fix(docs): detect untracked files in pr helper
  docs/tests/test_pr_creation.py
  scripts/create_pr.py
Due: none

fix(docs): format pr helper test
  docs/tests/test_pr_creation.py
Due: none

fix(api): sanitize sql error responses
  backend/src/app/api/endpoints/search.py
  backend/tests/test_api.py
Due: ty-backend

fix(docs): satisfy ruff for PR safety helper
  docs/tests/test_pr_creation.py
  pyproject.toml
  scripts/create_pr.py
Due: none

fix(ci): publish backend release images natively
  .github/workflows/docker-build-ci.yml
  .github/workflows/docker-images.yml
  .github/workflows/docker-release-images.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/release-publish.yml
  .github/workflows/release-quickstart-verify-ci.yml
  .github/workflows/sbom-ci.yml
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix(ci): split release docker publish and use native arm64
  .github/workflows/docker-build-ci.yml
  .github/workflows/docker-images.yml
  .github/workflows/docker-release-images.yml
  .github/workflows/e2e-ci.yml
  .github/workflows/release-publish.yml
  .github/workflows/release-quickstart-verify-ci.yml
  .github/workflows/sbom-ci.yml
Due: none

fix(docs): align release workflow test with release images
  docs/tests/test_guides.py
Due: none

fix(ci): address release image review feedback
  .github/workflows/docker-release-images.yml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix(docs): restore Docker pinning contract text
  docs/spec/testing/ci-cd.md
Due: none

feat: add space invitation join flow
  docs/spec/features/spaces.yaml
  docs/spec/requirements/security.yaml
  frontend/src/lib/client.test.ts
  frontend/src/routes/spaces/index.test.tsx
  frontend/src/routes/spaces/index.tsx
  frontend/src/routes/spaces/join.test.tsx
  frontend/src/routes/spaces/join.tsx
  frontend/src/test/mocks/handlers.ts
Due: biome-ci

Fix space settings storage preflight
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
  docs/guide/space-settings-storage.md
  docs/guide/storage-migration.md
  docs/spec/api/rest.md
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/storage.yaml
  frontend/app.config.ts
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/lib/preferences-local.test.ts
  frontend/src/lib/preferences-local.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/[space_id]/test-connection.tsx
  frontend/src/test/setup.ts
  ugoite-core/src/python_bindings.rs
  ugoite-core/tests/test_space.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-core, biome-ci

fix: space settings storage preflight
  backend/src/app/api/endpoints/space.py
  backend/tests/test_api.py
  docs/guide/space-settings-storage.md
  docs/guide/storage-migration.md
  docs/spec/api/rest.md
  docs/spec/requirements/frontend.yaml
  docs/spec/requirements/storage.yaml
  frontend/app.config.ts
  frontend/src/components/SpaceSettings.test.tsx
  frontend/src/components/SpaceSettings.tsx
  frontend/src/lib/preferences-local.test.ts
  frontend/src/lib/preferences-local.ts
  frontend/src/lib/types.ts
  frontend/src/routes/spaces/[space_id]/settings.tsx
  frontend/src/routes/spaces/[space_id]/test-connection.tsx
  frontend/src/test/setup.ts
  ugoite-core/src/python_bindings.rs
  ugoite-core/tests/test_space.rs
Due: rustfmt, cargo-clippy, ty-backend, ty-core, biome-ci

fix: format backend API tests
  backend/tests/test_api.py
Due: ty-backend

fix: add requirement refs for local preferences tests
  frontend/src/lib/preferences-local.test.ts
Due: biome-ci

fix(ci): align CodeQL with required checks
  .github/required-status-checks.json
  .github/workflows/codeql.yml
  CONTRIBUTING.md
  docs/spec/requirements/ops.yaml
  docs/spec/testing/ci-cd.md
  docs/tests/test_guides.py
Due: none

fix: skip devcontainer browser deps in ci
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer-ci.yml
  docs/spec/testing/ci-cd.md
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
