Repository tohboeh5/ieapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-clippy, ty-backend, ty-cli, ty-core, biome-ci

rustfmt:
  name: rustfmt
  entry: cargo fmt --manifest-path ugoite-core/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c "cd ugoite-core && uv run cargo clippy -- -D warnings"
  language: system
  pass_filenames: false

ty-backend:
  name: 'ty: backend type check'
  entry: bash -c "cd backend && uv run ty check ."
  language: system
  pass_filenames: false

ty-cli:
  name: 'ty: ugoite-cli type check'
  entry: bash -c "cd ugoite-cli && uv run ty check ."
  language: system
  pass_filenames: false

ty-core:
  name: 'ty: ugoite-core type check'
  entry: bash -c "cd ugoite-core && uv run ty check ."
  language: system
  pass_filenames: false

biome-ci:
  name: biome ci
  entry: bash -c "cd frontend && bunx @biomejs/biome@2.3.5 ci ."
  language: system
  pass_filenames: false

test(cli): isolate endpoint config env overrides
  ugoite-cli/tests/test_cli_form.py
  ugoite-cli/tests/test_endpoint_config.py
Due: ty-cli

test(docs): satisfy strict ruff exception rules
  docs/tests/test_guides.py
Due: none

feat(backend): add basic payload schema constraints (#483)
  backend/src/app/models/payloads.py
  backend/tests/test_api.py
Due: ty-backend

ci: use guaranteed shell check in devcontainer smoke
  .github/workflows/devcontainer-ci.yml
Due: none

fix(backend): unify delete asset 404 detail contract (#482)
  backend/src/app/api/endpoints/asset.py
  backend/tests/test_api.py
Due: ty-backend

fix(backend): cap query filter payload size (#481)
  backend/src/app/api/endpoints/search.py
  backend/tests/test_api.py
Due: ty-backend

fix(cli): send structured logs to stderr (#479)
  ugoite-cli/src/ugoite/logging_utils.py
Due: ty-cli

fix(docsite): deduplicate overlapping docs slugs (#477)
  docsite/src/pages/docs/[...slug].astro
Due: none

devex(docsite): pin dev host to IPv4 localhost (#474)
  docsite/package.json
Due: none

docs: refresh README milestone status (#473)
  README.md
Due: none

docs: align dev task scope in README (#472)
  README.md
Due: none

docs: fix root test command in README (#471)
  README.md
Due: none

feat(docsite): add in-site search experience (#470)
  docsite/src/layouts/BaseLayout.astro
  docsite/src/pages/search-index.json.ts
  docsite/src/styles.css
Due: none

feat(devcontainer): mount gh config and setup git auth (#467)
  .devcontainer/devcontainer.json
Due: none

Remove unnecessary closure artifact files for issues 300, 303, 305, 306, 308, 309, 310, 311, 312, 313, 318, 320, 326, 328, 329, 419, 420, 421, 422, and 423 (#465)
  backend/issue_closures/issue-300.txt
  backend/issue_closures/issue-303.txt
  backend/issue_closures/issue-305.txt
  backend/issue_closures/issue-306.txt
  backend/issue_closures/issue-308.txt
  backend/issue_closures/issue-309.txt
  backend/issue_closures/issue-310.txt
  backend/issue_closures/issue-311.txt
  backend/issue_closures/issue-312.txt
  backend/issue_closures/issue-313.txt
  backend/issue_closures/issue-318.txt
  backend/issue_closures/issue-320.txt
  backend/issue_closures/issue-326.txt
  backend/issue_closures/issue-328.txt
  backend/issue_closures/issue-329.txt
  backend/issue_closures/issue-419.txt
  backend/issue_closures/issue-420.txt
  backend/issue_closures/issue-421.txt
  backend/issue_closures/issue-422.txt
  backend/issue_closures/issue-423.txt
Due: ty-backend

feat(frontend): add timeout and abort handling to api proxy (#398)
  frontend/src/routes/api/[...path].ts
Due: biome-ci

ops: add CI guard for docs command drift in README (#373)
  .github/workflows/readme-command-guard.yml
Due: none

ci: require 100 percent Rust coverage for ugoite-core (#469)
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
Due: none

feat(cli): add env override for endpoint config path (#478)
  ugoite-cli/README.md
  ugoite-cli/src/ugoite/endpoint_config.py
  ugoite-cli/tests/test_cli_form.py
  ugoite-cli/tests/test_endpoint_config.py
Due: ty-cli

test(docs): guard README command drift in CI (#475)
  docs/tests/test_guides.py
Due: none

ci: validate devcontainer build and runtime smoke test (#468)
  .github/workflows/devcontainer-ci.yml
Due: none

fix(backend): add max query length guard for search (#480)
  backend/src/app/api/endpoints/search.py
  backend/tests/test_api.py
Due: ty-backend

Revert "feat(devcontainer): mount gh config and setup git auth (#467)"
  .devcontainer/devcontainer.json
Due: none

Revert "feat(devcontainer): mount gh config and setup git auth (#467)" (#485)
  .devcontainer/devcontainer.json
Due: none

fix(e2e): remove static bearer token fallback
  e2e/playwright.config.ts
  e2e/scripts/run-e2e.sh
Due: none

perf(backend): avoid quadratic response body buffering
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
Due: ty-backend

test(cli): isolate endpoint config from user home
  ugoite-cli/tests/conftest.py
Due: ty-cli

fix(backend): use get_space when loading form ACL settings
  backend/src/app/api/endpoints/forms.py
Due: ty-backend

fix(ci): skip close-link validation for dependabot PRs
  .github/workflows/pr-require-close-issue.yml
Due: none

fix(ci): skip close-link validation for dependabot PRs (#504)
  .github/workflows/pr-require-close-issue.yml
Due: none

docs(version): add YAML version milestone definitions
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/spec/requirements/ops.yaml
  docs/tasks/roadmap.md
  docs/tests/test_versions.py
  docs/version/v0.1.yaml
  docs/version/v0.2.yaml
Due: none

fix(e2e): use configured bearer token in membership tests
  e2e/space-membership.test.ts
Due: none

fix(backend): use get_space when loading form ACL settings (#502)
  backend/src/app/api/endpoints/forms.py
Due: ty-backend

test(cli): isolate endpoint config from user home (#501)
  ugoite-cli/tests/conftest.py
Due: ty-cli

perf(backend): avoid quadratic response body buffering (#500)
  backend/src/app/core/middleware.py
  backend/tests/test_api.py
Due: ty-backend

fix(docsite): apply base path to search result links
  docsite/src/pages/search-index.json.ts
Due: none

feat(docsite): add header subgroup navigation
  docsite/src/layouts/BaseLayout.astro
  docsite/src/styles.css
Due: none

docs(docsite): hide removed space links pages
  docsite/src/lib/spec-data.ts
Due: none

fix(e2e): remove hardcoded default bearer token (#499)
  e2e/playwright.config.ts
  e2e/scripts/run-e2e.sh
  e2e/space-membership.test.ts
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ty-backend: any of: ^backend/
  ty-cli: any of: ^ugoite-cli/
  ty-core: any of: ^ugoite-core/
  biome-ci: any of: ^frontend/
